[2021-11-01 18:39] Cashe93 commented on #327
@Tanmanfalcon, in response to the Bankfull Width legend descriptions:

@MattReimer, correct me if I'm wrong, but there is no way to reference line width in the WebRAVE legend. I believe it's a limitation in Mapbox.

[2021-11-01 18:45] Tanmanfalcon commented on #330
# Issues
After reviewing QRAVE and comparing with ArcRAVE (#335), I have found the following issues

## Mean Annual Precipitation
min/max values for color ramp are not the same as Arc and cause Q to display precipitation as one solid color.
**Symbology in QRAVE:**
![image](https://user-images.githubusercontent.com/89225401/139336081-0f4ffffe-c24b-4037-a5ca-9f6137287931.png)
![image](https://user-i

[2021-11-01 18:50] MattReimer commented on #327
@Tanmanfalcon the fair market value not loading is nothing you can control. Hopefully as I move through the system we'll be able to re-run anything that's stuck or failed. If you're looking to validate a layer try to find a project where the tiles built.

Not a limitation in mapbox. Just a limitation in the way I've written the legend. If we want a dimension other than color that will need to be a

[2021-11-01 19:10] Cashe93 commented on #322
Thanks, @MattReimer. I think this worked. I've just submitted a pull request.

[2021-11-01 19:15] MattReimer commented on #322
I've merged it but I don't see anything in there about which direction the arrow should point. Isn't there a field that tells you which way downstream is?

[2021-11-01 19:36] Cashe93 commented on #322
The symbology for both Arc and Q are just applied to the entire network as a single symbol, but are somehow (mostly) accurate? However, there is a field for flow direction with 0 and 1. Assuming 1 is downstream and 0 is upstream, I'll update the symbology across all three RAVE platforms.

[2021-11-01 21:20] Tanmanfalcon commented on #327
@MattReimer So what I understand is that none of these issues can be fixed in the near future, except for maybe the precipitation raster discussed in #310 and #319?

[2021-11-01 21:25] MattReimer commented on #327
That's about right. Any legend enhancements will come in a future version.

Tile building problems are all known and being worked on in separate issues.

The color ramps are able to be tweaked (probably)

I suggest we break any problems I to their own tickets so we can tackle them separately and close this issue.

Nice work @Tanmanfalcon

[2021-11-01 21:36] Cashe93 opened #348 "Precipitation Raster Not Displaying Consistently Across RAVE Platforms"
@MattReimer and @Tanmanfalcon, I may have a fix for this. Standby.

[2021-11-01 21:39] #327 closed

[2021-11-01 21:40] Tanmanfalcon commented on #330
All layers are symbolizing equal to ArcRAVE, other than the precipitation layer mentioned above.

[2021-11-01 21:40] #330 closed

[2021-11-01 21:55] Cashe93 commented on #348
@wally-mac, @Tanmanfalcon @MattReimer

See #349

[2021-11-01 22:12] Cashe93 commented on #322
@wally-mac here is an image of the flow direction in WebRAVE. The only issue I can see is that in Arc and Q, the triangles rotate to follow the line angle. Since that's not happening here, there are some areas that look a bit funky. However, it generally displays the direction of flow accurately. If this passes, we can close this issue.

![image](https://user-images.githubusercontent.com/49880208/

[2021-11-01 22:32] wally-mac commented on #322
@Cashe93 I think this works for the short term fix but down the road we should look for a better solution.￼

[2021-11-02 00:19] MattReimer commented on #322
@Cashe93 Mapbox does have a method for rotating the symbol to follow the geometry.

<img width="1058" alt="Screen Shot 2021-11-01 at 5 18 36 PM" src="https://user-images.githubusercontent.com/1063391/139759473-75c829f3-34e7-4188-89c3-0d0a5385f89c.png">

[2021-11-02 00:21] Cashe93 commented on #322
Nice @MattReimer. I'll make this fix tonight or tomorrow.

[2021-11-02 17:51] Cashe93 commented on #322
Alright, these changes are in and everything looks good.

[2021-11-02 17:51] #322 closed

[2021-11-02 17:51] leallysmith opened #351 "Data Capture Validation layer has inconsistent symbology between arc and Q rave"
## Specification
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*:  `pyBRAT`
*Layer(s)*: Data Capture Validation Layer in Outputs/Validation
*Type(s)* - Vector

### Issue

Data Capture Validation Layer is not symbolized in QRAVE or ArcRAVE and green in WebRAVE

[2021-11-02 17:57] leallysmith opened #352 "Symbology for ArcRAVE Perennial Layer doesn't match other RAVE platforms"
## Specification
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*:  `pyBRAT`
*Layer(s)*: Perennial in intermediates
*Type(s)* - Vector

### Issue

Perennial layer for arc rave is not symbolized by perennial or non perennial, displays all sections of stream as one color
ArcRAVE
![image](h

[2021-11-02 18:31] leallysmith opened #353 "pyBRAT webRAVE is incorrectly displaying historic veg dam building capacity"
## Specifications
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*: pyBRAT
*Layer*: Historic Veg Dam Building Capacity
Type - Vector

## Issue
WebRAVE has a legend for this layer but symbolizes everything as one color
![image](https://user-images.githubusercontent.com/89225401/139923576-

[2021-11-02 18:38] leallysmith opened #354 "Land Ownership per Reach not symbolized the same in QRAVE and WebRAVE"
## Specifications
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*: pyBRAT
*Layer*: Land Ownership per Reach
Type - Vector

## Issue
Land Ownership layer is inconsistently symbolized between QRAVE and WebRAVE
Qrave
![image](https://user-images.githubusercontent.com/89225401/139924461-a67

[2021-11-02 18:54] leallysmith opened #355 "Provisional Points of Diversion symbolized inconsistently"
## Specifications
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*: pyBRAT
*Layer*: Provisional Points of Diversion
Type - Vector

## Issue
Provisional Points of Diversion layer is symbolized as purple triangles in Q and purple circles in Web

[2021-11-02 19:02] leallysmith opened #356 "pyBRAT Canals and Ditches layer symbolized with different lines in web vs q"
## Specifications
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*: pyBRAT
*Layer*: Canals and ditches
Type - Vector

## Issue
Qrave has symbolized canals and ditches as lines with marks off the side while webrave has canals and ditches as plain lines
QRAVE
![image](https://user-images.g

[2021-11-02 19:08] MattReimer commented on #353
Look for a field name mispelling or change here. Smells like it can't find the right column OR that column is actually missing data for this project.

[2021-11-02 20:05] CHafen commented on #330
I think the Drainage area also doesn't quite match ArcRAVE
![Arc_DrainageArea](https://user-images.githubusercontent.com/39837888/139943952-c3f72057-8c17-4097-8b04-84e00f729451.png)
![QRAVE_DrainageArea](https://user-images.githubusercontent.com/39837888/139943958-7778d927-0acd-4aeb-a1e7-d02f0fbdc7fc.png)
 Images are from HUC 05020004.
I wonder if this is the same symbology transfer problem that t

[2021-11-02 20:11] CHafen commented on #335
There are so many layers to go through on Riverscapes context! You've done an awesome job! I think you may have missed EVT and BPS Riparian. I didn't see them above. The symbology seems to be off in ArcRAVE for these. Also, for the HUC I looked at (05020004) the BPS Name doesn't match between ArcRAVE and QRAVE. I'm not sure why except it may be one category got off some how which would take a lot

[2021-11-02 21:38] leallysmith opened #359 "WebRAVE and QRAVE roads layer have different legends and labels"
## Specifications
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*: pyBRAT
*Layer*: Roads
Type - Vector

## Issue
WebRAVE Roads layer has 2 labels for US and State recognized, qrave doesn't have labels. Legend for webrave collapses 3 road types into 1
WebRAVE
![image](https://user-images

[2021-11-02 21:54] leallysmith opened #360 "Land Ownership symbology swapped and doesn't display in WebRAVE"
## Specifications
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*: pyBRAT
*Layer*: Land Ownership in Inputs
Type - Vector

## Issue
WebRAVE and QRAVE have the colors for USFS and Other swapped, also WebRAVE doesn't display this layer
WebRAVE
![image](https://user-images.githubuserconten

[2021-11-02 22:22] leallysmith opened #361 "Land Use is symbolized entirely different across all 3 RAVE platforms"
## Specifications
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*: pyBRAT
*Layer*:  Land Use in inputs
Type - Raster

## Issue
Land Use layer has very different symbologies for each RAVE. Land use is also not displaying in QGIS
ArcRAVE image only has part of a very long legend
![image](

[2021-11-02 23:05] leallysmith opened #362 "pyBRAT in WebRAVE"
## Specifications
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*: pyBRAT
*Layer*:  All
Type - Raster and Vector

## Screenshots

### Outputs
Existing Dam Capacity
![image](https://user-images.githubusercontent.com/89225401/139962373-9847512b-daae-42bb-a2a8-37d8d292bf9e.png)

Existing D

[2021-11-02 23:06] leallysmith commented on #362
### Intermediates
Perennial
![image](https://user-images.githubusercontent.com/89225401/139962645-954f0dab-64d6-4271-92b6-69d8e7029215.png)

Slope
![image](https://user-images.githubusercontent.com/89225401/139962665-05f15708-dff9-41c0-a629-116efc9aa188.png)

Drainage Area
![image](https://user-images.githubusercontent.com/89225401/139962684-ebc48dc2-a2ae-46ed-89fd-365b8cf97ec5.png)

Anabranch typ

[2021-11-02 23:06] leallysmith commented on #362
### Inputs
Network
![image](https://user-images.githubusercontent.com/89225401/139963443-12ed6c26-5d42-4a6b-899b-cd5021c56bc2.png)

Provisional Points of Diversion
![image](https://user-images.githubusercontent.com/89225401/139963479-e7168d47-5dda-4375-983b-63040cd476ea.png)

Canals and Ditches
![image](https://user-images.githubusercontent.com/89225401/139963494-5ea88ccd-3be9-41ac-bd43-a39df84943

[2021-11-03 01:17] Cashe93 commented on #356
@leallysmith, well done on spotting these differences. Unfortunately, for some layers, we haven't been able to duplicate WebRAVE symbology to be exactly what we have in Arc and Q. This is a good example of that; for now, I think this symbology is close enough to Arc and Q.

[2021-11-03 01:17] #356 closed

[2021-11-03 01:19] Cashe93 commented on #352
Fixed: 11/2/2021

![image](https://user-images.githubusercontent.com/49880208/139987486-58c32d0c-5f88-4de9-90f0-7963fa2688e8.png)

[2021-11-03 01:19] #352 closed

[2021-11-03 01:33] Cashe93 commented on #353
@MattReimer and @leallysmith, the attribute field attempting to be referenced was oVC_HPE but the actual name was oVC_Hpe. Easy fix; it will be included in my next pull request.

[2021-11-03 01:33] #353 closed

[2021-11-03 01:35] Cashe93 commented on #351
Fixed: 11/2/21

[2021-11-03 01:35] #351 closed

[2021-11-03 02:00] Cashe93 commented on #359
@leallysmith, this layer is a bit tricky. Each road type (except for other) is symbolized with the same color and is differentiated by the line width. The issue is that we aren't able to show differences between line widths within the legend. That's why there are only two represented in the WebRAVE legend (notice how I tried to include most of the road types for black lines). Eventually, we will e

[2021-11-03 02:00] #359 closed

[2021-11-03 02:21] Cashe93 commented on #361
I was able to fix the ArcRAVE symbology. @MattReimer, for Q and ultimately Web, this appears to be another categorized raster issue similar to the vegetation rasters.

[2021-11-03 03:03] Cashe93 commented on #354
Fixed: 11/2/2021
Will be part of the next pull request.

[2021-11-03 03:03] #354 closed

[2021-11-03 17:24] leallysmith opened #364 "Flow Direction in pyBRAT not displaying"
## Specifications
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*: pyBRAT
*Layer*:  Flow Direction
Type - Vector

## Issue
Not displaying in QRAVE or ArcRAVE and doesn't have arrows in WebRAVE, the attribute table doesn't have anything for flow direction so there is no lines or arrows i

[2021-11-03 17:25] leallysmith opened #365 "WebRAVE Index error for some layers"
project: [https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/289f7564-453a-4eb5-84a9-18b5a2f86840](url)
type: pyBRAT

@MattReimer I opened up one of the pybrat projects in webRAVE and noticed some layers have an index error, these layers are fine in the other pyBRAT projects when I open them in webRAVE. Do you have any suggestions?
![image](https://user-images.githubusercont

[2021-11-03 17:35] MattReimer commented on #365
Thanks for finding this @leallysmith. Don't feel you need to inspect every project in the system but if you do come across more of these just paste them into this ticket so I have lots of data points when I investigate.

There's nothing you can do from your end. Tile errors or index Error mean the raster or vector couldn't be converted to tiles for some reason. within the next week I'll do a pass

[2021-11-03 17:46] leallysmith opened #366 "pyBRAT in QRAVE"
## Specifications
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*: pyBRAT
*Layer*:  All
Type - Raster and Vector

## Screenshots

### Outputs
Existing Dam Capacity
![image](https://user-images.githubusercontent.com/89225401/140110303-3e1bd0f7-9cf5-4ca8-af74-654d4baca47f.png)

Existing D

[2021-11-03 17:46] leallysmith commented on #366
### Intermediates
Perennial
![image](https://user-images.githubusercontent.com/89225401/140117643-63db7e98-efbb-42b4-adec-82637327f2ad.png)

Slope
![image](https://user-images.githubusercontent.com/89225401/140118494-a198be1e-8e64-4051-add5-0dd72c26905b.png)

Drainage Area
![image](https://user-images.githubusercontent.com/89225401/140119253-588aa705-6be9-472c-809a-8f5a4a017df6.png)

Anabranch typ

[2021-11-03 17:47] leallysmith commented on #366
### Inputs
Network
![image](https://user-images.githubusercontent.com/89225401/140140048-492b673f-ef8b-4b70-bbde-e5c541be0263.png)

Provisional Points of Diversion
![image](https://user-images.githubusercontent.com/89225401/140154962-1b7abf00-4dfd-42d7-a1a3-d313b2505067.png)

Canals and Ditches
![image](https://user-images.githubusercontent.com/89225401/140155373-7633ddea-4074-4904-b26c-eac639ff60

[2021-11-03 18:39] leallysmith opened #368 "Existing riparian layer in pyBRAT for ArcRAVE not symbolized like other platforms"
## Specifications
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*: pyBRAT
*Layer*:  Existing Riparian
Type - Raster

## Issue
Existing Riparian input layer is not classed into riparian and not riparian like in other platforms
arcrave
![image](https://user-images.githubusercontent.com/89

[2021-11-03 18:45] leallysmith opened #369 "Historic Riparian layer in pyBRAT for ArcRAVE project symbolized incorrectly"
## Specifications
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*: pyBRAT
*Layer*: Historic Riparian
Type - Raster

## Issue
Symbology is different between arcrave and other platforms.
arcrave
![image](https://user-images.githubusercontent.com/89225401/140172771-4d08ad2c-021e-4bb7-af82-

[2021-11-03 18:49] leallysmith opened #370 "pyBRAT in ArcRAVE"
## Specifications
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*: pyBRAT
*Layer*:  All
Type - Raster and Vector

## Screenshots

### Outputs
Existing Dam Capacity
![image](https://user-images.githubusercontent.com/89225401/140165158-f0080522-c2cb-463b-a1c9-4b44fe21c7c7.png)

Existing D

[2021-11-03 18:49] leallysmith commented on #370
### Intermediates
Perennial
![image](https://user-images.githubusercontent.com/89225401/140167848-5ab1665d-8239-4297-a19e-853749987ca9.png)

Slope
![image](https://user-images.githubusercontent.com/89225401/140167904-6bb09f8e-e757-45a5-9163-a91084e49ce4.png)

Drainage Area
![image](https://user-images.githubusercontent.com/89225401/140167951-2455d5b1-042d-466c-88c4-b8a7faa25d55.png)

Anabranch typ

[2021-11-03 18:49] leallysmith commented on #370
### Inputs
Network
![image](https://user-images.githubusercontent.com/89225401/140170413-27a43b8d-11af-4ade-8839-5643387dc86c.png)

Provisional Points of Diversion
![image](https://user-images.githubusercontent.com/89225401/140170958-f4ae276f-c0b6-441f-9a10-98f5a09ebaad.png)

Canals and Ditches
![image](https://user-images.githubusercontent.com/89225401/140171010-ef136424-f0d9-413e-b556-f807109318

[2021-11-03 18:54] leallysmith opened #371 "Symbology for 5 layers for pyBRAT in ArcRAVE"
## Specifications
*Project*: Idaho_BRAT HUC 14040104 https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/a4ac8fcc-3b84-4e94-a534-3654cb30b5a2
*Project Type*: pyBRAT
*Layer*: Land Ownership per Reach, Anabranch Types, Roads, Land Ownership, Flow Accumulation
Type - Vector and Raster

## Issue
Those 5 layers have no assigned symbology so they just generate random symbology.

[2021-11-03 20:02] CHafen commented on #324
@Cashe93 it looks like for the zero or null drainage area the null is not showing up in Arc. I was looking at HUC 10190010. There's only a small spot that has the null, but it's showing up in Q but not Arc (see images). Other than that everything I looked at seemed good
![Qq_zeronull1](https://user-images.githubusercontent.com/39837888/140184084-21cd7b52-edb4-47c6-bd60-100d3383e638.png)
![Arc_zero

[2021-11-04 15:30] Cashe93 commented on #368
Fixed 11/4/2021: Should be included in pull request #363

[2021-11-04 15:30] #368 closed

[2021-11-05 01:44] joewheaton commented on #370
@leallysmith and @wally-mac. What is the purpose of this post? If it is meant to be QC, we should be doing that over in the RiverscapesData repo? Also, some of the layers are wrong for symbology (e.g. valley bottom, management, buffers?

[2021-11-05 16:51] shelbysawyer commented on #370
@joewheaton I haven't worked with pyBRAT, so sorry if this is irrelevant-- but if it's pulling the same vector as VBET (`vbet_68`), I can move the `vbet68_filled` and/or the` vbet68_hollow` lyr files into Shared folder. Right now it lives in the VBET Symbology subfolder.

[2021-11-05 18:27] shelbysawyer opened #372 "Trouble Replicating Symbology between QRAVE and ArcRAVE"
This was posted a while ago, and I still need help with it if/when folks have time. Should I just classify them?

_Originally posted by @shelbysawyer in https://github.com/Riverscapes/RiverscapesXML/issues/299#issuecomment-955821270_

[2021-11-05 19:25] CHafen commented on #372
@shelbysawyer I'm not sure how to fix this problem. I'm having the same issue symbolizing rasters but in reverse, I can't get them to match up going from Arc to Q.

[2021-11-05 20:29] Cashe93 commented on #372
@shelbysawyer, are you just trying to reinforce the breaks at 0.05 intervals?

[2021-11-05 20:55] shelbysawyer commented on #372
@Cashe93 No, and that's what's causing the problem-- the breaks are different for a few different layers, but I know one is like 0.5, 0.68, 0.80, 0.85, 0.99, 0.995.

[2021-11-05 20:55] shelbysawyer commented on #372
Okay, no worries-- thanks!

[2021-11-05 21:39] philipbaileynar opened #373 "Filter Features in BRAT symbology"
@joewheaton implemented definition queries on 7 layers in [BRAT business logic ](https://github.com/Riverscapes/RiverscapesXML/blob/master/RaveBusinessLogic/BRAT.xml#L13-L26) that are working really well in desktop RAVE.

WebRAVE cannot use definition queries and so the symbology needs to be enhanced for these 7 layers to filter out the features in question.

@Cashe93 please enhance the BRAT symbo

[2021-11-05 22:22] Cashe93 commented on #372
Hmmmm. That's a tricky one. Unfortunately, I don't have any solutions off the top of my head. The closest I was able to get it was just by relabeling the interval by 0.05. I'll let you know if anything else comes to mind. Sorry I couldn't be of assistance!

[2021-11-05 22:50] shelbysawyer commented on #372
That's okay! I'll just classify it-- it won't look the same in the legend, but the data will be displayed the same way through the platforms. I'll take it! Thanks!

[2021-11-06 01:52] joewheaton commented on #372
@shelbysawyer you don't need to use labels (I don't think), that's what's making your ramp legend look weird. I think it is just a matter of finding the closest thing you can on a stretch.

[2021-11-06 02:03] joewheaton commented on #373
@wally-mac and @Cashe93 this is fundamental for next Wednesday so that we do not show the entire network. To be clear it is the difference between:
![image](https://user-images.githubusercontent.com/9723905/140593968-5221eeaf-ea9c-4856-be62-0b17ddf4ae9a.png)
and what we want (shown below in Q):
![image](https://user-images.githubusercontent.com/9723905/140594066-2461f0d2-1c78-443e-985c-f44d3b15cd3

[2021-11-06 02:12] wally-mac commented on #373
@joewheaton This is so slick and useful.

[2021-11-06 02:27] joewheaton commented on #370
Thanks @shelbysawyer, it looks like pyBRAT BL is currently using:
https://github.com/Riverscapes/RiverscapesXML/blob/c3547056ed42c8c35cb9da3430322149bd810865/RaveBusinessLogic/pyBRAT.xml#L103

It does seem like it using its own `py_valley_bottom`, but using `vbet68_filled` would be better. So, yes please both move those layer files to Shared and update pyBRAT BL and ask @Cashe93 to review.

The re

[2021-11-06 15:06] shelbysawyer commented on #372
@joewheaton I was being forced into using labels because the I was using custom breaks (0.5, 0.68, 0.80, 0.85, 0.99, 0.995) instead of regular ones. But yeah, I'll just get it as close as I can.

[2021-11-06 15:08] wally-mac commented on #373
@Cashe93 if we are available today (Saturday) let's chat about this task.

[2021-11-06 16:47] MattReimer opened #374 "WebRAVE can't handle identical symbologies that use filter="" to differentiate"
This is related to:

- https://github.com/Riverscapes/RiverscapesXML/issues/373

So @Cashe93 and I just had a conversation that made me realize we actually don't have a mechanism for doing this right now in webRAVE.

WeBRAVE symbologies _can_ definitely do filtering but they do this by simply making features for fields with certain values transparent in a different symbology file.

In @joewheaton'

[2021-11-06 17:51] Cashe93 commented on #374
@MattReimer and @joewheaton,

I'll go ahead and create the WebRAVE symbologies to display perennial just so we have have them if needed. Also, @philipbaileynar and @joewheaton, I'm currently on the road and my availability is going to be limited this next week. I've got a handle on what's been assigned to me thus far, but as high priority tasks come up that need immediate attention, consider assig

[2021-11-07 17:22] shelbysawyer opened #376 "Updating Valley Bottom symbology in pyBRAT"
Thanks @shelbysawyer, it looks like pyBRAT BL is currently using:
https://github.com/Riverscapes/RiverscapesXML/blob/c3547056ed42c8c35cb9da3430322149bd810865/RaveBusinessLogic/pyBRAT.xml#L103

It does seem like it using its own `py_valley_bottom`, but using `vbet68_filled` would be better. So, yes please both move those layer files to Shared and update pyBRAT BL and ask @Cashe93 to review.

The re

[2021-11-08 15:47] wally-mac commented on #209
@Cashe93 what if anything remains on the tasks related to this "ticket"? Is validation now symbolized?

[2021-11-08 15:50] Cashe93 commented on #209
Validation is now symbolized. Everything should be up to date.

[2021-11-08 15:52] #209 closed

[2021-11-08 16:01] wally-mac commented on #206
@Cashe93 can you please update what we know about the Montana run and close the ticket.  Panther Creek and NRCS can be taken care of later.

[2021-11-08 17:14] #376 closed

[2021-11-08 17:22] MattReimer commented on #344
Hmmm. I don't see that line in any of the `project.rs.xml` files but if you look at the code it's still referenced there although it's inside a conditional that I'm not sure will ever fire.

https://github.com/Riverscapes/riverscapes-tools/blob/master/packages/taudem/taudem/taudem.py#L120

Maybe @KellyMWhitehead can shed some light on this?

I'd say leave it there but since you have nothing to tes

[2021-11-08 20:36] CHafen opened #378 "Can't get Q Symbology for Thalweg Type in GUT to match Arc"
Hey @Riverscapes/riverscape-project-curators I'm having an issue symbolizing the Thalweg type for GUT. The problem I'm having is that the marker used in Q symbology for the arrow on this is facing the wrong way and I can't figure out how to get it to face the other way. Also, when the Other or No Label category is turned on nothing shows up. Any ideas on how to fix these issues?
![thalwegtype](htt

[2021-11-09 02:01] joewheaton commented on #344
@MattReimer and @shelbysawyer this may have gone away (sort of) because we are now driving TauDEM projects (typically) off of Channel Area projects instead of a line. However, a TauDEM project can be either and many of our custom runs are. @philipbaileynar and @KellyMWhitehead any thoughts on this one?

Good catch @shelbysawyer

[2021-11-09 15:59] joewheaton commented on #378
@CHafen I think @Cashe93 may have insights on this based on his recent work. However, they may all be a bit distracted until tomorrow passes with BRAT workshop.

[2021-11-09 16:56] joewheaton commented on #374
see: https://github.com/Riverscapes/RiverscapesXML/pull/375#issuecomment-964343723 for reference.

[2021-11-09 16:57] joewheaton commented on #373
See https://github.com/Riverscapes/RiverscapesXML/pull/375#issuecomment-964343723 for reference.

[2021-11-09 17:07] joewheaton commented on #206
@wally-mac this should not be closed until these are done. Does @MattReimer know to produce programs for all of these? As per https://github.com/Riverscapes/RiverscapesData/issues/104 Q7 and Q8 the only ones we really care about for today's fire drill are potentially Idaho BRAT, GYA BRAT and Montana BRAT. The others can wait, but don't close this ticket unless you guys make seperate tickets for th

[2021-11-09 19:54] Cashe93 commented on #206
@joewheaton in response to Q7 and Q8 in [Riverscapes Data issue #104](https://github.com/Riverscapes/RiverscapesData/issues/104), GYE and IDFG pyBRAT projects have been edited and uploaded to the S3 server, but still need to be uploaded to the Warehouse. @MattReimer, is this correct?

[2021-11-09 20:20] MattReimer commented on #206
100% correct. I am the bottleneck here. Sorry about that.

[2021-11-15 17:44] Cashe93 commented on #208
@joewheaton, I've looked into this and have only been successful in recreating the issue. The fact that it displays properly in ArcMap indicates that it's not a business logic or project.xml issue, nor should it be a symbology issue. I'm going to request @MattReimer to investigate this further as time allows.

[2021-11-15 18:24] Cashe93 commented on #364
@wally-mac, the source of this issue was pointed out in #322. @MattReimer pointed out that there should be an attribute field that indicates the direction of flow. In sqlBRAT projects, this field exists, however, for pyBRAT projects this field does not exist. The symbology that was applied to legacy pyBRAT projects was just a single symbol applied to the entire network with no indication of the di

[2021-11-15 18:44] Cashe93 commented on #371
These have been all been fixed as of 11/15. Changes will be included within next pull request.

[2021-11-15 18:44] #371 closed

[2021-11-15 18:50] joewheaton commented on #208
Thanks @Cashe93 for update. Before we rope in @MattReimer (he does not have time and is expensive $$$) we should see if we can find an in-house solution. This doesn't look like anyone has really grabbed it and tried to fix it. This is for the Klamath, and so not urgent (though becoming so in December), but something we should deal with as we ramp up for Montana RCAT runs.

I am going to temporaril

[2021-11-15 18:53] joewheaton commented on #338
@lauren-herbine can you provide an update on this one? If done, please close this and parent.

[2021-11-15 19:04] joewheaton commented on #171
@wally-mac and @shelbysawyer can you confirm where this is at? I thought it was done?

[2021-11-15 19:06] joewheaton commented on #197
I think this is done. Re open @MattReimer or @Cashe93 if not.

[2021-11-15 19:06] shelbysawyer commented on #171
@joewheaton Did you mean to tag me here? I wasn't aware anything with sqlRVD was on my plate..

[2021-11-15 19:07] joewheaton commented on #331
Can you experiment @Cashe93 why don't we try putting Node circles at endpoints of each segment. Send me a screenshot and once we agree, we can implement across platforms.

[2021-11-15 19:09] joewheaton commented on #344
Yes we do need to still allow lines as inputs. We have a bunch of examples in Anabranch on custom TauDEM runs you can use to test with @shelbysawyer. This will be basically extra-lines of BL that only appear if dataset is present.

[2021-11-15 19:12] shelbysawyer commented on #344
@joewheaton Okay, sounds good. Thanks. Is there a way for me to identify those custom TauDEM runs in the warehouse to check them out?

[2021-11-15 19:13] joewheaton commented on #373
This is done. Though @MattReimer and I agreed that the functional fix in WebRAVE may not be our long-term fix.

[2021-11-15 19:13] #373 closed

[2021-11-15 19:13] joewheaton commented on #297
This is done.

[2021-11-15 19:13] #297 closed

[2021-11-15 19:15] joewheaton commented on #181
@nick4rivers please work with @CHafen on this one. Reminder...

[2021-11-15 19:30] lauren-herbine commented on #338
@joewheaton I still need to get
- [ ] filtered flow areas
- [ ] flow areas
- [ ] waterbodies

up and running with FCodes properly symbolized. It looks like my xml for the filtered waterbodies worked, so I'll work through that in the same manner

[2021-11-15 20:29] joewheaton commented on #364
@MattReimer that is not actually needed per se if you use the geometry start and stop points to infer it (what we did in pyBRAT).

[2021-11-15 20:30] joewheaton commented on #344
@MattReimer and @philipbaileynar  good for you to see this simple request. Not really. Look for some of the stuff from Klikitat, Kern and Dollar Ridge.

[2021-11-15 20:31] joewheaton commented on #171
Ooopss. my bad. Sorry.

[2021-11-15 20:53] #233 closed

[2021-11-15 22:03] lauren-herbine commented on #338
Assuming latest pull request gets the symbology to work nicely, closing

[2021-11-15 22:03] #338 closed

[2021-11-15 22:50] wally-mac commented on #171
@Tanmanfalcon and @Cashe93 where are we at on this? Ally is looking for stuff to do so Cashe you can task her on this.

[2021-11-16 17:05] Tanmanfalcon commented on #171
@joewheaton @wally-mac all of the symbology for RVD has been created for QRAVE, pushed, and merged with the master, except for the outputs mentioned in issue #208, mentioned in the first comment in this thread. If it is beginning to be a priority again, we can start working on RVD curation for WebRAVE, just give the word

[2021-11-16 18:41] philipbaileynar opened #383 "Make Asotin Program Private"
Please make the Asotin program private.

[2021-11-17 15:44] joewheaton opened #384 "Add Valley Bottom, Road and Rail Inputs +Buffers as intermediates in pyBRAT and sqlBRAT to BL and Symbology for both"
## Problem
In the old layer package for BRAT, we showed the following:
### Inputs
- Inputs: Valley Bottom
- Inputs: Roads
- Inputs: Railroads

They are in the old pyBRAT projects but not the new sqlBRAT projects (example below from: [BRAT for HUC 10040204](https://data.riverscapes.xyz/#/BLM/4b53e516-946f-474a-8e19-24199cfd3401) )
![image](https://user-images.githubusercontent.com/9723905/142229365

[2021-11-17 16:22] MattReimer commented on #364
Yeah, I'm not sure there's any explicit way to identify geometry start and stop in mapbox. It MAY be doing it by default which may explain:

But the UTF-8 fix with different arrows is a hack so we're pretty limited if it ends up not being right.

To sum up:

- If there's a direction field it's easy
- If there isn't you're stuck with whatever is happening now (but I'm not hearing that it's wrong ye

[2021-11-17 16:26] MattReimer commented on #344
We could easily accomplish this with a tag convention. We already tag everything that's automatic with `Cybercastor` but right now I don't have a negative search of `NOT Cybercastor` so we could use `custom` for manual runs?

I think this can be part of the conversation when we address the warehouse in the coming months. The search form that exists is rudimentary but the engine underneath it is hu

[2021-11-17 16:28] #383 closed

[2021-11-17 17:17] joewheaton commented on #344
For now this is fine. I don't think `NOT Cybercastor` is accurate but `custom_input` would be.  We also need to keep using our project specific tags (e.g. ELR_2020-23..... ).

Agreed. sounds good.

[2021-11-17 17:26] joewheaton commented on #338
Did it @lauren-herbine? @MattReimer does this just automatically work? I tested on https://webrave.riverscapes.xyz/#/BLM/4a63ee98-d3bb-44f2-83e4-1de0d8f76994 and it worked in intermediates but not inputs.

[2021-11-17 17:33] lauren-herbine commented on #338
@joewheaton I just tested it on the same one you linked to, and it worked for me in both intermediates and inputs...

[2021-11-17 18:08] jtgilbert commented on #208
@Tanmanfalcon where can I find the data for the HUC you used for those initial screen shots?

[2021-11-17 18:22] Tanmanfalcon commented on #208
@jtgilbert Yes of course. It is found[ at this link](https://usu.box.com/s/0o4osavdfmtwgb9m15w8b4nedfg2mp0b)

[2021-11-17 18:54] jtgilbert commented on #208
@Tanmanfalcon on your end, I noticed one problem you can address. It looks like Matt authored some RVD business logic here: 89560b6f1e9bc548e7cee5d6de01caf71c4af9e7
Later, you were adding qml symbology (89560b6f1e9bc548e7cee5d6de01caf71c4af9e7), and it looks like you inadvertently changed outputs in the business logic to inputs, so now inputs are in there twice, and outputs aren't at all. So you s

[2021-11-17 20:04] joewheaton commented on #208
Thanks @jtgilbert for the quick look and insights.

[2021-11-17 20:09] jtgilbert commented on #208
fyi @joewheaton there may be an issue on the code side as well, I'll revisit after @Tanmanfalcon revises the business logic.

[2021-11-17 20:19] joewheaton commented on #338
Well this seems like it is more likely a problem with WebRAVE so I posted issue here: https://github.com/Riverscapes/rs-web-monorepo/issues/186 (it seems like symbology is working otherwise). @MattReimer if you discover otherwise you can move it.

[2021-11-17 21:27] joewheaton opened #385 "Need help getting GUT symbology working on webRAVE."
Hey @Riverscapes/riverscape-project-curators I'm trying to get GUT symbology working on webRAVE. It's my first time doing symbology for webRAVE, so I'm following along with the videos @lauren-herbine posted from the webRAVE workshop. But when I tried to upload my GEOJSON files to mapbox I got an error as shown in the screen shot. I'm not familiar with mapbox and have no idea what this means or how

[2021-11-17 21:35] joewheaton commented on #385
Your ears are burning @CHafen. See also: https://github.com/Riverscapes/riverscapes-website/discussions/23 and https://github.com/Riverscapes/rs-web-monorepo/issues/62. However, @MattReimer can confirm, but I think you can still get stuff going (and get help from fellow @Riverscapes/riverscape-project-curators) on this work. You just will not have the instant checking capability. @MattReimer is it

[2021-11-17 21:54] lauren-herbine commented on #385
Posted this on the curator discussion board, but didn't realize it had it's own issue as well:

@CHafen Hmmm... I am not familiar with this error- it looks like it has something to do with the spatial extent of your project. The only thing I can quickly think to troubleshoot is to ask if you deleted the line starting with "crs" in the geojson (using visual studio code or the like) before uploading

[2021-11-18 00:28] Cashe93 commented on #385
I have a vague memory of getting this error in the past; I think @lauren-herbine 's suggestion of making sure the "crs" line is deleted is a good first step. Post here if that doesn't work.

[2021-11-18 16:23] MattReimer commented on #385
I replied on the other board first so I'll repeat it here:

I think what may be happening here is you're trying to upload projected data instead of WGS84.

If you reproject you should be able to upload. Mapbox doesn't do projected data.

[2021-11-18 17:45] Cashe93 commented on #369
This has been fixed:

![image](https://user-images.githubusercontent.com/49880208/142468686-f78dc955-e87d-4d6c-a490-17638e16066b.png)

[2021-11-18 17:45] #369 closed

[2021-11-18 19:19] Cashe93 commented on #331
@joewheaton, something like this?

![image](https://user-images.githubusercontent.com/49880208/142482393-28751a65-ff15-425f-aa24-22372493af99.png)

[2021-11-18 21:26] CHafen commented on #385
Thanks @MattReimer it was projected so I changed it to WGS84 and that worked

[2021-11-19 00:58] joewheaton commented on #331
I like that, maybe do them something other than blue so they are not confused as little ponds? Nice

[2021-11-19 22:19] Tanmanfalcon commented on #208
@jtgilbert I have fixed the business logic like you suggested in #387 . I'm not sure how those output layers got replaced with input layers, but hopefully this solves the problem.

[2021-11-20 16:43] joewheaton commented on #384
Hello? @wally-mac, @Cashe93? Thoughts. Just brining to top of your notifications.

[2021-11-20 16:48] joewheaton commented on #44
@MattReimer is this still a relevant issue?

[2021-11-20 16:48] joewheaton commented on #132
@MattReimer I am moving this over to Warehouse for now until we make a decision on it in our warehouse discussions.

[2021-11-20 17:01] Cashe93 commented on #384
@joewheaton, apologies for the delayed response. I can take on the task of making the BL edits and getting sqlBRAT to be consistent with pyBRAT.  Should be pretty straight forward. I'll get crackin on this Monday.

[2021-11-20 17:52] joewheaton commented on #384
No worries... thanks @Cashe93 sounds great.

[2021-11-20 17:53] joewheaton opened #388 "Please update sqlBRAT tool to add metadata tags to inputs to trace for sqlBRAT what project valley bottom, roads and rails came from."

[2021-11-20 17:53] joewheaton opened #389 "Please update sqlBRAT tool to write the buffer polygons to the intermediates.gpkg"

[2021-11-20 18:45] joewheaton opened #390 "Author or Update any project type documentation"

[2021-11-20 18:46] joewheaton commented on #166
Other than documentation, this is done.

[2021-11-20 18:46] #166 closed

[2021-11-20 18:46] #390 closed

[2021-11-21 03:27] MattReimer commented on #44
yes. Still relevant. We can implement as part of the Warehouse 2.0. That's a good time for it.

[2021-11-22 17:27] Cashe93 opened #391 "Add to sqlBRAT BL the missing "Anthropogenic" inputs to match pyBRAT (i.e. valley bottoms, railroads, roads, land use)"

[2021-11-22 19:20] Cashe93 commented on #391
**Canals and Ditches**

![image](https://user-images.githubusercontent.com/49880208/142921352-05f02899-d2fc-4f62-b486-35db87dedf92.png)

**Railroads**

![image](https://user-images.githubusercontent.com/49880208/142921715-7eef7f16-6c43-4a90-9ecc-de6e99b732e3.png)

**Roads**

![image](https://user-images.githubusercontent.com/49880208/142921829-54b31af1-a244-42c4-ae05-c7f3350431f4.png)

**Valley Bo

[2021-11-22 19:25] Cashe93 opened #392 "Land Ownership - needs to be added to sqlBRAT project.xml's"
@joewheaton I've updated the business logic to include the 'Land Ownership' Input layer, but this layer appears to be missing from the project.xml/inputs.gpkg. Is it possible to write this layer to the inputs.gpkg, similar to whats being requested in [#488?](https://github.com/Riverscapes/riverscapes-tools/issues/488)

Here is the updated sqlBRAT BL line for this layer

[code]

[2021-11-22 19:30] Cashe93 opened #393 "Explore why Land Use Input in the pyBRAT is not displaying"
@joewheaton, the Land Use raster correctly displays in ArcRAVE but not in QRAVE or WebRAVE. [Here is a short video](https://youtu.be/9LsXfdN9InI) explaining why. This appears to be the same issue we had with vegetation rasters, pointed out in #164. The issue for categorical vegetation was solved by @MattReimer and tracked in #265. If time and budget allow, perhaps we can recruit @MattReimer to app

[2021-11-22 19:55] joewheaton commented on #393
@Cashe93 thanks for chasing these down. One super minor thing... when we create issues like this from task lists in parent issue, don't forget to: Assign Ticket, add appropriate labels, assign to project(s), and if appropriate set a milestone.  Otherwise, these sub tickets can easily get lost. I appreciate all your efforts on this stuff.

[2021-11-22 19:56] joewheaton commented on #391
Lookin' good. Thanks @Cashe93

[2021-11-22 20:19] philipbaileynar commented on #392
@KellyMWhitehead hopefully this is just a minor oversight and easy to include in the BRAT Build step?

[2021-11-22 20:20] Cashe93 opened #394 "Add to sqlBRAT BL the missing "Buffers" and fix symbology (too thick)"
- [x] Add 'Buffers' node to sqlBRAT BL
- [x] Update Buffer symbology in ArcRAVE
- [x] Update Buffer symbology in QRAVE

[2021-11-22 20:44] Cashe93 commented on #394
## Updated sqlBRAT BL
[code]

[2021-11-22 20:55] Cashe93 commented on #394
@joewheaton, are these good in terms of line thickness?

[2021-11-22 21:22] Cashe93 opened #395 "Add to pyBRAT BL the missing "Vegetation Suitability" intermediates to match sqlBRAT"

[2021-11-23 00:01] Cashe93 commented on #395
@joewheaton, I'm having difficulty adding this layer to the pyBRAT intermediates. It appears to be an issue with how the BL is referencing the project XML. Here is a short video going over the issue and a potential solution. Let me know your thoughts. The video also points out that since pyBRAT is just applying the suitability symbology to the existing vegetation raster, we can anticipate having t

[2021-11-24 21:20] CHafen commented on #385
@Riverscapes/riverscape-project-curators does anyone have any experience or ideas how to do patters in mapbox? I'm trying to do the symbology for the image below and don't know how to go about it in mapbox.
![symbolizing_in_mapbox](https://user-images.githubusercontent.com/39837888/143314241-6166fdff-84a3-480a-b019-f7d71df4934a.png)

[2021-11-24 21:54] Cashe93 commented on #385
@CHafen, take a look at [this](https://github.com/Riverscapes/RiverscapesXML/discussions/249#discussioncomment-1522208) previous discussion between @MattReimer and @shelbysawyer. It looks like there isn't a way (yet) to add hatch patterns in Mapbox, but I could be wrong. @shelbysawyer, did you ever figure out a way to do this?

[2021-11-25 16:58] MattReimer commented on #385
[There is is a way to do this in mapbox](https://docs.mapbox.com/mapbox-gl-js/example/fill-pattern/) but I haven't implemented the complementary call in webRAVE so we can use this.

If we want to do this we're going to need to start curating images that correspond to the textures we want.

I made an issue to track this request as it has come up a couple of times recently.

- https://github.com/Riv

[2021-11-25 17:03] MattReimer opened #398 "Curate Polygon FIll Library"
Once we have the ability to use pattern fills we should provide as many examples as we can so people don't have to go looking or create their own. If we came up with a dozen or so repeatable hatching and dot patterns that could go a long way.

This is related to (and will be usable after):
- https://github.com/Riverscapes/rs-web-monorepo/issues/211

Check out this:

- https://bocoup.com/blog/using

[2021-11-26 17:29] MattReimer commented on #344
I think this ticket is complete. re-open if you disagree

[2021-11-26 17:29] #344 closed

[2021-11-26 23:10] MattReimer commented on #206
Regarding:

- https://github.com/Riverscapes/RiverscapesData/issues/87

This is done.

[2021-11-30 03:40] shelbysawyer commented on #167
Closing this because curation of TauDEM is done. Documentation has not been finished and is tracked [here](https://github.com/Riverscapes/riverscapes-tools/issues/495).

[2021-11-30 03:40] #167 closed

[2021-11-30 04:46] #299 closed

[2021-11-30 20:25] CHafen commented on #385
Hey @Riverscapes/riverscape-project-curators, I got the .JSON files up and the legends look good, but it looks like the symbology didn't work. Could someone look over the .JSON files
https://github.com/Riverscapes/RiverscapesXML/tree/master/Symbology/web/GUT
 and see if I did something wrong? All the outputs for GUT are up and the legends are showing up, but nothing else. Could this possibly be be

[2021-11-30 23:33] Cashe93 opened #408 "Fix needed for the Perennial Network layer in BRAT"
**Describe the bug**

The 'IsPeren' attribute field has Artificial Paths (FCode = 55800) coded as non-perennial (0).

[![Video Link](http://img.youtube.com/vi/dpc1aMo0NIk/0.jpg)](http://www.youtube.com/watch?v=dpc1aMo0NIk "")

## TO-DO

- [x] Investigate and educate @Cashe93 as to why this is happening
- [x] Brainstorm fixes
- [x] Create branch, fix issue, create a pull request.

**Expected behavi

[2021-11-30 23:33] Cashe93 commented on #408
@jtgilbert, would you be able to assist me in solving this issue?

[2021-11-30 23:49] jtgilbert commented on #408
I think @KellyMWhitehead might have addressed this today here:
https://github.com/Riverscapes/riverscapes-tools/commit/cff978a4b35a965737a92cc0dd84fbd6f304fce9

Can you confirm Kelly?

[2021-12-01 00:07] KellyMWhitehead commented on #408
Yes, `IsPeren` = 1 will now show up for artificial flowlines.

[2021-12-01 01:30] joewheaton commented on #385
I am not sure, but I think that this might simply be because we don't _yet_ render these tiles above a zoom level of 15 and these are 10 cm resolution reach-scale derivatives. We might need to wait a little bit for @MattReimer to make the fixes to handle tiling for reach-scale projects separately.

@philipbaileynar please let us know if:
a) this is something that will get fixed eventually and just

[2021-12-01 01:33] joewheaton commented on #408
@KellyMWhitehead

Isn't that only true if we re-run all the sqlBRAT projects? Is that the plan? @jtgilbert I don't think this is a fix you will be able to take care of as this was a fix of the model code and the models need to be re-run. Once they are, the symbology will be working just fine.

[2021-12-01 15:47] jtgilbert commented on #408
@joewheaton @KellyMWhitehead  Yeah I think i rerun of everything is going to be needed eventually. There were the changes to the business logic (to add those intermediates), and I'm still working through a bit of QA/QC on hydrology with @Cashe93

[2021-12-01 18:01] MattReimer opened #410 "[QA/QC] Schema for Riverscapes project XML"
This task will allow for all QA/QC work in the system.

This is a stub ticket I'm using for project management purposes. It will be filled out with a full spec shortly and then tickets for specific actions will descend from it.

### The order of operations here is as follows:

- [x] 1. @MattReimer and Joe to meet and review all the discussions and data collected so far and discuss challenges/surpr

[2021-12-01 18:03] MattReimer opened #411 "Location Tags in Project"
This is a stub for project management purposes. It will be filled in shortly.

[2021-12-02 03:38] MattReimer commented on #385
I can confirm that the tiles for this are being built correctly. There is no issue with the scale of vector layers right now. the only issue we have is with raster layers not being able to go above zoom level 15 without blurriness.

I suspect this is a problem with the mapbox symbology. @CHafen did you test this first in mapbox?

I'm seeing an error on the console:  **"layers.USRLYR_2011/Output/GU

[2021-12-02 18:46] jtgilbert opened #414 "Symbology for Restoration or Conservation Layer in BRAT Project Type"
## Specification
*Project Type*:  BRAT
*Layer(s)*: Restoration or Conservation Opportunities
Layer Name (reference line in business logic if possible - e.g. : https://github.com/Riverscapes/RiverscapesXML/blob/master/RaveBusinessLogic/BRAT.xml#L32

*Type(s)* - Vector

## Description and/or Explanation of Need
The colors used for the "straightforward" and "strategic" categories are too close/diffic

[2021-12-02 19:04] joewheaton opened #415 "Add Geology to RAVE as Basemap"
### Discussed in https://github.com/Riverscapes/riverscapes-website/discussions/29

<div type='discussions-op-text'>

<sup>Originally posted by **stephen-bennett** November 30, 2021</sup>
I'd like to request that a geology layer be added to riverscapes projects as it is a fundamental driver of riverscape form and function </div>

[2021-12-02 19:21] joewheaton commented on #415
@philipbaileynar I believe that your suggestion of

is spot on. My understanding is that for services that work in both Arc and Q, we can just add to the basemaps.xml?

@jtgilbert this sort of explains it, but is out of date documentation: http://rave.riverscapes.xyz/Technical_Reference/base-maps.html... see https://github.com/Riverscapes/RaveAddIn/issues/182

[2021-12-02 19:45] joewheaton opened #416 "Change Hydrology View in Riverscapes Context to exclude hillshade."
### Discussed in https://github.com/Riverscapes/riverscapes-website/discussions/36

<div type='discussions-op-text'>

<sup>Originally posted by **joewheaton** December  2, 2021</sup>
The initial view of Riverscapes Context is coming up with the default view of hillshade + perennial drainage area + sub-basin huc 8. The problem is the HUC 8 layer users default symbology of green blob and this confus

[2021-12-02 19:47] philipbaileynar commented on #415
There seem to be so many web mapping standards and each has a different URL format. This is an ESRI web mapping service and I'm unsure how it will play with both Q and Arc.

I recommend experimenting with your local copy of BaseMaps.xml for both QRAVE and ArcRAVE to see what works.

[2021-12-02 19:49] Cashe93 commented on #395
@MattReimer, is there a workaround here?

[2021-12-02 19:59] joewheaton opened #417 "Symbology for Dinf Flow Accumlation Layer in TauDEM Project Type"
## Specification
*Project Type*:  `TauDEM`
*Layer(s)*:
Layer Name (reference line in business logic if possible - e.g. :
https://github.com/Riverscapes/RiverscapesXML/blob/85df57997cbcd5927b2cc78c361936b3bed01ea7/RaveBusinessLogic/RSContext.xml#L19

*Type(s)* - Raster or Vector

## Description and/or Explanation of Need
We need to change the symbology so we can actually see the definition of these

[2021-12-02 20:02] joewheaton commented on #417
https://github.com/Riverscapes/RiverscapesXML/blob/master/Symbology/web/Shared/drainage_area.txt

[2021-12-02 20:10] Cashe93 opened #418 "Land Use - same issue we had with vegetation rasters"

[2021-12-02 20:16] MattReimer commented on #395
Can you paste the whole file in please. Much easier if I can see it in relation to everything else.

[2021-12-02 20:35] Cashe93 commented on #395
Here is the BRAT BL:

[code]

In short, I'm trying to add a layer with ```xpath="Raster[@id='EXVEG']``` into the intermediates node.

[2021-12-02 21:52] joewheaton commented on #416
So, I'm going to try and add a few new views and change the default view. The default view will
- [ ] Remove hillshade so we can see basemap underneath in webrave initial view
- [ ] Remove HUC 8 boundary that has been problematic (https://github.com/Riverscapes/rs-web-monorepo/issues/218)
- [ ] Add HUC 10 boundary because the subwatersheds are probably more helpful and also as a test to see if it

[2021-12-02 22:38] MattReimer commented on #395
Ok, I see. If you really need to add something from the inputs folder into the intermediates section the only option is to reduce the context of the top node like so:

[code]

And then add `/intermediates` to every sublayer expect the one that comes from inputs.

Does that make sense?

[2021-12-02 22:43] Cashe93 commented on #395
Yes, that makes sense. Thanks, @MattReimer.

[2021-12-02 23:55] Cashe93 commented on #395
@MattReimer I have a question that applies to both this layer and the Land Use raster that we discussed. For the Veg Suitability webRAVE symbology I have this txt file:

[code]

However, the values (0-4) are found in the attribute field 'VEG_CODE'. But there is no way to reference that attribute in Q or Web, correct? So the WebRAVE symbologies that I created for Land Use and Veg Suitability likely

[2021-12-03 16:51] nick4rivers commented on #274
@joewheaton - can you assign this to someone else? I don't have the capacity to give this stuff the attention it needs if we wanna get QRiS moving.

[2021-12-03 16:52] nick4rivers commented on #273
@joewheaton - if this is still needed can we reassign this to someone else that is more accustomed to these processes?

[2021-12-03 18:26] MattReimer commented on #395
Oh, I see. You're not actually referencing the raster values but another attribute in the RAT.

You have two choices here:

1. Manually create a table with every possible raster value in the value column and the desired label on the left. Take a look at [Existing_Veg_EVT_Class.txt](https://github.com/Riverscapes/RiverscapesXML/blob/master/Symbology/web/Shared/Existing_Veg_EVT_Class.txt) for an exa

[2021-12-03 20:30] CHafen commented on #385
Ok, thanks @MattReimer. With the other ones if I fix them to include the fallback color, should that make them show up do you think? It was hard to find these on mapbox because they're just reach scale, but I was able to find the reach and I made sure out_Tier1_FlowUnit is working on mapbox and it looks good. And it now includes the fallback color so hopefully that'll work with webRAVE now. And if

[2021-12-03 20:38] MattReimer commented on #385
I think so. Testing in Mapbox every single time isn't 100% required but I don't have any syntax checking so it's hard to catch these kinds of problems. Better to let Mapbox do that work for us.

As a kind of FYI or Pro tip: Very often if it's a mapbox style error you'll see it pop up in the browser console with the name "MAP ERROR". That's how I found the problem.

![Screen Shot 2021-12-03 at 12 3

[2021-12-03 22:00] Cashe93 commented on #395
@MattReimer, I would like to go the automated route if possible. Good opportunity to get some hands-on with this stuff.

[2021-12-06 19:50] jtgilbert commented on #415
@philipbaileynar I have it displaying in basemaps for both Q and Arc. However, it brings in a legend in Q and does not in Arc. Is this something you guys have dealt with before?

[2021-12-06 20:33] Cashe93 commented on #395
@jtgilbert, when you have time, would you be willing to go over the code and walk through this process with me?

[2021-12-06 23:28] jtgilbert commented on #395
@Cashe93 Yep, I'll try and get to this within the next couple days and reach out when ready.

[2021-12-07 01:14] philipbaileynar commented on #415
We have definitely encountered very different behaviour between how the two platforms handle web mapping layers! Sorry, I don't have much more to add.

Remind me, do other web mapping layers in ArcGIS display legends?

[2021-12-07 15:52] jtgilbert commented on #415
Yeah it looks like they generally don't. Should I push the changes as is then?

[2021-12-07 16:42] philipbaileynar commented on #415
Web mapping layers are the wild west of GIS!

I think push. Can do no harm. Just less useful in ArcGIS. The original request for this layer came from a Mac/QGIS user...

[2021-12-07 18:06] #416 closed

[2021-12-07 18:32] jtgilbert commented on #395
@Cashe93 I exteded the jupyter notebook @MattReimer mentioned, and generated a .clr file for coding land use intensity based on the evt raster. I also used it to create a .qml layer file. The changes are on this branch: https://github.com/Riverscapes/RiverscapesXML/tree/lui-symbology

If you want, we could video chat and I could explain what I did. What still needs done is:
[] create the .txt file

[2021-12-07 19:17] Cashe93 commented on #395
Thanks, @jtgilbert. I don't have time today, but perhaps later in the week we can go over what you did. I can create the .txt and .lyr in the meantime.

[2021-12-07 19:37] #415 closed

[2021-12-07 19:45] Cashe93 commented on #395
@jtgilbert, have you done this for Vegetation Suitability as well? Or just Land Use for now? I'll go ahead and create a pull request for the Land Use symbology changes.

[2021-12-07 20:39] jtgilbert commented on #395
@Cashe93 I'll work on the veg suitability ones this afternoon hopefully.

[2021-12-08 17:22] jtgilbert commented on #395
Hey @Cashe93 the new branch is here:
https://github.com/Riverscapes/RiverscapesXML/tree/lui-suitability-symbology

I took it to the same place as the last one (i.e., created qml files), but this time there's one for land use and one for veg suitability.

[2021-12-09 04:17] philipbaileynar commented on #418
Land Use Intensity for each vegetation type is stored in the SQLite database. In for users to see this information spatially ssqlBRAT needs to be enhanced to write a new raster that reclassifies the EVT raster with the land use intensities from the database. This is similar to how we produce the [veg suitability rasters](https://github.com/Riverscapes/riverscapes-tools/blob/701bb61bd625c97d6740626

[2021-12-09 17:22] KellyMWhitehead commented on #392
This was added to the [December 2021 Release](https://github.com/Riverscapes/riverscapes-tools/releases/tag/Dec2021_release) per (#498)[https://github.com/Riverscapes/riverscapes-tools/issues/498]

@philipbaileynar, @joewheaton  please close or reassign if next steps are needed.

[2021-12-09 23:55] jtgilbert opened #424 "NED 3DEPE Basemap not displaying"
Alden S. sent me an email with this issue. On my machine I got a different, but possibly related error.

[2021-12-10 00:06] jtgilbert commented on #424
The url is different. When I updated it, it now works in QGIS. In ArcMap I get:
![2021-12-09_170439](https://user-images.githubusercontent.com/21687931/145494944-ddb18731-6a6c-434e-9aa5-a80072d7ff34.png)

Alden was getting:
![2021-12-09_170518](https://user-images.githubusercontent.com/21687931/145494960-014afdaf-364c-4d2d-a452-54795f5a6cef.png)

[2021-12-10 00:10] Cashe93 commented on #395
Thanks, @jtgilbert! I'll get .lyr and .txt files for these produced tomorrow.

[2021-12-12 03:03] Cashe93 commented on #395
I've noticed a potential issue here; but it might not be worth the trouble. It looks like the raster 'value' attribute field isn't consistent for all projects. I think it might be caused from using older versions of LANDFIRE, but I'm not sure. [See this short video](https://youtu.be/-hnl_u_2UQI).

[2021-12-13 17:08] jtgilbert commented on #395
Hey @Cashe93, good catch, the way I generated the land use intensity was from the most current landfire that has those values >7000. I think I generated the veg suitability from a table that had both old and new landfire values. I don't know if it's worth worrying about....I'm not sure what the overall game plan is in terms of supporting older landfire layers.

[2021-12-14 20:58] #408 closed

[2021-12-14 21:38] joewheaton commented on #424
Mentioning @AldenShallcross FYI.

This is a good one for @MattReimer and @philipbaileynar to be aware of. We should put some little warning/disclaimer in our Basemaps (someday) that we do not maintain those WMS and WMTS as this seems to be an issue on their end. I guess it is funny because it looks like we did something wrong, but it is just the flakiness of those services.

[2021-12-16 18:49] joewheaton commented on #418
Thanks @philipbaileynar. Can we create that ticket, and shelf it as a low priority for a little bit. IT will become critical for both the RCAT runs we're on the hook for and some GNAT stuff in the near term (i.e. 2-3 months). So we can revisit it at that time.

[2021-12-16 18:52] joewheaton commented on #418
This is on hold until https://github.com/Riverscapes/riverscapes-tools/issues/529  is done.

[2021-12-16 21:04] #385 closed

[2021-12-21 21:37] Cashe93 commented on #331
![image](https://user-images.githubusercontent.com/49880208/147000758-c2abb11b-7a31-4083-bd49-4bf267ae02a8.png)

![image](https://user-images.githubusercontent.com/49880208/147000812-80ba03f2-ebca-474f-ad96-25015698524d.png)

[2021-12-21 21:52] Cashe93 commented on #331
@joewheaton this symbology is similar to pyBRAT Flow Direction.  Since we don't have a way to apply this symbology using the geometry start and stop points in MapBox, this symbology is only applied to Q and Arc. Still need to explore how to get this working in WebRAVE.

[2021-12-22 21:14] Cashe93 commented on #392
I've updated the Land Ownership symbology to be compatible with both pyBRAT and sqlBRAT.

![image](https://user-images.githubusercontent.com/49880208/147155893-f9058455-0f30-420e-9f1f-2b163df15af8.png)

[2021-12-22 21:46] Cashe93 commented on #394
@MattReimer, I can't get the sqlBRAT Buffer layer to show up in RAVE. I feel like this is a super simple fix, I just can't seem to spot it. Below is the project.xml with the Buffer reference located in the Intermediates. [Here](https://github.com/Riverscapes/RiverscapesXML/blob/master/RaveBusinessLogic/BRAT.xml) is a link to the updated BL. Any suggestions would be greatly appreciated.

[code]

[2021-12-23 14:03] MattReimer commented on #394
It looks like your buffer node is sitting inside another [node that references outputs](https://github.com/Riverscapes/RiverscapesXML/blob/master/RaveBusinessLogic/BRAT.xml#L8)

[code]

but I see the node you're trying to find is actually in Intermediates.

[2021-12-23 19:30] Cashe93 commented on #394
The Buffers node has successfully been added to the project.xml as well as the business logic. Closing this issue.

![image](https://user-images.githubusercontent.com/49880208/147284444-de9f07b3-e1df-4dee-be6b-4e6204f3f6cf.png)

![image](https://user-images.githubusercontent.com/49880208/147284476-e6d1e6b3-04e0-4477-aed9-619c0f62a64b.png)

[2021-12-23 19:31] #394 closed

[2021-12-23 20:00] Cashe93 commented on #395
@jtgilbert and @MattReimer, the Web symbology does not appear to be working for Land Use or Veg Suitability. Its working for both Q and Arc though.

Project: https://webrave.riverscapes.xyz/#/IDFG/2e66e375-891e-420e-907e-7cc2a67a812c

**Land Use**

![image](https://user-images.githubusercontent.com/49880208/147286574-9197ca8d-0d78-46b2-9940-5642404b5434.png)

**Existing Veg Suitability**

![image]

[2021-12-23 20:32] Cashe93 opened #435 "Issues found within pyBRAT projects"
**Description**
This is where we will track various issues regarding legacy pyBRAT projects

## Issues

- [ ] [Network node won't appear for all projects](https://youtu.be/LjUPDlGqTLM) - ID differs within project .xmls
- [ ] [Land Use and Veg Suitability won't be symbolized properly for every project](https://www.youtube.com/watch?v=-hnl_u_2UQI) - For some projects, LANDFIRE raster values fall out

[2021-12-23 21:14] Cashe93 commented on #364
All changes to this symbology have been made. There are now two symbologies (one for pyBRAT and one for sqlBRAT). WebRAVE symbology may still be misleading, but I've officially run out of ideas on how to improve it further. Closing this issue for now.

[2021-12-23 21:14] #364 closed

[2021-12-23 21:38] #360 closed

[2021-12-23 21:41] Cashe93 commented on #393
This has been looked into with fixes in the works.

[2021-12-23 21:41] #393 closed

[2021-12-23 21:42] #361 closed

[2021-12-23 21:42] #355 closed

[2021-12-23 22:31] jtgilbert commented on #395
@Cashe93 Weird, I can't figure it out just from a quick look. I did notice though that existing veg suitability looks different in Q and Arc. Are you sure that the lyr file matches the qml?

[2021-12-23 23:52] Cashe93 commented on #395
The symbology is generally the same, but since ArcMap doesn't have an issue with RATs, the .lyr is set up much more simply than the .qml.

![image](https://user-images.githubusercontent.com/49880208/147298818-534d1df5-5b96-431e-b017-f519c1b1a42c.png)

**Compared to:**

![image](https://user-images.githubusercontent.com/49880208/147299835-33abeecc-466c-4b05-8b22-81f78fcc7c54.png)

The only differen

[2021-12-24 00:26] jtgilbert commented on #395
@Cashe93 I was noticing conifer classes that have a VEG_CODE of 3 in the landfire attribute table, but a default suitability of 2 in the databases and other tables in the repository.

[2021-12-28 21:26] Cashe93 commented on #414
Will this work for the updated symbology?

![image](https://user-images.githubusercontent.com/49880208/147608251-f80e8fe5-a276-4d87-bf0b-6c694e0da2ef.png)

[2022-01-03 18:03] Cashe93 commented on #395
@jtgilbert, I think the default suitability scores may have been updated a bit since these pyBRAT projects have been run. If you are comparing pyBRAT suitabilities to the default suitabilities we are currently using for sqlBRAT, that might be the cause for the differences you are seeing.

[2022-01-04 19:01] jtgilbert commented on #414
@Cashe93 I think it looks good, much easier to distinguish now.

[2022-01-04 19:03] Cashe93 commented on #414
Right on. The updated symbology is part of pull request #434

[2022-01-07 17:45] joewheaton opened #436 "All Symbology for RIM Project Type"
## Specification
*Project Type*:  `e.g. [RIM](https://github.com/Riverscapes/RIM)`
*Layer(s)*:
All

## Description and/or Explanation of Need
Consistent display across all three platforms.

-------
## To-Do

- [ ] Start new branch with descriptive name for these changes (e.g. curation_RIM)
- [x] Make necessary edits to business logic and commit to new branch
- [x] Author `*.qml` for QRAVE of layer

[2022-01-10 21:08] CHafen opened #437 "Potential Bug in QRAVE GUT"
Steve Bennett is having some issues with GUT in QRAVE. When he adds an individual layer to the map it shows up just fine, but when he tries to add another layer from a different year it shows up in the layers panel but not on the map. I tried to replicate it on my computer and didn't have the same problem. I wonder if this is because of the version of Q he is using. He has QGIS 3.16.7 and I have v

[2022-01-12 20:38] CHafen commented on #437
From Steve:
Hey Chalese

I have been marching along editing the GUT output - I still can’t load two years at the same time from one project and I get QRAVE error each time I load a project. I found my error logs though (thanks to Nick Weber) - here’s a screen shot

![unnamed](https://user-images.githubusercontent.com/39837888/149217867-7c4e8113-497a-4950-bb40-f65e68c691a2.png)

[2022-01-13 20:48] #232 closed, assigned to CHafen

[2022-01-20 16:33] CHafen commented on #436
@Jdgilby here's the curation stuff that needs to get done for RIM

[2022-01-26 22:51] nick4rivers commented on #181
@joewheaton There is still a lot of refinement on the structure of a design that needs to happen on this. These decisions need to be made with more than just myself.  You and others and Anabranch are very opinionated about the data structure that defines a design.

[2022-01-26 22:53] nick4rivers commented on #187
@joewheaton I think that all of this is really premature and should be pushed way back until we can finalize the structure of an ltpbr design.

[2022-02-05 23:39] joewheaton commented on #436
@CHafen, @jtgilbert and @Jdgilby  thanks for this. Just a super minor housekeeping issue. When you do your pull requests, reference the issue they "address" or "fix" e.g. `addresses #436` so they show up in this ticket.  So when @jtgilbert did:
https://github.com/Riverscapes/RiverscapesXML/pull/438, he could have mentioned this issue there or in the commit: https://github.com/Riverscapes/Riverscap

[2022-02-05 23:54] joewheaton commented on #414
Agreed, BUT, please make the easiest thickest line width, straight forward thicket than the others and then the rest at current thickness.

[2022-02-07 22:51] jtgilbert opened #444 "Including BRAT management outputs for entire (not just perennial) network"
from @AldenShallcross :

On a side note, I’ve been asked several times now whether metrics from BRAT are available for the entire NHD network (not just perennial).  In WebRAVE, I see that capacity estimates area available for the entire network.  However, the Management layers are not.  What are your thoughts on the addition of “management” layers for the entire network………with stated caveats like,

[2022-02-07 22:51] jtgilbert commented on #444
This would be pretty easy to implement, thoughts @joewheaton?

[2022-02-08 16:08] joewheaton commented on #444
Totally doable and reasonable. It is just a matter of how we expose it in business logic (once we fix whether or not we calculate these things... I think we must already)? We can bury these sorts of things easily enough in the tree and not emphasize them with default views.

Just a reminder, what @MattReimer and I did to get this to "work" in WebRAVE temporarily is NOT the  long-term solution.  I

[2022-03-04 20:37] CHafen commented on #436
@Jdgilby I updated the Inundation business logic so it will use the symbology that is already in the shared folders (BRAT existing cap, VBET, DEM and hillshade). It seems to work in Q just fine, but the hillshade and dem don't appear to be working in WebRave. When you have a chance would you mind taking a look to see if you can see why it might not be working?

[2022-03-10 13:58] CHafen opened #448 "Inundation WebRAVE dem and hillshade not showing up"
The dem and hillshade aren't showing up in webRave for the RIM projects. The dem legend shows up but nothing shows up on the map. Not sure why it's having this problem.  I've looked at several projects and it they don't show up on any of them. @joewheaton @jtgilbert
![noDEMorHS](https://user-images.githubusercontent.com/39837888/157677014-098ce94f-b4bc-4a06-acf9-72559abce361.png)

[2022-03-17 22:00] MattReimer commented on #437
This is likely either related to one of:

- https://github.com/Riverscapes/QRAVEPlugin/issues/68
- https://github.com/Riverscapes/QRAVEPlugin/issues/66

When those are closed let's revisit this.

[2022-03-22 19:49] CHafen opened #451 "Inundation dam state issue"
There's an issue with the symbology for the dam state layer in inundation. Some of the projects (Bridge Creek, SF Spread Cr, Temple Fork Creek, Mill Creek, Rock Creek, and Beaver Creek) are having dams that should be showing as "blown-out" but are being symbolized as "other." It looks like in the attribute table these dams have been labeled as "blown_out" instead of "blown-out." Does someone need

[2022-03-30 19:54] CHafen commented on #436
@joewheaton this is basically done other than a few issues as described in issue #448 and #451.

[2022-04-11 18:16] MattReimer commented on #410
Here's a first pass at what could end up in the Riverscapes project XML after adding QA/QC based on conversations with @joewheaton and @philipbaileynar

This is a very rough first pass so let me know if anyone has any concerns about field names, dimensionality, edge cases etc.

[code]

[2022-04-11 18:25] philipbaileynar commented on #410
I like the "time line" approach to QAQC, but I have two questions (sorry if they are more appropriate elsewhere):

1. How do we measure "completeness" with a simple QC timeline?
    - How do we know 50% of QC is complete as opposed to 75%?
    - How does a reader know which layers are QC and which are yet to be looked at?

[2022-04-11 18:50] MattReimer commented on #410
Short answer: We don't. QA/QC is going to mean different things for different projects, different organizations (and even different grades of projects i.e. research/production) So the idea of "completeness" is not something we can really track.

Given the challenges of how diverse our needs are this system just gives folks the ability to define what they mean by QA/QC and then lets the user decide

[2022-05-17 19:27] #410 closed

[2022-06-27 15:03] shelbysawyer commented on #372
Closing this. I got the symbology as close as I could manage.

[2022-06-27 15:03] #372 closed

[2022-07-12 14:51] MattReimer opened #470 "Upgrade Business Logic to 2.0"
Business logic XML files are located in the `RaveBusinessLogic` folder of this repo. They dictate how the `project.rs.xml` file gets rendered into a tree inside our QRAVE products.

In preparation for the new warehouse we need our business logic to be updated so that it can find layers in the new XML files.

There is a new branch on `RiverscapesXML` called `businesslogic2.0`. Please use that for a

[2022-07-15 20:55] Arsinam80m opened #472 "Potential Bug in"
**Describe the bug**
A clear and concise description of what the bug is.  Including a video is super helpful (post it to YouTube and use this syntax to "embed it": [![Alt-text](https://img.youtube.com/vi/YTID/0.jpg)](https://www.youtu.be/watch?v=YTID){:target="_blank"} and [substitute the YouTube video ID](https://riverscapes.xyz/Tools/Technical_Reference/Documentation_Standards/WebSites/Common.ht

[2022-07-15 20:55] Arsinam80m commented on #472
M

[2022-08-17 17:45] joewheaton commented on #472
@jtgilbert please investigate.

[2022-08-23 16:06] jtgilbert commented on #472
There's no info here....just copied and paste issue format. Closing for now.

[2022-08-23 16:06] #472 closed

[2022-09-14 23:02] shelbysawyer opened #474 "Updating VBET's Business Logic"
Changes made to VBET requires the business logic to be updated. As some aspects of VBET are still in development, the process for establishing the "final" business logic is somewhat difficult to achieve with the current business logic. To address this, I will:

- [ ] Write a business logic version that exposes all layers in the most updated version of VBET (`VBET_ALL.xml`). This will aid us in bei

[2022-09-14 23:03] shelbysawyer opened #475 "Author VBET_ALL.xml"

[2022-09-14 23:04] shelbysawyer commented on #475
`<?xml version="1.0" encoding="utf-8"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://xml.riverscapes.xyz/RaveBusinessLogic/XSD/project_explorer.xsd">
  <Name>VBET</Name>
  <ProjectType>VBET_All</ProjectType>
  <Node xpathlabel="Name" xpath="Realizations/VBET">
    <Children collapsed="false">
      <Node label="Project Report" xpath="Outputs/

[2022-09-14 23:06] shelbysawyer commented on #475
`
<?xml version="1.0" encoding="utf-8"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://xml.riverscapes.xyz/RaveBusinessLogic/XSD/project_explorer.xsd">
  <Name>VBET</Name>
  <ProjectType>VBET_All</ProjectType>
  <Node xpathlabel="Name" xpath="Realizations/VBET">
    <Children collapsed="false">
      <Node label="Project Report" xpath="Outputs

[2022-09-14 23:07] shelbysawyer commented on #475
<?xml version="1.0" encoding="utf-8"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://xml.riverscapes.xyz/RaveBusinessLogic/XSD/project_explorer.xsd">
  <Name>VBET</Name>
  <ProjectType>VBET_All</ProjectType>
  <Node xpathlabel="Name" xpath="Realizations/VBET">
    <Children collapsed="false">
      <Node label="Project Report" xpath="Outputs/H

[2022-09-14 23:08] shelbysawyer commented on #475
I'm going to close this because it's done, but I couldn't figure out how to drop the XML here.

[2022-09-14 23:08] #475 closed

[2022-09-14 23:11] shelbysawyer opened #476 "Author VBET_SEP2022.xml"

[2022-09-17 09:24] joewheaton opened #477 "Provide specification for how naming and versioning business logic conventions should be used."
@MattReimer, it has come up several times now where we have a need to keep an existing or old version of business logic, but a new version of a tool or model emerges and we need something better than old and new or final suffixes or prefixes. We have punted on this previously in some false sense of delusion that it would not be that common. We have good guidelines for versioning of tools. Can you

[2022-09-17 09:27] joewheaton commented on #476
@shelbysawyer please talk to @philipbaileynar or @MattReimer about a better future proof way of versioning business logic.  Avoid things like "final" in a name. We need some guidelines on naming #477

[2022-09-17 16:08] shelbysawyer commented on #476
Sounds good @joewheaton. This is the name @philipbaileynar instructed me to use during our meeting.

[2022-09-18 10:29] joewheaton commented on #476
Thanks @shelbysawyer. @philipbaileynar I don't like that name. The notion that this will be the final is a pipedream at best. We need a way for these to get adapted and changed in future, without breaking previous versions. See updates to #477

[2022-09-18 10:40] joewheaton commented on #477
I was trying to remind myself how RAVE looks for business logic. My memory was failing.

I think that for the current live warehouse @MattReimer is already "registering" if you will one VBET Business Logic to be the default display for each version of them model based on the old "Program" (e.g. https://github.com/Riverscapes/RiverscapesXML/blob/master/Programs/Anabranch/Program.xml)?

https://gith

[2022-09-18 16:07] philipbaileynar commented on #476
The word "final" was merely a euphemism and not intended to be the last ever version. I just used this word to distinguish it from the temporary version that lists all layers and attributes for review.

[2022-09-18 16:21] shelbysawyer commented on #476
@joewheaton Just adding on to say that this file is local on my computer, to be used for testing local changes only, and I more than likely missed the implied understanding that I shouldn't actually name the XML file as such when I share it. Sorry about that.

[2022-09-19 19:31] MattReimer commented on #477
Ok so. Some notes:

* The name of the businesslogic file must match what is in the `<ProjectType>VBET</ProjectType>` tag exactly. **It is case sensitive**. This means that `VBET_FINAL.xml` will not work unless `VBET_FINAL` is the name of your project type.

    **_That has other implications for Symbology so I think we should not be changing the project type in this way or using it as a way to dif

[2022-09-25 14:48] joewheaton commented on #477
Thanks so much for this @MattReimer. This is a really helpful explanation, reminder and speculation about things we could do. I like the idea of version gates, and I like how you've laid out pros and cons for these. I think when we get to discussions of documentation (@jtgilbert and @philipbaileynar) and updates to RAVE associated with this we can take your notes and use that to help us. The rest

[2022-10-07 15:55] MattReimer commented on #470
This is done and merged. Closing

[2022-10-07 15:55] #470 closed

[2022-10-07 16:05] MattReimer commented on #292
This seems like a stale issue so I'm closing it @Cashe93 re-open it or ping me if it's still relevant

[2022-10-07 17:05] MattReimer commented on #44
I'm closing this. The xml repo accepts http AND https and this is important for testing webApps using create-react-app locally.

[2022-10-07 17:05] #44 closed

[2022-10-13 18:19] MattReimer commented on #392
Stale issue. Closing.

[2022-10-13 18:19] #392 closed

[2022-10-18 02:56] shelbysawyer commented on #476
Closing, as this is finished. Will create new issue to update the XML when VBET is more stable.

[2022-10-18 02:56] #476 closed

[2022-10-19 18:50] jtgilbert opened #483 "Symbology for Mean Annual Precip Layer in RSContext Project Type"
## Specification
*Project Type*:  `Riverscapes Context`
*Layer(s)*:
Mean Annual Precipitation
https://github.com/Riverscapes/RiverscapesXML/blob/eac6bf3523bef20f41a0816016ab4a9bfe6a4684/RaveBusinessLogic/V2/RSContext.xml#L58

*Type(s)* - Raster

## Description and/or Explanation of Need
The qml file for QRAVE has min and max values that don't match webRAVE symbology, and essentially cause the rast

[2022-10-21 19:55] joewheaton commented on #483
@jtgilbert once you get these queued up, just either coordinate with @wally-mac on who to assign to or assign to @wally-mac and he will reassign.

[2022-10-26 16:41] jtgilbert commented on #483
fyi @wally-mac @Cashe93 I'm about to push a bunch of updates to RSContext, including new layers, so there'll be a round of curation to do for this in the near future.

[2022-10-30 11:06] joewheaton commented on #451
@jtgilbert please work with @CHafen to help her wrap this one up.

[2022-10-30 11:13] joewheaton commented on #448
@CHafen and @jtgilbert, I am not sure if this is why, but I get this warning in QRAVE for the hillshade (e.g. project: https://webrave.riverscapes.net/#/USFS_PIBO/f8aa96b1-0d95-49c6-b82d-03a0b7842cac).
![image](https://user-images.githubusercontent.com/9723905/198875603-74809eb1-222e-4474-b83b-b4e688aa2b6c.png)

[2022-10-30 11:18] joewheaton opened #485 "Bug: RIM projects incorrectly showing primary output of. Inundation Types as polylines instead of polygons"
**Describe the bug**

RIM projects show up in WebRAVE and QRAVE as polylines instead of polygons in the tree (fortunately, they display on map correctly):
![image](https://user-images.githubusercontent.com/9723905/198875764-db83660e-da7e-4bfd-b71a-afc683a6b96a.png)

[2022-10-30 11:37] joewheaton opened #486 "Many RIM projects still not showing UAV photos (or if they are.. not correctly). Resolution of UAV basemaps needs to be improved in webRAVE."

[2022-10-30 11:40] joewheaton commented on #485
![image](https://user-images.githubusercontent.com/9723905/198876511-e0fe2059-c0ac-4f03-905b-5bca25d2a9ea.png)

[2022-10-30 11:51] joewheaton opened #488 "Symbology for Dams and Jams Layers in My_JDS Project Type"
## Specification
*Project Type*:  `My_JDS` (feel free to rename... just something for "My Jams and Dams Survey"  type
*Layer(s)*:
- Beaver Dams (points)
- Beaver Dams (polyline)
- LWD Jams (points)
- LWD Jams (polyline)
Above will need repeating for each attribute we decide to display.

Layer Name (reference line in business logic if possible - e.g. :
https://github.com/Riverscapes/RiverscapesXML/

[2022-10-30 13:52] joewheaton opened #489 "Change Default View to Inundation Type"
The default view is the watershed context currently.  Please change to Inundation Type.

![image](https://user-images.githubusercontent.com/9723905/198882130-6d79dc57-f4a0-4744-b9ef-9e3b054128d4.png)

I want this to be default view:
![image](https://user-images.githubusercontent.com/9723905/198882277-de6e5fbc-4cb4-4af2-903c-5e8ea3cf5ee5.png)

[2022-10-31 16:10] #485 closed

[2022-10-31 16:15] #489 closed

[2022-11-07 23:21] jtgilbert commented on #451
@CHafen I think you could just have both blown-out and blown_out in the symbology file with the same label and color

[2022-11-25 15:47] MattReimer opened #494 "Feature Request: Patterned project.rs.xml datasets"
In the businesslogic we have the ability to use regexes or glob patterns.

In France we saw that Samuel had an FCT project with many (possibly thousands) of files with predictable names.

* Should we consider this? What are the drawbacks and benefits?
* What are the implications going forward.

[2022-11-25 15:49] MattReimer opened #495 "Create Riverscapes XML Pip module"
The task: Pull all simple common modules out of riverscapes-tools and create a pip module for writing XML files

* [x] CI versioning and publishing to PyPi
* [x] Unit tests
* [x] XML writing
* [x] Validation 2 ways (validate XML and validate project)
* [x] Documentation

[2022-11-25 15:51] MattReimer opened #496 "Product versions should allow github hashes"
Versions can be semanic versions OR github hashes. Right now only semantic versions are accepted.

[2022-11-25 15:55] MattReimer commented on #496
FYI @sdunesme

[2022-11-25 15:55] MattReimer commented on #495
FYI @sdunesme

[2022-11-25 15:55] MattReimer commented on #494
FYI @sdunesme

[2022-11-28 17:15] MattReimer opened #497 "Update VBET BusinessLogic to work with newer version"
We've recently [revamped the way VBET](https://github.com/Riverscapes/riverscapes-tools/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22New+VBET+%282022%29%22) works so we need to update the Businesslogic in anticipation