[2020-02-27 19:47] MattReimer opened #177 "Open Source Raster Symbolizattion"
## Raster Symbolozation

A good cross-platform and open-source way of symbolizing Raster files is by using the standards specified in the `GRASS r.colors` module

Here's what a typical `.cpt` file looks like:

<https://grass.osgeo.org/grass78/manuals/r.colors.html>

[code]

Here's a terrain map with discrete values

[code]

More examples of color tables:

<https://grasswiki.osgeo.org/wiki/Color_ta

[2020-04-22 03:45] philipbaileynar opened #221 "Base Map XSD"
We need an XSD for the new [BaseMap.xml](https://github.com/Riverscapes/RaveAddIn/blob/master/RaveAddIn/BaseMaps.xml) file that ships with RAVE. This will also be referenced by the custom file that users write in APPDATA folder.

[2020-05-04 21:08] joewheaton opened #244 "Evidence intermediate not added to project explorer with business logic for RAVE"
Currently, VBET is not including the evidence raster intermediate, which represents [Step 4](https://riverscapes.github.io/vbet/algorithm.html#step-4----combined-evidence) in the process.

@philipbaileynar maybe assign to Cashe when you have a GitHub username for him.

![image](https://user-images.githubusercontent.com/9723905/81012917-94333f80-8e17-11ea-80d6-2e6394fefc7f.png)

# Symbolize Interme

[2020-05-04 21:38] joewheaton opened #141 "Need some symbology for each of Normalized Lines of Evidence"
We need to add to VBET business logic when Riverscapes/vbet#15 is done a node under Intermediates for `Normalized Lines of Evidence`,  and since these could be  produced for different inputs in future or user might tweak them, we should allow for realizations (i.e. multiple entries under each type)

## Potential Slope nLoE
![image](https://user-images.githubusercontent.com/9723905/81016063-fe02180

[2020-05-04 23:41] joewheaton opened #179 "Research QML as substitute for Layers"
## The Problem
RAVE currently uses `*.lyr` files as basis for building its symbology that are from ArcGIS 10.4.  The problem is that none of the development team (other than @philipbaileynar) use ArcGIS 10.4 and cannot produce old Layer files without uninstalling their current version or finding an old 10.4 version on another machines. The other irony is this open-source piece of software using so

[2020-05-08 18:06] MattReimer opened #2 "Create Asotin IMW Program"
@MattReimer please create a new data warehouse program called "Aostin IMW". The IMW stands for "intensively monitored watershed". Initial (more to come) project types:

- Topo Toolbar
- CAD Export
- Hydro Model
- Fish habitat
- GCD
- GUT
- Riverscapes Context
- VBET

## Comments

- This is billable work for Anabranch. I am working on the GUT and GCD project definitions.
- This request is time sens

[2020-05-13 01:07] MattReimer commented on #2
@philipbaileynar

Is this the old VBET or the new one? (I assume new)

BRAT and RSContext usually live in HUC8 folders. If you want them to live in the CHaMP-y folder structure the project meta is going to need to include:

* Watershed: 'Asotin'

If this is all in the asotin watershed we should probably revise the hierarchy.

[2020-05-14 21:56] MattReimer commented on #2
Just need to make the new API aware of this program tomorrow and I'll close the issue

[2020-05-15 11:19] MattReimer commented on #2
Done. YOu should have access now.

[2020-05-15 11:19] #2 closed

[2020-05-19 16:58] MattReimer opened #10 "Meta Data Type"
A URL Type of data is useful to help people link in external data sources and reference items on the internet.

There are two possible ways forward here that I'd like to explore, both mentioned by @joewheaton on his ticket here: https://github.com/Riverscapes/RaveAddIn/issues/47

More generally we need to add a little, optional `type` to the metadata to help us contextualize it.

I'm going to sugg

[2020-05-19 17:01] MattReimer opened #11 "Automated Testing"
Given how absolutely critical this repo is I think we need some automated python unit tests to:

* Validate all the example XML to make sure changes don't break anything
* Give us another data point and safety indicator when we merge a pull-request
* Allow future expansion for more complex validation like program logic validation.

This ticket is just about slamming in a really quick python unit t

[2020-05-19 18:49] MattReimer commented on #10
Pretty straightforward. I've added an optional attribute to the `<Meta>` tag that should allow us to intelligently render metadata if we choose.

[code]

We can debate about the spelling or list in the enumeration but the idea is that Metadata can have a hint associated with it about how tools that read the `project.rs.xml` file should render this.

like so:

[code]

All nodes are still strings an

[2020-05-19 18:53] MattReimer opened #13 "Possible URL Type"
We now have a Meta Type #10 but there may be a case where a more formal URL is needed as a data type that can actually be rendered on a map

This issue was first mentioned here:
https://github.com/Riverscapes/RaveAddIn/issues/47

But I'm setting up a ticket in this repo so that I can attach commits and discuss the detailed XSD implementations of the schema change.

[2020-05-19 18:59] joewheaton commented on #10
Nice one @MattReimer. I like this for the `<MetaData>` option. Two clarification questions:
1. Is that syntax of two `<Meta>` tags having same `name="url"` argument but different types (i.e. `type="URL"` and `type="UnixTimestamp"` common or specific to just this url example?
2.  In [RaveAddIn/issues/47](https://github.com/Riverscapes/RaveAddIn/issues/47) you mentioned:

Is this something that shou

[2020-05-19 19:00] joewheaton commented on #13
Ignore Q2 on #10...I didn't see this.

[2020-05-19 19:01] MattReimer commented on #10
name can be anything. It's the `type=` that provides the hint about what the string contents of the tag are and how they should be rendered.

Gotcha covered: #13

[2020-05-19 19:24] MattReimer opened #15 "Duplicate products in the Asotin"
At some point we should probably have a unit test to validate programs but for now we had some products in the asotin IMW double-listed in the hierarchy.

[2020-05-19 19:28] #15 closed

[2020-05-19 22:42] #11 closed

[2020-05-20 00:08] MattReimer opened #17 "BRAT has a new elements"

[2020-05-20 00:16] #17 closed

[2020-05-20 16:42] philipbaileynar opened #19 "VBET project XML does not validate"
I just ran this VBET for Station Creek (16010202) and am unable to upload the project because the XML does not validate:

[code]

[2020-05-21 04:05] #19 closed

[2020-06-02 00:02] tyler1218hatch opened #175 "Add compatibility for pyBRAT 3 projects"
pyBRAT 3 has been run on many projects, and as such, it would be useful to be able to view those projects using RAVE. pyBRAT 3 already generates a project XML, so this should just be a matter of creating a business logic XML and some symbology.

@philipbaileynar, can you point me in the right direction to get started on this? Thanks!

[2020-06-10 22:13] philipbaileynar opened #23 "Demo fmLTPBR Project"
Create a demo riverscapes project for Nick Weber's fmLTPBR app. He has exported a set of CSV files that can be downloaded here:

https://ecologicalresearchinc.app.box.com/s/y5e6a8b9vrdqhchca4pjtaqm7u94qkij

Here is a schematic of the database relationships:

![Screen Shot 2020-05-29 at 10 56 45 AM](https://user-images.githubusercontent.com/8645379/84323692-1b1cbb80-ab2c-11ea-8c97-455edd19c723.png)

[2020-06-11 19:55] #23 closed

[2020-06-11 19:57] MattReimer commented on #23
One thing we didn't mention was where to put this. It has different metadata than other projects so I'm not sure exactly where it fits. Did we want this in the warehouse in its own program?

[2020-06-11 19:58] philipbaileynar commented on #23
For now just Anabranch program. Add metadataas needed.

[2020-06-11 20:27] MattReimer commented on #23
https://northarrowresearchlabs.github.io/riverscapes/#/Anabranch/24b3a2c3-1ddd-4a56-94e9-acf35441f5eb

[2020-09-24 23:26] philipbaileynar opened #27 "New public Riverscapes Warehouse Program"
We are inviting people to pay for riverscapes projects that are then made public and available to anyone who wants them. We need a new program to host these projects.

* Riverscapes Context
    * HUC8
    * HUC10
    * HUC12
* VBET
    * HUC8
    * HUC10
    * HUC12
* BRAT
    * HUC8
    * HUC10
    * HUC12

[2020-10-07 21:03] philipbaileynar opened #235 "Add log files to business logic"
Add the log file for each model to the top of the business logic (similar to how we show the database and report for BRAT)

* [ ] RSC
* [ ] VBET
* [ ] BRAT
* [ ] TauDEM
* [ ] ChannelArea
* [ ] Confinement
* [ ] GNAT
* [ ] RVD

[2020-10-16 17:35] MattReimer opened #29 "Enable HUC10 and HUC12 for Anabranch"
from conversation with @philipbaileynar

[2020-10-16 18:13] #29 closed

[2020-10-26 20:09] MattReimer opened #31 "pyBRAT naming"
Hey @joewheaton,

Right now our new automated BRAT is just called  BRAT or "BRAT Models (Huc8)" in the long name.

@tyler1218hatch is currently working on getting project files for the legacy BRAT runs. Right now the running name is  "pyBRAT".

Is this confusing? How do we want to see/name the legacy BRAT projects represented in the warehouse? I'm going to need a short machine name and a longer na

[2020-12-02 22:33] joewheaton commented on #31
Sorry @MattReimer I missed this.

Instead of

Lets do for sqlBRAT
[code]

Sorry if I am too late.

[2020-12-03 00:03] MattReimer commented on #31
Ok, so I'm not 100% clear on what you meant by that.

The new BRAT (the one that runs in Cybercastor) is as follows:
[code]
I can change the `name` but the `machineName` is locked in because it's already in use.

The older pyBRAT models that have yet to be uploaded to the warehouse (and what this ticket is about) are as follows
[code]
I can change both `name` and `machineName` for these.

[2020-12-03 00:06] joewheaton commented on #31
Got you.... A okay on sqlBRAT and cyber castor.

lets go with for pyBRAT:

[code]

[2020-12-18 19:25] philipbaileynar opened #35 "New Project Type: Project Planning and Design Definition"
1. [ ] Weber creates example project with populated geopackage(s) organized in folders.
1. [ ] Weber and Matt meet to author project XML. Also add empty report HTML file.
1. [ ] Weber empties the example Geopackage of data and puts in placeholders in XML. Then zips this "template" and puts it in GitHub attached to a release.
1. [ ] Weber authors instructions for Anabranch staff to download and pop

[2021-01-01 17:07] philipbaileynar opened #36 "Update BRAT XSD"
Update the BRAT Project XSD to match the new being produced by the new GeoPackage version of BRAT.

Here's a sample:

[code]

[2021-01-04 19:20] MattReimer opened #37 "Update API endpoints to coincide with new CDK deployments."
This should only be merged as a last step before https://github.com/Riverscapes/rs-web-monorepo/pull/61

[2021-01-13 22:56] MattReimer commented on #37
#38 is done and this was unnecessary. CLosing

[2021-01-13 22:56] #37 closed

[2021-01-13 22:57] #36 closed

[2021-01-13 22:57] MattReimer commented on #36
This is done. The new brat is the only thing we accept.

Related to #38

[2021-01-28 03:34] MattReimer opened #40 "Confinement change"
Related to
https://github.com/Riverscapes/riverscapes-tools/issues/188

confinement xml no longer validates

[code]

[2021-01-28 14:57] #40 closed

[2021-02-01 18:32] joewheaton opened #219 "Riverscape Project Collections"
## The Problem
This problem has been discussed in the context of "project references" but is best summed up nicely in this logical question from Steve Bennett:

We have kept riverscape projects at "manageable" sizes (and I think are leaning towards doing more of this) mainly governed by download size (i.e. < 1.5 GB).  I like the idea of projects being smaller unit chunks and they themselves repeat

[2021-02-10 23:17] joewheaton opened #174 "Improve VBET Symbology & Business Logic"
Please use the latest experimental runs of VBET in Klamath from VBET 0.3.2 to customize the symbology and business logic for VBET.

[2021-02-10 23:19] joewheaton opened #173 "Improve Confinement Symbology"
Please use the latest experimental runs of Confinement in Klamath from Confinement 0.1.1 to customize the symbology and business logic for Confinement.

[2021-02-11 19:05] MattReimer opened #41 "Clear VSCode's XSD Cache"
Couldn't find a good place to put this tip. Eventually it should end up where the XSD validation docs live.

Sometimes the old XSD gets stuck in cache. It's pretty easy to fix.

On a mac look for a `.lemminx` folder. Traverse it until you find the the XSD you want to remove and just delete the file

[code]

[2021-02-11 19:32] philipbaileynar commented on #41
Done. Nice to have as issue for future reference.

[2021-02-11 19:32] #41 closed

[2021-02-22 19:05] MattReimer commented on #10
Ok. @philipbaileynar  and @joewheaton here's where I'm landing on meta types:

### Types:

Here's a list of the value Meta type="" attributes:

[code]

### Examples

Now use it in an example:

[code]

We can extend this list later but any concerns about the initial list or the way it's used should be handled now because I'm going to immediately start using it for RSContext and VBET

[2021-02-28 21:24] joewheaton commented on #10
@MattReimer or @philipbaileynar thanks for this awesome solution. Can we use this excuse as a way to figure out what our workflow is to put the documentation request update in to move the basic documentation @MattReimer provided above to appropriate place at https://riverscapes.xyz/Tools/Technical_Reference/Documentation_Standards/

I'm not thinking this should be for @MattReimer or @philipbaileyn

[2021-03-01 17:24] MattReimer opened #43 "LTPBR Plannign and design audit of GPKG"
From Nick:

https://3.basecamp.com/3997483/buckets/15100530/messages/3385478884#__recording_3521455472

[2021-03-03 17:31] #43 closed

[2021-03-05 18:49] MattReimer opened #44 "Jekyll site upgrade to use HTTPS"
**_This is a minor issue and has LARGE consequences for the warehouse so it should not be done lightly._**

Maybe coordinate with a Warehouse release so that we can make adjustments quickly if we need to.

[2021-03-05 21:38] philipbaileynar commented on #44
How does Jekyll relate to warehouse?

[2021-03-06 00:09] MattReimer commented on #44
xml.riverscapes.xyz is called upon by the warehouse. If we start monkeying with the address we could break everything.

[2021-04-06 17:54] MattReimer opened #47 "add topo projects to the Yankee Fork program"
Can you please add topo projects to the Yankee Fork program. These are regular CHaMP topo projects produced by the CHaMP Topo Toolbar.

These projects have the same mandatory metadata as the topo projects in both the Asotin and CHaMP warehouse programs.

[2021-04-06 18:00] #47 closed

[2021-04-06 18:01] MattReimer commented on #47
@philipbaileynar  This has been finished. You should be able to upload now

[2021-05-04 22:34] nick4rivers opened #51 "Weber Pull"
@MattReimer  - I am trying to submit a pull request (I think), and am getting a 403 error.

I did the following
 - cloned this repo
 - created a new branch
 - added my .qml file
 - added a commit to my branch
 - tried to `git push origin my-branch-name`

Any ideas, sorry to bother you with these basics? but I'd like to keep fleshing out the .qml symbology for our riverscapes projects.

[2021-05-04 23:51] MattReimer commented on #51
@nick4rivers  I may have had the security too tight on this repo. Try it again

[2021-05-05 15:31] MattReimer commented on #51
Checked that you have access so I'm closing this

[2021-05-05 15:31] #51 closed

[2021-05-12 15:50] philipbaileynar opened #54 "Typo in RSC business logic"
Perennial is misspelled in RSC business logic:

https://github.com/Riverscapes/RiverscapesXML/blob/master/RaveBusinessLogic/RSContext.xml#L19

<img width="443" alt="Screen Shot 2021-05-12 at 8 49 52 AM" src="https://user-images.githubusercontent.com/8645379/118005196-067a1200-b2ff-11eb-905e-12177999de39.png">

[2021-05-12 16:48] #54 closed

[2021-05-13 16:19] MattReimer commented on #27
This is done

[2021-05-13 16:19] #27 closed

[2021-05-17 21:34] joewheaton opened #58 "Build slope.qml"
Please create a new `slope.qml` equivalent to [slope.lyr](https://github.com/Riverscapes/RiverscapesXML/blob/master/Symbology/esri/Shared/slope.lyr)

[2021-05-17 21:36] joewheaton commented on #58
This is really similar to #57

[2021-05-17 21:38] joewheaton opened #59 "Build roads.qml"
Build a `roads.qml` eqivalent to [roads.lyr](https://github.com/Riverscapes/RiverscapesXML/blob/master/Symbology/esri/Shared/roads.lyr)

[2021-05-17 23:17] joewheaton opened #62 "Build Color Ramps for ETAL.sytle in Q"
In order to build `qml` files quickly and easily, we need to first get the same color ramps into Q we use in ARC. We should start with getting the color ramps from ArcGIS from our [lab style file](http://etal.joewheaton.org/working-with-styles-in-arcgis.html)

![image](https://user-images.githubusercontent.com/9723905/118564461-86eca880-b72d-11eb-96a9-3811b515a54d.png)

[2021-05-17 23:24] lauren-herbine opened #63 "Build land management .qml"
Build a land management .qml similar to [ownership.lyr](https://github.com/Riverscapes/RiverscapesXML/blob/master/Symbology/esri/RSContext/ownership.lyr)

[2021-05-17 23:26] lauren-herbine opened #64 "build fair market value .qml"
build a fair market value .qml similar to [fair_market.lyr](https://github.com/Riverscapes/RiverscapesXML/blob/master/Symbology/esri/RSContext/fair_market.lyr)

[2021-05-17 23:30] lauren-herbine commented on #59
pull request #61 addresses most of this. TNMFRC 6-8 symbology not where it needs to be yet. Current Arc symbols:
![image](https://user-images.githubusercontent.com/73319684/118568642-7e986b80-b735-11eb-8a05-be74ec057338.png)
Current Q symbols:
![image](https://user-images.githubusercontent.com/73319684/118568661-9112a500-b735-11eb-9a94-67b2ed17b5a9.png)

[2021-05-17 23:33] shelbysawyer opened #65 "build huc12.qml"
Please create a new huc12.qml equivalent to huc12.lyr

[2021-05-17 23:35] shelbysawyer opened #66 "build temperature.qml"
Please create a new temperature.qml equivalent to temperature.lyr

[2021-05-18 00:03] MattReimer commented on #58
This looks great!

***FYI @shelbysawyer and @lauren-herbine and @joewheaton***: if you add `"fixes #58"` or `"closes #58"` to the end of your commit message then this issue will automatically be closed for you whenever the pull request goes through.

so something like "Adding Slope Symbology fixes #58"

[2021-05-18 00:03] #58 closed

[2021-05-18 00:05] MattReimer commented on #59
#61 closes this

[2021-05-18 00:05] #59 closed

[2021-05-18 00:53] joewheaton commented on #58
@lauren-herbine and @shelbysawyer.... just for kicks on instant gratification,
- 6 hours ago @philipbaileynar explained this foreign concept to us of symbology updates for qRAVE
- 1 hour ago @shelbysawyer added this pull request. 13 minutes ago @MattReimer
- 13 minutes ago @MattReimer approved the pull request and Merged this...
- Now I tried to test it on some other projects and voilà
[![](http:/

[2021-05-18 06:23] joewheaton commented on #65
@shelbysawyer sorry... I was working on the others and took care of this one for you. Find another ;)

[2021-05-18 06:23] #65 closed

[2021-05-18 14:58] nick4rivers commented on #58
This is awesome!! Joint the Q!!

[2021-05-18 15:18] lauren-herbine commented on #58
Thanks for the morale boost @joewheaton !

[2021-05-18 17:05] MattReimer opened #69 "Remove net_att program"
We've  rebuilt all 172 rs_context projects from the net_att tool program the new BLM program

We can probably remove the `net_att` program but should probably check around to make sure:

1. nobody is using it
2. Everybody who needs it has access to `BLM`
3. Every project has been migrated (just make sure there aren't any extra projects on top of the 172 RScontext projects we've already migrated)

[2021-05-18 17:28] shelbysawyer commented on #58
Awesome!! Thanks for the lesson @philipbaileynar and the support @joewheaton!

[2021-05-18 20:42] shelbysawyer commented on #66
@joewheaton Running into a snag on this one. I'm not sure how to create the .qml so that the range the gradient is being stretched over is the same, no matter the "local" huc12 extent being looked at. Pictures below to demonstrate what I mean:
<img width="1113" alt="arc" src="https://user-images.githubusercontent.com/73311751/118720785-45b8cf00-b7e7-11eb-81c4-21e3194d5760.PNG">
<img width="1023" a

[2021-05-18 20:52] #63 closed

[2021-05-18 22:41] #64 closed

[2021-05-19 01:19] joewheaton commented on #66
Yes... We need to both tap Weber for his experience and expertise as well as find some better documentation out there.

[2021-05-19 23:32] lauren-herbine opened #72 "build symbology for confinement ratio"
Start building confinement project symbology

[2021-05-20 15:58] shelbysawyer commented on #66
@nick4rivers Hi Nick, do you have time to lend a little knowledge on this for @lauren-herbine and I? I used Visual Studio Code to manually set the max/min, but it ended up changing the stretch on my color ramp.

[2021-05-20 16:19] joewheaton opened #74 "Update Basemaps US for Google and Bing"
Please update [`BaseMaps.xml`](https://github.com/Riverscapes/RiverscapesXML/blob/master/BaseMaps.xml) for the 'United States Region' to include in a `<GroupLayer name="Google Maps">`:
- [x] Google Imagery
- [x] Google Terrain
- [x] Google Maps

Region' to include in a `<GroupLayer name="Bing Maps">`:
- [x] Bing Images

[Basemaps](https://gis.stackexchange.com/questions/20191/adding-basemaps-from-

[2021-05-20 16:29] lauren-herbine commented on #74
@MattReimer or @philipbaileynar, is it possible to get XYZ tiles to work in both QRave and ArcRave through our basemap feature?

[code]

This is what we tried and Q did not like it. Is this because this only works for wms vs. wmts?
Do XYZ tiles work in Arc?

[These](https://gis.stackexchange.com/questions/20191/adding-basemaps-from-google-or-bing-in-qgis) are much quicker and higher resolution tha

[2021-05-20 16:29] shelbysawyer opened #75 "build evttype.qml"
Please create a new evttype.qml equivalent to evttype.lyr

[2021-05-20 16:35] lauren-herbine commented on #74
I started messing around [here](https://github.com/Riverscapes/RiverscapesXML/blob/google_imagery/BaseMaps.xml#L4-L10)

[2021-05-20 17:11] nick4rivers commented on #66
Arggg...Sorry - @shelbysawyer and @lauren-herbine, I haven't played with this enough to know how everything behaves. You're going to have to let me know what you find? Sorry I couldn't be of help.

[2021-05-20 17:24] MattReimer opened #76 "Make a video about WebRave VECTOR symbology"
Here are rough steps to get something symbolized for the web. Ask any questions below.

1. In QGIS Export your layer as GeoJSON. Projection doesn't really matter but you might save yourself some trouble by using WGS84 so that you can throw baselayers under it in mapbox.
   * You may need to remove the crs line that qgis seems to give it.: `"crs": { "type": "name", "properties": { "name": "urn:ogc:

[2021-05-20 17:27] MattReimer opened #77 "Create a webrave symbology validator"
We have the ability to create symbolizations for the vectors on the web now. see #76

Because JSON is a little different from everything else and editing that JSON is part of the workflow we need a validator to make sure the webrave symbology uploaded is of the right type

* [x] Make a JSON validator
* [ ] While I'm in there I should also write a validator for the csv colour ramps.
* [x] Oh, and b

[2021-05-20 18:18] MattReimer commented on #74
Hi Lauren,

At present we only support wms layers but that's more just because that got us results quickly. We always assumed we would extend it.

For this to work there are two things needed:

1. (easy) We might need to extend the XML some sort of `type` attribute to help us figure out what type of tile we should be loading.
2. (harder) QRave and ArcRave will need to have this type of layer added

[2021-05-20 20:11] shelbysawyer opened #78 "Update vbetLikelihood.qml"
I am updating the symbology for the VBET likelihood raster from a white-to-black gradient to a green-to-brown gradient.

I think it's a helpful visual cue for the likelihood of a given area being active / wetted (green) or inactive / dry (brown).

[2021-05-20 20:29] shelbysawyer commented on #78
It should look like this:
<img width="1022" alt="VBETlikelihoodraster" src="https://user-images.githubusercontent.com/73311751/119044680-bc84d200-b977-11eb-8460-8c54daa3e4c5.PNG">

[2021-05-20 20:36] shelbysawyer opened #79 "Updated VBET project to work with"
I'm going to dive deeper into defining the VBET symbology in QGIS and ArcMap this week and next.

Right now, the VBET projects I have access to have the valley bottom layers as single, whole polygons. Is there a VBET project that I could get my hands on that has the segmented valley bottoms? @joewheaton suggested that I be working in the most updated version we have-- thanks!

[2021-05-20 21:14] joewheaton commented on #79
@KellyMWhitehead I know you have got the valley bottom segmentation working as well as valley bottom centerlines. Do you have any projects that @shelbysawyer could play with on that? What we were looking at yesterday on the call was not that... (i.e. the valley bottom feature class is one feature or one row). I want to get Shelby doing business logic and symbology on what we'll actually be looking

[2021-05-20 21:21] joewheaton commented on #78
Thanks for this @shelbysawyer ...  Two things:
1. When showing rasters for screen shots, always have the hillshade on underneath so we can see the transparent behavior and they pop.
2. Nice job on this. This could work just fine. This is the one that I was telling you I made, but screwed up something.
 I actually made one of these that is not continuous:
![image](https://user-images.githubusercont

[2021-05-20 22:20] shelbysawyer commented on #78
Oh, okay! That makes sense @joewheaton

I fixed the typo in the business logic, which was the symbology key for this raster.. that must have been why it wasn't showing up.

<img width="1023" alt="VBETlikelihoodraster" src="https://user-images.githubusercontent.com/73311751/119054025-286d3780-b984-11eb-9312-3f166cc0459f.PNG">

Maybe the way you have it set up is more logical. If we keep with the or

[2021-05-20 22:38] KellyMWhitehead commented on #79
Here is a project with segmented valleys and centerlines:

https://data.riverscapes.xyz/#/PUBLIC_DATA/0dc1c4b1-8f5c-4f43-a584-7bf50668fc60

Note there will be small overlap between the segmented polygons.

[2021-05-20 23:48] joewheaton commented on #78
BTW... I like your color ramp. Maybe we duplicate the layer in the business logic and have both?

Also... nice fix on that typo I made ;)

[2021-05-21 00:11] joewheaton opened #80 "Housekeeping Question Related to Pull Requests - When and where do we delete branches"
@lauren-herbine and @shelbysawyer and I were confused on when we we should delete branches...
![image](https://user-images.githubusercontent.com/9723905/119063585-b6521e00-b996-11eb-8105-65157395c2b2.png)

Is it after the pull request is accepted we delete them both locally and remotely?

[2021-05-21 01:19] joewheaton commented on #79
Thanks so much @KellyMWhitehead for this. So when I try to load this project in QRAVE, I get see :
`2021-05-20T18:12:40     CRITICAL    Error loading project : Project: E:\0_RS\VBET\Valley_Bottom_Extraction_Tool_VBET-17060304\project.rs.xml
              Exception: 'id'`

[code]

[2021-05-21 01:23] joewheaton commented on #74
@MattReimer this is really helpful thanks.  Anabranch would be happy to pay for getting task 1 done when you can get to it. We've got plenty of other things to pay for getting 2 done when you think its appropriate.  When task 1 is done, then @lauren-herbine can finish this task and/or we can have @tyler1218hatch, @wally-mac and/or @Cashe93 work on this.

@nick4rivers, just pinging this your way FY

[2021-05-21 01:26] joewheaton commented on #66
@philipbaileynar and @wally-mac , I am wondering if we can think about who would be good to task with figuring this out a little better and providing some documentation for everyone else. The symbology is powerful, but some things are hard to dial in.

[2021-05-21 01:35] joewheaton commented on #76
This is awesome @MattReimer... I will do a little 0.5 day to full day workshop in 3 weeks on this in the lab and get all of the ETAL crew, my grads, and Weber dialed on all three platforms (web, Q and Arc). I need enough reps and time under my belt to do this so I can understand it an explain it. @philipbaileynar showed a quick demo of how to do this earlier... looked super straight forward.

My o

[2021-05-21 01:38] joewheaton commented on #72
Make sure to use the O'Brien et al. (2019) confinement paper for your symbology inspiration. Pink for active confining margins. etc...

![image](https://user-images.githubusercontent.com/9723905/119069158-d38ce980-b9a2-11eb-957a-03e997c2ea3f.png)
![image](https://user-images.githubusercontent.com/9723905/119069201-ebfd0400-b9a2-11eb-9e6f-68ee4e5dfb89.png)

[2021-05-21 02:34] joewheaton commented on #63
addressed in #70

[2021-05-21 05:59] MattReimer commented on #76
Exactly. The files should all have the same base names and path patterns.

[2021-05-21 15:56] wally-mac commented on #74
@lauren-herbine once you start working on this task please @tyler1218hatch, @Cashe93 and I know if you need any assistance.

[2021-05-21 16:24] shelbysawyer commented on #66
@tyler1218hatch [Here](https://youtu.be/EAQDQ-EgkN8) is a little more information about my specific questions regarding this layer. Thank you!

[2021-05-21 18:45] tyler1218hatch commented on #66
@shelbysawyer Here's my thoughts. I'm not an expert here, but this might help clarify things a little bit: [https://youtu.be/ATop3qhVf6Y](https://youtu.be/ATop3qhVf6Y)

[2021-05-21 19:13] shelbysawyer opened #82 "Symbology for Channel Euclidian Distance"
Create:
- [x] channeldistance.lyr
- [ ] channeldistance.qml

[2021-05-21 19:20] shelbysawyer commented on #82
<img width="1261" alt="channeldistance" src="https://user-images.githubusercontent.com/73311751/119187826-14ced900-ba37-11eb-8dd2-22fd91612e8c.PNG">

@joewheaton My thought here is to have a white-to-blue color ramp for the Channel Euclidean Distance color ramp, with blue being closest to channel and white being furthest away. What do you think? My only concern here is that if users are trying to

[2021-05-21 19:33] shelbysawyer commented on #82
<img width="1021" alt="channeldistancenetwork" src="https://user-images.githubusercontent.com/73311751/119189249-113c5180-ba39-11eb-981f-5e1e1fb5f48c.png">

[2021-05-21 22:00] shelbysawyer commented on #82
Once we like the look of the .lyr I've created, I'll cook up the .qml

[2021-05-21 22:07] shelbysawyer opened #83 "Flow Area Euclidean Distance Symbology"
- [x] Update BL to include "flowarea_dis" symbology key
- [x] Create flowarea_dis.lyr
- [ ] Create flowarea_dis.qml

[2021-05-21 22:12] shelbysawyer commented on #83
Here's what it should look like:
<img width="1020" alt="flowarea" src="https://user-images.githubusercontent.com/73311751/119202976-3d62cd00-ba4f-11eb-86eb-c2e114df8279.png">

@joewheaton What do you think? Once we settle on a look for this, I'll make the .qml

[2021-05-21 23:28] philipbaileynar commented on #76
http://rave.riverscapes.xyz/Web_RAVE/Technical_Reference/vector_symbology.html

[2021-05-21 23:28] #76 closed

[2021-05-21 23:30] philipbaileynar commented on #80
Our preferred workflow is:

1. The person who handles the pull request (typically @MattReimer) deletes the remote branch.
2. Once you see that the pull request is complete and the remove branch has been deleted, then you are responsible for deleting your local copy of the branch. Waiting until the remote branch is deleted by @MattReimer  is best because it ensures no work is lost if something goes

[2021-05-22 15:32] MattReimer commented on #79
Opened up a QRave issue for this:
https://github.com/Riverscapes/QRAVEPlugin/issues/20

[2021-05-22 15:47] MattReimer commented on #80
Hey @lauren-herbine and @shelbysawyer, @philipbaileynar is right on the money here.  When I merge a pull request there's a button for me to delete the branch which I always click.

The best thing to do is to just look to make sure your commit messages are stacked on top of `master`. If you see them on `master` you've got good confidence that deleting your local is safe.

I know this is a lot of wo

[2021-05-22 17:49] MattReimer commented on #74
Just some updates here:

1. I have the type attribute implemented #85. I just need to do a quick test on QRAVE and then you're good to go, adding as many basemaps in WMS, TMS or XYZ as you want.
2. I have separate tickets for ArcRave and QRave (see the references above in the feed) to actually implement this.

[2021-05-22 17:58] #31 closed

[2021-05-22 19:14] MattReimer opened #87 "WebRave Raster Color Ramps"
**_NB: This is just a place to collect my thoughts. I'll ask @philipbaileynar nicely to make a video once I know how this is going to work._**

We need color ramps (they're not actually csv files) so that webrave tilerizer can hook in and bake the ramps into projects

These ramps need to be compatible with gdaldem because that's what we're using to make the RGBA rasters

From the [GDALDem Docs](ht

[2021-05-24 15:58] shelbysawyer commented on #80
Thanks @philipbaileynar and @MattReimer for this info. Getting in some repetition over here and each one is a little smoother than the last. I'd love a tutorial to up my Git game. Thanks!

[2021-05-25 19:46] MattReimer commented on #77
The CSV color ramps are harder to validate so I havven't included them

forgot to attach the commit: 3934219
#85 is where this is being merged.

[2021-05-25 20:09] MattReimer commented on #74
@lauren-herbine I've implemented the changes in #85 and I've rebased your `google_imagery` branch on top of master and corrected a few things

Your layer should now look something like this:

[code]

Be sure to **reset** your local `google_imagery` branch to where it is on the remote before you start working again. Let me know if you have any problems with that.

[2021-05-26 16:00] MattReimer commented on #80
Closing this issue since there's no action necessary for now.

[2021-05-26 16:00] #80 closed

[2021-05-26 16:03] #77 closed

[2021-05-26 19:31] shelbysawyer opened #90 "Normalized Evidence Raster BL"
Add the following symbology keys to the BL:

- [x] norm_slope
- [x] norm_hand
- [x] norm_channel
- [x] norm_flow

@joewheaton For the normalized rasters (slope, HAND, channel distance, flow area distance), I have the .lyr files (norm_slope.lyr, norm_hand.lyr, norm_channel.lyr, norm_flow.lyr) ready to go, but I'm not sure how to go about building their symbology into the BL. I've plucked the chunk

[2021-05-26 20:48] shelbysawyer opened #91 "VBET ArcRAVE Symbology for Normalized Rasters"
Create ArcRAVE symbology (.lyr) for the normalized raster layers:

- [x]  norm_slope.lyr
- [x]  norm_hand.lyr
- [x]  norm_channel.lyr
- [x]  norm_flow.lyr

[2021-05-26 23:05] shelbysawyer commented on #91
For the normalized evidence rasters (slope, HAND, channel distance, flow area distance), I have the .lyr files (norm_slope.lyr, norm_hand.lyr, norm_channel.lyr, norm_flow.lyr) ready to go, but I'm not sure how to go about building their symbology into the BL (#90). I wanted to get a first run in of trying on some looks for these rasters.

@joewheaton I'll attach pictures of each below.. for now, I

[2021-05-26 23:09] shelbysawyer commented on #83
I have updated this-- here's the new look:
<img width="1014" alt="flowarea" src="https://user-images.githubusercontent.com/73311751/119742454-12a8b800-be45-11eb-8857-ce4280a22ca3.png">

[2021-05-27 00:02] shelbysawyer opened #92 "VBET ArcRAVE Combined Evidence Raster Symbology"
Add the following symbology keys to the BL:

- [x] channelevidence
- [x] topoevidence

Create the following:

- [x] channelevidence.lyr
- [x] topoevidence.lyr

[2021-05-27 00:19] shelbysawyer commented on #92
@joewheaton When choosing the look of these layers, I tried to reflect on what the layers are actually telling the user.

For the combined topography evidence, I went with a green-tan gradient to emphasize that the likelihood of an area being valley bottom in this layer is based on slope and HAND.. so: what's getting wetted (and therefore more likely to be green) as a result of where it sits on th

[2021-05-27 00:24] shelbysawyer commented on #78
@joewheaton Now that I'm playing around with these layers a bit more, I think this color ramp might be more fitting for the Combined Topographic Evidence (#92) and that your original `vbetLikeligood.qml` is the better fit for this layer. So.. with all of this fantastic version control magic, how can I get rid of the commit with my `vbetLikeligood.qml`?

[2021-05-27 17:28] shelbysawyer commented on #66
@tyler1218hatch Thanks for this! I watched it last week and am just now circling back.. I'm going to play around with it a bit more, but I think what you've laid out in your video is a very workable solution.

[2021-05-27 17:42] shelbysawyer opened #94 "VBET Thiessen Reaches & Drainage Areas Symbology"
Add the following symbology keys to the BL:

- [x] thiessenpoints
- [x] thiessenpoints
- [ ] drainagearea_zone
- [ ] drainagearea_slope
- [ ] drainagearea_hand

Create the following .lyr files:

- [ ] thiessenpoints.lyr
- [ ] thiessenpoints.lyr
- [ ] drainagearea_zone.lyr
- [ ] drainagearea_slope.lyr
- [ ] drainagearea_hand.lyr

Create the following .qml files:

- [ ] thiessenpoints.qml
- [ ] thie

[2021-05-27 22:26] shelbysawyer commented on #94
@joewheaton I'm having the same problem here as I did in #90 -- I can't see where in the BL to insert the symbology keys that belong to repeater layers. Maybe a quick call for some help on this?

[2021-05-27 23:02] shelbysawyer opened #95 "Exposing Valley Bottom Centerlines in VBET"
Right now, the valley bottom centerlines are buried in the centerlines output geopackage and aren't visible in VBET projects. I've got two questions here:

1. I'm not sure which of the centerline layers is the one that we want to show.. I see quite a few. From the [video](https://www.youtube.com/watch?v=pxwapXjZSMA) that @joewheaton made, it sounds like @KellyMWhitehead might have the answer to th

[2021-05-27 23:10] KellyMWhitehead commented on #95
Please ignore everything in the `centerlines` folder - not sure how that got added to the project.

There should only be one centerlines layer in the output gpkg (`vbet_centerlines_50`)

[2021-05-27 23:17] shelbysawyer commented on #95
Thanks @KellyMWhitehead!

I'm not seeing the centerlines layer that you're referencing:
<img width="307" alt="vbet" src="https://user-images.githubusercontent.com/73311751/119908201-4c45f580-bf0f-11eb-9cde-b4396cbd3d76.PNG">

Maybe this is an issue that's related to the other issues we noticed with this project? #79

[2021-05-27 23:31] KellyMWhitehead commented on #95
@shelbysawyer please try [this project](https://data.riverscapes.xyz/#/PUBLIC_DATA/a40a1e2f-54f4-4da2-ae3c-feab6ff5973c). Let me know if you have any issues or questions with this version.

[2021-05-31 18:55] lauren-herbine commented on #66
@shelbysawyer let's go over this in the office on Tuesday- everything @tyler1218hatch laid out in his video makes sense, but I want to make sure I am incorporating the text file color ramps into the right part of the business logic process.

[2021-05-31 19:31] lauren-herbine commented on #74
@MattReimer Thank you so much for all of your work and knowledge sharing with this! I am just returning from a week or so off grid, so I will start working on this today and tomorrow.

[2021-05-31 20:01] joewheaton commented on #91
Thanks for these @shelbysawyer.
- I like the use of a similar color scheme/ramp to originals.
- I'm inclined to go with this for now.
- I am thinking we will either want to switch to or also create a categorized ramp that uses the *new* values from the transform functions

[2021-06-01 22:01] MattReimer commented on #74
Hey Lauren. You want to rebase instead of merging. If you want to do a quick call to sort this out just email me. I'm available all afternoon.

[2021-06-01 22:50] lauren-herbine commented on #74
I'm not sure if I am understanding the proper way to edit the map URLs. All of the google URLs are the same aside from one letter (s,t, and m):
https://mt1.google.com/vt/lyrs=t&x={x}&y={y}&z={z}
https://mt1.google.com/vt/lyrs=s&x={x}&y={y}&z={z}
https://mt1.google.com/vt/lyrs=m&x={x}&y={y}&z={z}

h = roads only
**m = standard roadmap**
p = terrain
r = somehow altered roadmap
**s = satellite only**

[2021-06-02 00:38] MattReimer opened #96 "BusinessLogic: HTML Report layer type"
In order to make sense of HTML reports for webrave I need an extra type of layer in the businessLogic called "report"

* [x] Make sure this doesn't break QRave or ArcRave (they should treat it like any other file)
* [x] Change all businesslogic files to accomodate it where necessary

[2021-06-02 14:53] MattReimer commented on #74
@lauren-herbine make sure you have the latest / greatest version of QRave plugin. XYZ basemaps weren't added until 0.5.0 (I'm putting out 0.5.1 today

Once that's checked let me know if you're still having issues. This is a pretty new feature so we might need to patch it if there's a problem

[2021-06-02 15:33] lauren-herbine commented on #74
Hi @MattReimer, I just downloaded your 0.5.1 but XYZ tiles are still only showing Google Imagery
![image](https://user-images.githubusercontent.com/73319684/120509169-838c2a80-c385-11eb-8ba1-84eafdcc6b00.png)

[2021-06-02 15:38] MattReimer commented on #74
Oh, yeah sorry. Miscommunication on my part. That's not where they live. The idea is that you define them in Basemaps.xml and then they go into the QRave basemaps chooser:

<img width="594" alt="Screen Shot 2021-06-02 at 8 36 48 AM" src="https://user-images.githubusercontent.com/1063391/120509948-d2ce5d00-c37d-11eb-95a7-d14145dad3ce.png">

[2021-06-02 15:49] lauren-herbine commented on #74
Oh, no, MY bad! Ok, I'm re-oriented now. Unfortunately, none of them are still working. And now that I am looking in the right place, I can see that none of the google URLs are working, not just the maps and terrain as I mentioned above.
![image](https://user-images.githubusercontent.com/73319684/120511480-b0d9d800-c387-11eb-9045-ff52d58a3028.png)

I wrote the XML so there should be a group layer

[2021-06-02 16:06] MattReimer commented on #74
Hey @lauren-herbine I think what might have happened is that the plugin update overwrote the local Basemaps.xml file

Just to make sure I updated my local Basemaps.xml file to what you had in the latest commit and it works great!

<img width="1307" alt="Screen Shot 2021-06-02 at 9 04 44 AM" src="https://user-images.githubusercontent.com/1063391/120514042-ba604180-c381-11eb-9486-95d06ea3c2c2.png">

[2021-06-02 19:47] MattReimer commented on #87
@philipbaileynar in the latest kick in the teeth, QGIS exported ramps DON'T WORK with gdaldem...

For each one I had to hand-edit it to get it into the right format and that meant switching from absolute scale to % relative scale and adding a nodata value.

Then I had to test each one with `gdaldem` manually to make sure I did it right.

The whole thing is a lot more trouble than I had hoped but i

[2021-06-02 21:29] lauren-herbine opened #101 "Confinement project woes"
[Here](https://youtu.be/xF0B4iQ01m0) is a short video with a question on how to get some of my symbology to "stick." @MattReimer, I am pretty sure I have done everything you explained this morning.

1. All local files are up-to-date
2. Confinement.xml has symbology paths for the confining polygon ("confining_poly")
3. confining_poly.qml is saved to the resources folder

Anything obvious I am missi

[2021-06-02 22:23] lauren-herbine commented on #74
More questions! 😄

I am on to Bing now:

[code]

I have tried `type="xyz"`, `type="wms"`, and `type="tms"`. None of them seem to work. The URL is in a much different format and I am guessing that means I need to reconfigure something elsewhere..?

@MattReimer @tyler1218hatch @Cashe93 any thoughts?

[2021-06-02 22:34] MattReimer commented on #101
It's probably, almost certainly the file case problem.

Git sometimes has problems with file case issues. Hang on and I'll make the changes for you,.

[2021-06-02 22:43] #74 closed

[2021-06-10 16:23] #96 closed

[2021-06-14 13:22] shelbysawyer commented on #66
@lauren-herbine I'm in office Monday and Tuesday this week 7am - 3pm MT and Wednesday, roughly 6am - 10:30am. Wanna check this out together?

[2021-06-14 15:12] MattReimer commented on #101
This is merged I think

[2021-06-14 15:12] #101 closed

[2021-06-14 16:47] lauren-herbine opened #107 "Confinement symbology for WebRave"
- [x] Confinement Raw
- [x] Confinement Margins
- [x] Confining polygon
- [x] Confinement Ratio
- [x] Constriction Ratio
- [x] Active Channel Buffer
- [x] Flowlines
- [x] Split Points
- [x] Flowline Segments
- [x] Error Polylines
- [ ] Error Polygons

[2021-06-14 16:49] lauren-herbine commented on #107
Related to #106 and [Riverscapes/rs-web-monorepo/issues/123](https://github.com/Riverscapes/rs-web-monorepo/issues/123)

[2021-06-14 18:55] MattReimer commented on #87
I did some more investigation and I don't think I can go any further before I get a discussion and signoff from either both @joewheaton  and @philipbaileynar

Here are two color ramps that have been exported by QGIS:

### DEM
[code]
### Fair market value
[code]

### The good:
* Dead simple to obtain. One-button export from QGIS
* Contains the interpolation method. i.e. `INTERPOLATED` vs `DISCRETE`

[2021-06-15 14:55] joewheaton commented on #78
@shelbysawyer, with regards to:
`So.. with all of this fantastic version control magic, how can I get rid of the commit with my vbetLikeligood.qml?`

We might need to ask @philipbaileynar, but I think you can just recall your specific commit?

[2021-06-15 14:57] joewheaton commented on #82
This looks good to me as far as color ramp goes. I do think though we should switch to categories and use distances that will correspond to the breaks we use in our transform function.

[2021-06-15 14:59] joewheaton commented on #83
Similar to #82, I think we should be using categorical on these to correspond to how we use transform functions (this time on 0 to 1) and use some simple labels (e.g. "Immediately Adjacent", "Near" , "Far" or something... )

[2021-06-15 14:59] joewheaton commented on #90
See #83 comments.

[2021-06-15 15:00] joewheaton commented on #91
I really like the slope and HAND ones... the others I am not so sure on yet.

[2021-06-15 15:01] joewheaton commented on #92
I like the color ramps on both these. We might need to stretch them or even categorize them using the breaks we end up using. We can discuss.

[2021-06-15 15:06] joewheaton commented on #90
Have you seen [this](http://rave.riverscapes.xyz/business-logic.html#node)?

It is simply a matter of using the exact same case and spelling for the `symbology` tag as you use for the `*.lyr` and `*.qml` and putting those in the correct location (i.e. under VBET) in RiverscapesXML repo.

The repeater is for something else... maybe @philipbaileynar can explain why that is showing up in there.

[2021-06-15 15:12] joewheaton commented on #95
- [ ] @shelbysawyer did the new project @KellyMWhitehead gave you make sense for the correct CL?
- [ ] @shelbysawyer , yes we can show you how to add a new line to business logic. I'm thinking just adding a new node (maybe like line 57 in [vbet.xml](https://github.com/Riverscapes/RiverscapesXML/blob/master/RaveBusinessLogic/VBET.xml)
- [ ]

[2021-06-15 15:56] shelbysawyer commented on #95
@joewheaton Yes, the new project displayed as @KellyMWhitehead Kelly described it should. The centerlines looked right. Thanks Kelly!

[2021-06-15 16:09] shelbysawyer commented on #83
@joewheaton That makes a lot of sense.. I'll get a draft of that symbology created and provide updated screenshots here.

[2021-06-15 20:30] shelbysawyer commented on #78
@philipbaileynar Philip, the complicating factor here is that Joe's .qml for vbetLikelihood was misspelled, so when I revert it back to before I took his out and replaced it with mine, the symbology key edit that I made to the business logic will prevent it from displaying. Do you think the easiest thing would be to first revert my commit where I replaced his .qml with mine and then edit the name

[2021-06-16 13:36] shelbysawyer commented on #82
I know we haven't determined the breaks yet, but I can update them when they are settled. For now, here's what it should look like now, with symbology categorized.
<img width="937" alt="channeldistance" src="https://user-images.githubusercontent.com/73311751/122228691-18af1900-ce86-11eb-8676-8155f042d90d.PNG">

Here's a view of what it looks like zoom-in:
<img width="938" alt="distance2" src="http

[2021-06-16 16:13] MattReimer commented on #78
Hey @shelbysawyer I'll jump in here. In general we don't ever get rid of commits. There will be one commit where the file is added and one commit where the file is deleted, renamed or whatever. Make the repo the way you want then commit any additions or deletions and push that.

BTW: You can point all your git questions my way. I love that stuff. Also typing about this stuff is hard so give me a p

[2021-06-16 17:13] joewheaton opened #111 "Transparency guidance"
We have a lot more control in QGIS with *.qml over transparency settings then we do in Arc with *.lyr files that only include path information and symbology. We have a `transparency` tag in the business logic because in ArcRAVE you needed it (i.e. controlled in display tab, but not stored with *.lyr):
![image](https://user-images.githubusercontent.com/9723905/122263168-5bc3b900-ce93-11eb-872a-3256

[2021-06-16 17:52] MattReimer commented on #111
Ok, this is probably a bigger topic than we all want it to be and the answer is "it varies"

But there are more complex cases:

Here's a vector where only purple and blue values are transparent
<img width="557" alt="Screen Shot 2021-06-16 at 10 44 43 AM" src="https://user-images.githubusercontent.com/1063391/122268020-6af53780-ce90-11eb-92ef-b4eb0f49524f.png">

Here's a case where shapes with an i

[2021-06-16 17:52] #111 closed

[2021-06-18 14:47] MattReimer commented on #87
Discussed with @joewheaton. We will use color tables as-is from QGIS and I will write a couple of interpreters to build the legend and the gdal file from them

Also I filed a feature enhancement with QGIS: https://github.com/qgis/QGIS/issues/43786

[2021-06-21 20:58] shelbysawyer commented on #90
I updated the business logic to specify the symbology for the normalized rasters. @tyler1218hatch Helped me go through and make sure everything looked good-- making sure the paths were correct, that the symbology tags matched the `.lyr` files and making sure that they are in the correct place. Still, they don't display properly. We were unable to get to the bottom of what is causing this issue. I'

[2021-06-21 23:16] joewheaton commented on #90
Thanks @shelbysawyer. Please record a video and post a YouTube link to it here of exactly what is "not working". Please show us the paths, what it should like, and what "it is doing" now. The above information is a good start, but a little hard to follow.  Please also provide the datasets (e.g. RS Project), layer files and business logic you are using. If I can't figure it out from that we'll ask

[2021-06-22 15:30] shelbysawyer commented on #90
Sure @joewheaton-- [here](https://youtu.be/0Zk9R5nUlSA) is a video covering the issue with `.lyr` files not being properly pulled into projects. It covers the behavior that I am seeing with normalized raster symbology and what the layers should look like, as well as the paths of the relevant files. Let me know if I need to provide more information.

[Here](https://data.riverscapes.xyz/#/PUBLIC_DAT

[2021-06-23 21:24] shelbysawyer opened #119 "Channel Buffer & Flow Area Symbology"
Build the following into the business logic:

- [ ] channelbuffer
- [ ] flowarea

Create the following layers:

- [ ] channelbuffer.lyr
- [ ] channelbuffer.qml
- [ ] flowarea.lyr
- [ ] flowarea.qml

[2021-06-26 05:23] joewheaton commented on #83
@shelbysawyer maybe I should have approved that pull request? It was hard to find this from review of pull request as it wasn't part of commit or directly in the pull request itself. This looks great though.

[2021-06-26 05:26] joewheaton commented on #107
@lauren-herbine nice job on this. I like your use of the issues.

[2021-06-26 05:40] joewheaton commented on #90
Sorry I missed this @shelbysawyer. Your video was really helpful. I could see from https://youtu.be/0Zk9R5nUlSA?t=85 that you had your layer files in your `c:\0_GIT\RivercapesXML\Symbology\ESRI\` , which is just where you have clone the RiverscapesXML repo. Your problem is that "ArcRAVE is not finding them" because they are NOT in the "correct place" for it to find them. They are in the correct pl

[2021-06-26 05:53] joewheaton commented on #78
Too bad Joe can't spell.

[2021-06-26 14:20] joewheaton opened #121 "Symbology for HAND Layer in HANDProject Type"
## Specification
*Project Type*:  `HAND`
*Layer(s)*: `Height Above Nearest Drainage`
https://github.com/Riverscapes/RiverscapesXML/blob/ba60f1c61d80d17bb5096ff5e3823cc12565107e/RaveBusinessLogic/HAND.xml#L10
*Type(s)* - `Raster`

## Description and/or Explanation of Need
![image](https://user-images.githubusercontent.com/9723905/123515933-c4125780-d656-11eb-8f9e-624d6a2a6a39.png)

## Example(s) of

[2021-06-27 15:43] joewheaton opened #124 "Author `*.lyr` for ArcRAVE of layer(s) and test in ArcRAVE and commit"

[2021-06-27 15:44] joewheaton opened #125 "Make pull request for just ArcRAVE changes. Choose appropriate reviewer(s)"

[2021-06-27 15:44] joewheaton opened #126 "Produce screen shot of each lyr file to provide in commit or later pull request for reviewer (include legend)"

[2021-06-27 16:06] joewheaton opened #127 "After pull request(s) merged, test in updated qRAVE"

[2021-06-27 16:06] joewheaton opened #128 "After pull request(s) merged, test in updated ArcRAVE"

[2021-06-28 03:25] MattReimer opened #130 "WebRave Raster symbolization method for categorical"
On friday we did a demo and it was discovered that categorical rasters don't have an export button in QGIS. When you dig through and finally export it you get a CLR file instead of the webramp we've designed the process around.

This needs to be solved and we need a method for symbolizing all kinds of rasters in WebRAVe

[2021-06-30 17:29] lauren-herbine commented on #107
opening new issue for confinement updates/edits

[2021-06-30 17:29] #107 closed

[2021-06-30 18:16] MattReimer opened #132 "Views should allow basemaps"
This is a little more involved since the basemap definition isn't actually in the businesslogic.

Questions:

1. How do we refer to basemaps that may or may not be in the BaseMaps.xml file?
2. What is the QRave implementation?
3. What is the ArcRave implementation?
4. What is the Webrave implementation (if any. remember, webrave has limited basemaps)?

We need to think through it carefully.

[2021-06-30 18:44] lauren-herbine opened #133 "Master Issue for Confinement Project"
## Specification
*Project Type*:  `Confinement`
*Layers in their current form*:

- [ ]  Confinement Raw
- [ ]  Confinement Margins
- [ ]  Confining polygon
- [ ]  Confinement Ratio
- [ ]  Constriction Ratio
- [ ]  Active Channel Buffer
- [ ]  Flowlines
- [ ]  Split Points
- [ ]  Flowline Segments
- [ ]  Error Polylines
- [ ]  Error Polygons

Business Logic for the layers:
https://github.com/Rivers

[2021-06-30 18:48] lauren-herbine opened #134 "Think about how the confining polygon is being displayed"

[2021-06-30 18:48] lauren-herbine opened #135 "Constriction ratio should be displayed as a 0-1, not as a binary"

[2021-06-30 18:48] lauren-herbine opened #136 "change "confinement.gpkg" to "ChannelNetwork.gpkg" as everything contained within the geopackage are just different calculations displayed on the same channel network geometry:`confinement.gpkg confinement_buffers confinement_ratio confinement_raw confining_margins`"

[2021-06-30 18:49] #136 closed

[2021-06-30 18:50] lauren-herbine opened #137 "Author `*.qml` for QRAVE of layer(s) and test in QRAVE and commit"

[2021-06-30 18:51] lauren-herbine opened #138 "Author `*.lyr` for ArcRAVE of layer(s) and test in ArcRAVE and commit"

[2021-06-30 18:51] lauren-herbine opened #139 "Update or Add Project Views to Reflect Changes"

[2021-07-01 19:53] joewheaton commented on #126
I need to spell out what this means first... then assign.

[2021-07-01 19:55] shelbysawyer commented on #124
I've almost finished the `.lyr` for ArcRAVE HAND, but I can't figure out how to get rid of the outlines. [Here is a 1 minute video](https://youtu.be/vdB9QIuE0fg) explaining my question.

[2021-07-01 20:02] shelbysawyer commented on #124
@joewheaton Sorry, ignore that please.. I didn't realize the borders weren't actually visible in the layer itself, just the TOC.

[2021-07-01 20:14] #95 closed

[2021-07-01 20:22] shelbysawyer commented on #126
`hand.lyr` full layer view:
<img width="757" alt="arc_hand1" src="https://user-images.githubusercontent.com/73311751/124185087-b5bda480-da77-11eb-9b76-530d3539392c.PNG">

`hand.lyr` zoomed-in view:
<img width="752" alt="arc_hand2" src="https://user-images.githubusercontent.com/73311751/124185084-b5250e00-da77-11eb-9ef2-b5dd4d762adc.PNG">

[2021-07-06 16:54] joewheaton opened #144 "Proposed Feature Request - Update XYZ Basemaps for QRAVE Again"
**Is your feature request related to a problem? Please describe.**

This is related to #102. We found all those great XYZ tiles to add after we updated them in #102. We also noticed that those basemaps only worked for folks that already had them referenced in their Q Browser (didn't work for folks who had not added them at least once yet).

**Describe the solution you'd like**
When troubleshooting

[2021-07-06 17:04] MattReimer commented on #144
This is worth looking into. I should mention that I had never added some of the basemaps and I had no trouble displaying them.

I think there's a bit of (tedcious) investigation to do here. QGIS isn't always totally transparent about how it handles tiles.

That script you found is interesting. I wonder if we could incorporate some of those ideas into the plugin itself. We might need to expand `bas

[2021-07-10 22:31] Cashe93 opened #145 "QRAVE Compliance - BRAT"
## QRAVE Compliance - BRAT

*Project Type*: BRAT
*Layer(s)*: All inputs, outputs & intermediates
*Type(s)* - Raster & Vector

### Description

Get BRAT to be QRAVE compliant by authoring .qml and updating business logic as needed.

-------
## To-Do

- [x] Start new branch with descriptive name for these changes (QRAVE_BRAT_Curation)
- [x] #146
- [x] #147
- [x] #149
- [x] #155
- [x] #156
- [x] #158

[2021-07-10 23:16] Cashe93 opened #146 "Author `*.qml` for Outputs > Capacity layers and test in QRAVE"
- [x] Author .qml layers for BRAT Capacity layers
-  Existing Dam Capacity
-  Existing Dam Size
- Historic Dam Size
- Historic Dam Capacity
- [x] Commit changes to the branched repository
- [x] Include screenshots of layers
- [x] Include link to the warehouse project that was used to test layers

[2021-07-11 00:52] Cashe93 commented on #146
[Here](https://data.riverscapes.xyz/#/Anabranch/80ba5c6f-a492-46ec-9b38-8392c2c5ce7a) is a link to the warehouse project that was used to test these layers along with screenshots of each.

Existing Dam Capacity
![image](https://user-images.githubusercontent.com/49880208/125179801-0edfb380-e1af-11eb-9e08-0898e80fcaad.png)

Existing Dam Size
![image](https://user-images.githubusercontent.com/4988020

[2021-07-11 01:46] Cashe93 commented on #146
@joewheaton, this task was created from #145. I plan on breaking that task into smaller tasks like this one. Should each of these "sub-tasks" have a pull request?

[2021-07-12 15:52] philipbaileynar commented on #146
No @Cashe93 you can perform all the tasks on a single branch and issue a single pull request on that branch. Use as many issues/tasks as you need.

[2021-07-12 19:16] Cashe93 opened #147 "Author `*.qml` for Outputs > Management layers and test in QRAVE"
- [x] Author .qml layers for BRAT Management layers
-  Unsuitable/Limited Opportunites
-  Risk of Undesirable Dams
- Restoration/Conservation Opportunity
- [x] Commit changes to the branched repository
- [x] Include screenshots of layers
- [x] Include link to the warehouse project that was used to test layers

[2021-07-13 16:59] Cashe93 opened #148 "QRAVE Compliance - Riverscapes Context"
## QRAVE Compliance - Riverscapes Context

*Project Type*: RS Context
*Layer(s)*: All folders
*Type(s)* - Raster & Vector

### Description

Get RS Context to be QRAVE compliant by authoring .qml and updating business logic as needed.

-------
## To-Do

- [x] Start new branch with descriptive name for these changes (QRAVE_RSContext_Curation)
- [x] Author *.qml for Transportation layers and test in

[2021-07-13 22:03] wally-mac commented on #146
@Cashe93 Nice work! This looks good to me.

[2021-07-13 22:03] #146 closed

[2021-07-13 22:06] wally-mac commented on #145
@Cashe93 would I assign this to @Tanmanfalcon while you are on the river or are you going to deal with this when you return?

[2021-07-13 22:07] Cashe93 commented on #145
I'll deal with this when I return. @Tanmanfalcon will be working on the Riverscapes Context #148

[2021-07-13 22:13] Cashe93 opened #149 "Author `*.qml` for Intermediates layers and test in QRAVE"
- [x] Author .qml layers for Intermediates > Network
- perennial
- zero or null DA
- [x] Commit changes to branched repository
- [x] Include screenshots of layers
- [x] include link to warehouse project that was used to test layers

[2021-07-14 21:42] joewheaton commented on #146
Minor clarification @Cashe93. You will likely make the  task(s) for QRAVe in one pull request, the task(s) for ArcRAVE in a separate pull request, and the task(s) for the web in another. This will allow progress to proceed on each those RAVE platforms separately. The tasks (like this one for testing) that do not actually result in commits or changes to code do not need to be part of any pull reque

[2021-07-14 23:24] wally-mac commented on #146
@joewheaton thanks for the useful clarification on this.

[2021-07-19 20:59] Tanmanfalcon opened #152 "Author *.qml for Ecoregion layers and test in QRAVE"

[2021-07-19 21:07] Tanmanfalcon commented on #152
![qrave](https://user-images.githubusercontent.com/79670857/126227200-9944eff1-70bc-4a1f-8b09-c363baca1b3d.PNG)
While attempting to copy symbology from ESRI to QGIS, I realized that the ecoregions and the vegetation layers have well over a thousand different symbology colors for the thousands of different attributes. Could there be a way to copy symbology from ESRI more effieciently than manually

[2021-07-23 16:42] wally-mac commented on #152
@Cashe93 do you have any insights for @Tanmanfalcon?  I think we need to find a more time efficient solution.   What about just using the "canned" symbology that comes from the EPA?

[2021-07-23 18:03] joewheaton commented on #152
I don't think we have a more time efficient solution @wally-mac unless someone knows how to cover ecoregions from `*.lyr` to `*.qml`.  Might just be a slow tedious, suck it up and plough through I'm afraid.

[2021-07-23 18:20] wally-mac commented on #152
@Tanmanfalcon it looks like there is a QGIS Pugin to convert ArcGIS .lyr files to QGIS .qml styles.  Based on this [Youtube video](https://www.youtube.com/watch?v=FEGso40qrQc) the SLYR plugin (community version) works by converting esri .style databases to QGIS .xml styles. The video also says that the full version will convert .lyr files to QGIS .qml.  Please have a look and let me know if this m

[2021-07-23 18:22] joewheaton commented on #152
If that works, that is huge @wally-mac and all the @Riverscapes/riverscape-project-curators should be interested in this. Please report back what you find if trying this!

[2021-07-23 18:28] Cashe93 commented on #152
@wally-mac, I'll give this a go with some BRAT symbology.

[2021-07-23 19:58] Cashe93 commented on #152
@wally-mac and @joewheaton, that tool appears to work. Looks like it will definitely save @Riverscapes/riverscape-project-curators some time when authoring symbology. The video that @wally-mac posted is a very straightforward tutorial.

[2021-07-23 20:55] Cashe93 commented on #152
@Riverscapes/riverscape-project-curators, my apologies, I just realized that this tool may not work exactly how we want it to since it only applies the symbology that's relevant to whatever project you are working on. So when you export the layer as a .qml, it will likely exclude some categories. I will look into some possible workarounds and keep you posted. There is a tool that directly converts

[2021-07-23 21:17] wally-mac commented on #152
@Cashe93 please look into how much a SLYR license is.  Depending on the cost it might be worth the investment if it does what it claims it will do -- convert .lyr to .qml.  Let them know we are academic because there is typically a discount.

[2021-07-23 21:53] Cashe93 commented on #152
@wally-mac, will do.

[2021-07-24 00:19] Cashe93 commented on #147
Here is a link to the warehouse project that was used to test layers.

Risk of undesirable dams
![image](https://user-images.githubusercontent.com/49880208/126851825-e66cb59c-c3d6-4b20-ab92-1c0dbc332d42.png)

Restoration/conservation opportunities
![image](https://user-images.githubusercontent.com/49880208/126851852-4e1e3b1a-9680-4b65-a8b8-b1a2374dba7f.png)

Unsuitable or limited opportunities
![i

[2021-07-24 00:22] #147 closed

[2021-07-24 00:53] Cashe93 commented on #149
[Here](https://data.riverscapes.xyz/#/Anabranch/80ba5c6f-a492-46ec-9b38-8392c2c5ce7a) is the warehouse link to the project that was used to test the layers.

Perennial
![image](https://user-images.githubusercontent.com/49880208/126852824-7f5320c0-7c09-4660-a83e-84daa77e450d.png)

0 / Null DA
![image](https://user-images.githubusercontent.com/49880208/126852878-76d5c1ff-2e5c-44e8-875a-e3e61568c99e.

[2021-07-24 00:54] #149 closed

[2021-07-24 01:07] Cashe93 opened #155 "Author `*.qml` for Intermediates > Topographic Index layers and test in QRAVE"
- [x] Author .qml layers for Intermediates > Topo Index
- Drainage Area
- Slope
- [x] Commit changes to branched repository
- [x] Include screenshots of layers
- [x] include link to warehouse project that was used to test layers

[2021-07-24 01:07] Cashe93 opened #156 "Author `*.qml` for Intermediates > Hydrology layers and test in QRAVE"
- [x] Author .qml layers for BRAT Hydrology layers
-  Base Flow Stream Power
-  High Flow Stream Power
- [x] Commit changes to the branched repository
- [x] Include screenshots of layers
- [x] Include link to the warehouse project that was used to test layers

[2021-07-24 01:28] Cashe93 opened #157 "Potential Bug in BRAT Intermediates"
There should be a Slope layer and a Drainage Area layer within the Topographic Index node. However, for the project that I'm working with, there are just two Drainage Area layers. In another project, there are two Slope layers but no Drainage Area layers.

Steps to reproduce the behavior:
1. Open up a project in RAVE (either ArcRAVE or QRAVE) and expand the Intermediates > Topographic Index node f

[2021-07-24 02:38] Cashe93 commented on #156
Base Flow Stream Power
![image](https://user-images.githubusercontent.com/49880208/126855176-25cffcff-5fda-4048-a6ff-0b37c1fd391a.png)

High Flow Stream Power
![image](https://user-images.githubusercontent.com/49880208/126855187-4226c40c-8e88-4a9f-a767-9878a72e49e5.png)

[2021-07-24 02:43] #156 closed

[2021-07-24 19:13] Tanmanfalcon commented on #148
Here is a [link](https://data.riverscapes.xyz/#/PUBLIC_DATA/ace49f52-d3a9-41f8-8525-04d591f51aa6) to the warehouse project that was used to test layers.

Perennial, Intermittent, Ephemeral Drainage Networks
![qnetworks](https://user-images.githubusercontent.com/79670857/126878980-74d9c31d-685a-4764-9e9e-a494915ba0ad.PNG)

Upstream Drainage Area
![qdrainagearea](https://user-images.githubuserconten

[2021-07-24 19:31] Tanmanfalcon commented on #148
Transportation: Roads and Rail
![qtransportation](https://user-images.githubusercontent.com/79670857/126879340-58c27200-f920-4bcb-8055-89c86d6f94a0.PNG)

[2021-07-24 19:45] Tanmanfalcon commented on #148
Climate
Mean Annual Precipitation
![qprecip](https://user-images.githubusercontent.com/79670857/126879551-6863a86c-ae74-4fd6-94ad-b8c4ce6b750c.PNG)

Mean Temperature
![qtemp](https://user-images.githubusercontent.com/79670857/126879554-d1e82e69-fa61-4628-9668-bfa087817439.PNG)

Minimum Temperature
![qmintemp](https://user-images.githubusercontent.com/79670857/126879555-7982875b-192f-4c20-aaeb-7b2f

[2021-07-24 19:52] Tanmanfalcon commented on #148
NHD Flowlines
![qnhdflowlines](https://user-images.githubusercontent.com/79670857/126879727-7a318747-8326-40c4-81f5-e4c05d12ee5d.PNG)

[2021-07-24 20:40] Tanmanfalcon commented on #148
Watershed Boundaries
HUC 4
![qhuc4](https://user-images.githubusercontent.com/79670857/126880587-47793069-ba8a-436b-9a43-40661a428404.PNG)

HUC 6
![qhuc6](https://user-images.githubusercontent.com/79670857/126880588-a9aa38f0-a6ee-4cc8-ad2c-172c23498883.PNG)

HUC 8
![qhuc8](https://user-images.githubusercontent.com/79670857/126880590-3afe44ed-a528-482d-b81a-77e9c10559ba.PNG)

HUC 10
![qhuc10](https

[2021-07-24 20:41] Tanmanfalcon commented on #148
Land Management
Land Ownership
![qlandownership](https://user-images.githubusercontent.com/79670857/126880603-f979d41a-43cf-4dc6-bc96-9f442d37a3a8.PNG)

Fair Market Value
![qfairmarketvalue](https://user-images.githubusercontent.com/79670857/126880606-edf68932-02f7-49d3-9a3f-ae04e17b4981.PNG)

[2021-07-24 20:42] Tanmanfalcon commented on #148
Topography and Derivatives
DEM (10m NED)
![qdem10](https://user-images.githubusercontent.com/79670857/126880642-2936810a-da8c-4ca2-b4a1-0881fc223ce3.PNG)

Slope Analysis
![qslope](https://user-images.githubusercontent.com/79670857/126880646-33f6f99e-f985-43c4-a621-003981afa39a.PNG)

Flow Accumulation
![qflowacc](https://user-images.githubusercontent.com/79670857/126880651-0a113608-c0f3-4e82-a632-a

[2021-07-24 21:50] Cashe93 commented on #155
It looks like there may be a bug for these layers. Depending on the project there are either two DA layers or two Slope layers, but not both. See issue #157.

Here is the warehouse link to the project that was used to test these layers

Slope
![image](https://user-images.githubusercontent.com/49880208/126881747-0a65e8be-57f9-438e-81b7-623c401beeb8.png)

Drainage Area
![image](https://user-images.g

[2021-07-24 21:54] #155 closed

[2021-07-24 21:56] Cashe93 opened #158 "Author `*.qml` for Intermediates > Overall Veg Dam Capacity layers and test in QRAVE"
- [x] Author .qml layers for BRAT Overall Veg Dam Capacity layers
-  Existing
-  Historic
- [x] Commit changes to the branched repository
- [x] Include screenshots of layers
- [x] Include link to the warehouse project that was used to test layers

[2021-07-24 21:57] Cashe93 commented on #158
[Here](https://data.riverscapes.xyz/#/Anabranch/80ba5c6f-a492-46ec-9b38-8392c2c5ce7a) is the warehouse link to the project that was used to test these layers

[2021-07-25 00:18] Cashe93 opened #159 "Author `*.qml` for Intermediates > Vegetation Suitability layers and test in QRAVE"
- [x] Author .qml layers for BRAT Vegetation suitability layers
-  Existing
-  Historic
- [x] Commit changes to the branched repository
- [x] Include screenshots of layers
- [x] Include link to the warehouse project that was used to test layers

[2021-07-25 00:20] Cashe93 commented on #159
Historic
![image](https://user-images.githubusercontent.com/49880208/126883896-50d6ab99-3054-461d-b1ec-fd16a2352595.png)

Existing
![image](https://user-images.githubusercontent.com/49880208/126883899-8fbea7ca-4f45-4bf5-b54a-2f9582b4a97d.png)

[2021-07-25 00:23] #159 closed

[2021-07-25 00:24] Cashe93 opened #160 "Author `*.qml` for Intermediates > Anthropogenic Intermediate layers and test in QRAVE"
- [x] Author .qml layers for BRAT Anthroprogenic intermediates
-  Priority beaver translocation area
-  Land ownership per reach
- Land-use intensity
- Distance to nearest infrastructure
- Distance to railroad
- Distance to railroad in valley bottom
- Distance to road
- Distance to road crossing
- Distance to road in valley bottom
- Distance to points of diversion
- Distance to canals/ditches
- [x

[2021-07-25 17:46] Cashe93 commented on #160
Priority Areas
Land Ownership
Land Use Intensity
Distance to nearest infrastructure
Distance to railroad
Distance to railroad in VB
Distance to road
Distance to road X
Distance to road in VB
Distance to points of diversion
Distance to canals/ditches

[2021-07-25 17:54] #160 closed

[2021-07-25 17:56] Cashe93 opened #161 "Author `*.qml` for Inputs > Network layers and test in QRAVE"
- [x] Author .qml layers for BRAT Network layers
-  Network
- Flow Direction
- River Polygons
- Lakes, Ponds, Reservoirs, & Water bodies
- [x] Commit changes to the branched repository
- [x] Include screenshots of layers
- [x] Include link to the warehouse project that was used to test layers

[2021-07-25 19:10] Cashe93 commented on #161
[Here](https://data.riverscapes.xyz/#/Anabranch/80ba5c6f-a492-46ec-9b38-8392c2c5ce7a) is the warehouse link to the project that was used to test the layers.

Network
![image](https://user-images.githubusercontent.com/49880208/126910510-86684595-1d61-48d4-938d-a236e4a35f01.png)

Flow Direction
![image](https://user-images.githubusercontent.com/49880208/126910523-8fe8fd98-da1b-4bb1-9627-de4392e27989

[2021-07-25 19:10] #161 closed

[2021-07-25 19:11] Cashe93 opened #162 "Author `*.qml` for Inputs > Topography layers and test in QRAVE"
- [x] Author .qml layers for BRAT Topography layers
-  Slope
- Dem
- Hillshade
- [x] Commit changes to the branched repository
- [x] Include screenshots of layers
- [x] Include link to the warehouse project that was used to test layers

[2021-07-25 19:42] Cashe93 opened #163 "Layer "sub" labels?"
How do we add labels to layers that carry over with our symbology? For instance, our slope raster is in degrees and the layer appears with the unit 'Degree °' in ArcMap.

![image](https://user-images.githubusercontent.com/49880208/126911217-932c1591-51aa-44e1-9d2d-675240896eb7.png)

Could someone refresh me on how we do this in Arcmap? Also, is there a way to do this in QGIS as well? Any help woul

[2021-07-25 19:54] Cashe93 commented on #162
These layers were already authored.

Slope
![image](https://user-images.githubusercontent.com/49880208/126911725-e7e0471b-628c-4f3e-b877-dac9d9d2d104.png)

DEM
![image](https://user-images.githubusercontent.com/49880208/126911731-3f058703-5e9f-47d4-a4a7-a1c1e1c9c62b.png)

Hillshade
![image](https://user-images.githubusercontent.com/49880208/126911713-4bbed29f-3ea8-48a0-aa94-c163c7edced6.png)

[2021-07-25 19:56] #162 closed

[2021-07-27 03:32] wally-mac commented on #148
@Tanmanfalcon these look great. Let me go through each of these in more detail tomorrow and provide you with some more feedback. Nice work!

[2021-07-27 03:36] wally-mac commented on #147
@Cashe93 These look great. Question for you. Can you show legends for these instead of the table of contents?

[2021-07-27 04:01] philipbaileynar commented on #157
This is indeed a minor bug in [BRAT business logic](https://github.com/Riverscapes/RiverscapesXML/blob/master/RaveBusinessLogic/BRAT.xml#L49-L55). We duplicate some layers to handle BRAT projects before and after we switched to geopackages. Someone has copied these lines for the topographic index intermediates but incorrectly defined the XPaths. See the network grouping above for how it should be

[2021-07-27 04:19] philipbaileynar commented on #163
You edit the layer properties and then edit the bold row that is marked "Heading".

These labels are defined in the layer or QML files, not in the business logic.

<img width="683" alt="Screen Shot 2021-07-26 at 9 18 05 PM" src="https://user-images.githubusercontent.com/8645379/127094721-0b2a94ce-4cc8-462f-83e2-2c079e1f7977.png">

[2021-07-27 15:53] joewheaton commented on #163
In ArcMap, you simply click on this label in TOC and edit it.
![image](https://user-images.githubusercontent.com/9723905/127185894-e3418476-ecc8-42bf-81ff-5a1a54fd5170.png)

I have not seen a place in QGIS to do this nor in the QML. So I am not sure if it exists or not.

[2021-07-27 16:35] joewheaton commented on #148
It might be nice to not say "NHD Flowlines", but "Estimated Bankfull Width (m)"

[2021-07-27 16:39] joewheaton commented on #148
This is consistent with what we are doing in ArcGIS @Tanmanfalcon. However, I don't like the NPS being yellow. Maybe a darker Green? Look at some other things like Google Maps and OpenStreet Maps for ideas? Once we agree, lets put this over also into Arc...

[2021-07-27 16:41] Tanmanfalcon opened #164 "Potential Bug in QGIS data import"
When opening Riverscape projects into QGIS, the vegetation rasters are imported incorrectly. The attribute table keeps the vegetation NAME in alphabetic order, but then defaults the values assigned to the names in ascending order. Seen below, in ESRI (in the attribute table) the name is alphabetic but the value is unique to each name. In QGIS, both the names and the values are in ascending order.

[2021-07-27 16:49] joewheaton commented on #148
Thanks for all this @Tanmanfalcon , especially the screen shots. Please make sure to include hillshades behind your raster layer screen shots in the background as this is how they will be typically viewed (for future ones... don't redo these).

[2021-07-27 17:29] Tanmanfalcon commented on #148
@joewheaton QGIS will not keep the name of the layer if I change it and export it as a QML. I suppose this is a Business Logic fix? Since I am unfamiliar with Business Logic, is there a way I can change the name of the layer in Business Logic so that the layer opens the layer with the same name each time?

[2021-07-27 20:19] Tanmanfalcon commented on #148
@joewheaton Here is updated screenshots of the Estimated Bankfull Width flowlines as well as the land ownership with an updated color for the National Park lands. Most maps I researched appear to label National Parks as a darker green. Is this a color you like?
![qland_ownership2](https://user-images.githubusercontent.com/79670857/127221030-64e132e7-07a6-425a-aeef-b99472c2c061.PNG)

![qbankfull_2]

[2021-07-28 18:24] MattReimer commented on #164
Just a point of clarification. The project tif `vegetation/existing_veg.tif` has a sidecar Raster Attribute Table (RAT) file `vegetation/existing_veg.tif.aux.xml` with all the values for the lookup in there.

ArcGIS reads this file correctly. QGIS does not. I'm not sure why this feature isn't in QGis.... maybe they'll add it one of these days. Lots of people want this: https://github.com/qgis/QGIS

[2021-07-28 19:20] Tanmanfalcon commented on #164
@MattReimer we received some sample files from a company named North Road that produced a tool named SLYR, claiming that it can convert .lyr files into .qlr (QGIS equivalent to .lyr) files. Nyall, the owner, said that we could send him a few files to samples in the tool to see if it gives the output we desire. He sent back a few .qlr files that we loaded into QGIS. I attached the vegetation .qlr t

[2021-07-29 00:19] Cashe93 commented on #157
Thanks, @philipbaileynar, I'll make those changes and create a pull request.

[2021-07-29 15:02] joewheaton opened #165 "Create new pyBRAT.xml Business Logic and Register Project Type"
@MattReimer, shortly the @Riverscapes/etal-fhc will be getting you a bunch of legacy pyBRAT projects. While the current [BRAT.xml](https://github.com/Riverscapes/RiverscapesXML/blob/master/RaveBusinessLogic/BRAT.xml) currently sort of accommodates both, there are issues with this going forward (especially as sqlBRAT evolves and improves, and as we want pyBRAT to remain the same). As such, we need

[2021-07-29 15:23] joewheaton opened #166 "Symbology for ChannelArea Project Type"
## Specification
*Project Type*:  `ChannelArea`
*Layer(s)*:
Everything

*Type(s)* - Raster and Vector

## Description and/or Explanation of Need
We now have a new ChannelArea project   type from #151 (see [here ](https://github.com/Riverscapes/RiverscapesXML/blob/ChannelArea/RaveBusinessLogic/ChannelArea.xml)for auto-generated, uncurated business logic). Use [this project from MHFD](https://data.r

[2021-07-29 15:42] joewheaton opened #167 "Symbology for TauDEM Project Type"
## Specification
*Project Type*:  `TauDEM`
*Layer(s)*:
Everything

*Type(s)* -
Both Raster or Vector

## Description and/or Explanation of Need
- We now have a new TauDEM project type from [here](https://github.com/Riverscapes/riverscapes-tools/issues/340) (see [here](https://github.com/Riverscapes/RiverscapesXML/blob/taudemBL/RaveBusinessLogic/TauDEM.xml) for auto-generated, uncurated business lo

[2021-07-29 15:56] joewheaton opened #168 "Symbology for New LANDFIRE Layers in RSContext Project Type"
## Specification
*Project Type*:  `Riverscapes Context`
*Layer(s)*:
TBD in this [issue](https://github.com/Riverscapes/riverscapes-tools/issues/358)
*Type(s)* - Raster

## Description and/or Explanation of Need
We need to incorporate all the LANDFIRE

## Example(s) of Inspiration
See and use [LADNFIRE's symbology](https://landfire.gov/)
-------
## To-Do
Instructions for tasks:
1. delete those task

[2021-07-29 15:58] joewheaton commented on #168
@tyler1218hatch you will not be able to complete this task until you [finish this one](https://github.com/Riverscapes/riverscapes-tools/issues/358). However, you can go ahead and start making the business logic and layer files on a new branch prior to @philipbaileynar finishing incorporating these into RS_Context projects, if you want to.

[2021-07-29 16:04] MattReimer commented on #167
Just FYI @shelbysawyer  there's already a branch for this `taudemBL` and a pull request all set in draft mode:

https://github.com/Riverscapes/RiverscapesXML/pull/154

This includes a template businesslogic xml.

[2021-07-29 16:05] joewheaton opened #169 "Change RS_Context Business Logic to get rid of Types (i.e. numbers) and emphasize Class"
Following up on our conversations with @wally-mac and @Cashe93, please institute the changes to the Vegetation we talked about:
![image](https://user-images.githubusercontent.com/9723905/127526271-acecb1c8-0f94-489a-8165-6341f8cba205.png)

- [x] Change "Vegetation" to a sub-category under "LANDFIRE"
- [x] Remove EVT Type
- [x] Remove BPS Type
- [x] Put EVT Class first in list
- [x] Is there a BPS

[2021-07-29 16:06] shelbysawyer commented on #167
Ah! Thanks @MattReimer, that's helpful.

[2021-07-29 16:06] MattReimer commented on #166
Just FYI @lauren-herbine  there's a;ready a pull request and a branch for this `ChannelArea` complete with a template business logic xml

https://github.com/Riverscapes/RiverscapesXML/pull/151

[2021-07-29 16:09] MattReimer commented on #165
Hey @joewheaton

We already have a pyBRat project XSD and sample XML file here:

https://github.com/Riverscapes/RiverscapesXML/blob/master/Projects/examples/pyBRAT.xml

We should be using that one.

Since these are more manual I wouldn't mind seeing the first one before you get too far into the process to make sure it's compliant.

[2021-07-29 16:14] lauren-herbine commented on #166
Thanks @MattReimer!

[2021-07-29 17:05] #157 closed

[2021-07-29 17:18] joewheaton commented on #158
@Cashe93, these seem a little different then what is in the ArcGIS (blue feels lighter). Are my eyes just off?

[2021-07-29 17:19] joewheaton commented on #157
Please see #165

[2021-07-29 17:22] joewheaton commented on #165
That's great @MattReimer. I am going to assign this now to @Cashe93.

@Cashe93 please get @MattReimer some example(s) of pyBRAT projects with projectrs.xml in them.

@wally-mac aND @Cashe93 this is what we discussed yesterday.

[2021-07-29 17:25] joewheaton commented on #152
@Cashe93 can you share here for others what you guys have learned about SLYR?

[2021-07-29 17:42] Tanmanfalcon commented on #169
@joewheaton I have updated the Business Logic to show the folder structure as mentioned above. This is what it looks like. Any more you would like to add?
![qlandfire](https://user-images.githubusercontent.com/79670857/127539636-eec96f38-b3a4-495c-9819-4a58ab234f30.PNG)

[2021-07-29 17:54] joewheaton commented on #132
Please keep in mind, the reason to allow this has more to do with including the basemap in a default view, not about exposing something already exposed in RAVE Basemaps via the business logic in the project's tree.

Maybe we just have a more concise syntax for referring to them in `BaseMaps.xml`, and a more verbose syntax for when referring directly to a WMS or WMST or XYZ that is exactly the same

[2021-07-29 17:57] joewheaton commented on #169
Awesome @Tanmanfalcon. Is there a "class" for BPS? If not I think this is what we discussed.

[2021-07-29 18:12] Cashe93 commented on #152
Sure thing. @Riverscapes/riverscape-project-curators, there is a tool within the licensed version of SLYR that allows us to convert esri LYR files into qgis compatible files. We were able to send a couple of example files for a test run, and it looks like the outputs come back as QLR files. These files are similar to QML however, they are linked to a dataset while QML files just contain style info

[2021-07-29 19:09] lauren-herbine commented on #152
That's awesome! Thanks for looking into this @Cashe93. Looking forward to your video

[2021-07-29 19:16] tyler1218hatch commented on #168
@joewheaton I'm a bit out of the loop here. Did you mean to tag @Tanmanfalcon ?

[2021-07-29 19:53] joewheaton commented on #168
Ooops... yes, sorry @tyler1218hatch, that was meant for Taylor.

[2021-07-29 19:55] joewheaton commented on #152
Thanks @Cashe93, that will go in RAVE website: https://github.com/Riverscapes/RaveAddIn/issues/140

[2021-07-30 16:15] #163 closed

[2021-07-30 16:32] lauren-herbine commented on #166
@joewheaton when you say you want the inputs broken out by FCodes do you mean something like:

[code]
...etc.

OR

something more similar to how we have it exposed currently?:

[code]

[2021-07-30 17:58] wally-mac commented on #152
Update: I just purchased the SLYR software.

[2021-07-30 21:46] joewheaton commented on #166
Good question @lauren-herbine. I don't know yet. See https://github.com/Riverscapes/RiverscapesData/discussions/7 for some of where we're going with ChannelArea. So for now, what you have will work for the NHD use case. I am not sure what to do or how to handle these other use cases. Run with this, and when we get resolution on how we handle the custom use cases, we'll revise it.

[2021-07-30 22:04] joewheaton opened #171 "Symbology for all Layers in sqlRVD Project Type"
## Specification
*Project Type*:  `RVD` - Riparian Vegetation Departure
*Layer(s)*:
All
*Type(s)* - Mix

## Description and/or Explanation of Need
This was identified over in https://github.com/Riverscapes/RaveAddIn/issues/114 a long time ago. It needs to get wrapped up

## Example(s) of Inspiration
Old pyRCAT layer packages and symbology
-------
## To-Do

- [ ] Start new branch with descriptive n

[2021-07-30 22:04] joewheaton commented on #171
@wally-mac you can assign this when you are ready.

[2021-07-30 22:06] joewheaton opened #172 "Hydro Velocity Vectors not working properly"
## The Problem
It is really hard to get velocity vectors to display properly in ArcGIS. The current Hydro projects have this revealed as "Velocity Vecotrs', but all it is right now is the location. The layer file is not currently working. Needs some exploration at some point....

[2021-07-30 22:10] #173 closed

[2021-07-30 22:11] joewheaton commented on #174
This is an old issue from arcRAVE days. It is no longer relevant.

[2021-07-30 22:11] #174 closed

[2021-07-30 22:13] joewheaton commented on #175
This is superseded by #165.

[2021-07-30 22:13] #175 closed

[2021-07-30 22:14] joewheaton opened #176 "Hyperlink URL File Type"
Related to Riverscapes/RaveAddIn#40 and Riverscapes/RaveAddIn#41, we need a way to easily add URLs to projects, which are exposed in business logic as their own type.  @MattReimer or @philipbaileynar what are some ways we can do this? For me, this came up for wanting to add to a project links to methods on a website.

# Some Thoughts on How
## One option is a `*.url`
As a windows user, one thing t

[2021-07-30 22:15] joewheaton commented on #176
Moved over here as this is a business logic and XSD issue.

[2021-07-30 22:16] #177 closed

[2021-07-30 22:19] joewheaton commented on #179
This is working now in QRAVE. Also, see #152,  https://github.com/Riverscapes/RaveAddIn/issues/138.

[2021-07-30 22:19] #179 closed

[2021-07-30 22:48] joewheaton commented on #121
This is now rolled into TauDEM, so closing.

[2021-07-30 22:48] #121 closed

[2021-07-30 22:48] #127 closed

[2021-07-30 22:48] #128 closed

[2021-07-30 22:49] #124 closed

[2021-07-30 22:50] #125 closed

[2021-07-30 22:51] #126 closed

[2021-07-30 23:06] joewheaton opened #181 "Symbology for All Layers in LTPBR Design Project Type"
## Specification
*Project Type*:  `LTPBR Design Project Type`
*Layer(s)*:
- Zone of Influence - Polygon
- Complex Footprint - Polygon
- Structures (as points or polyline crests)

## Description and/or Explanation of Need
Just a container for LTPBR designs to be typically populated in QRiS

## Example(s) of Inspiration
See [fmLTPBR](http://fmltpbr.riverscapes.xyz)

-------
## To-Do

- [ ] Start new

[2021-07-30 23:07] joewheaton opened #182 "Start new branch called LTPBR_Design for these changes"

[2021-07-30 23:07] joewheaton opened #183 "Make necessary edits to business logic and commit to new branch"

[2021-07-30 23:07] joewheaton opened #184 "Author `*.qml` for QRAVE of layer(s) and test in QRAVE and commit"

[2021-07-30 23:07] joewheaton opened #185 "Produce screen shot of each qml layer to provide in commit or later pull request for reviewer (include legend). Also, provide warehouse link to riverscape project you did testing on (use same project(s) for testing ArcRAVE and WebRAVE)"

[2021-07-30 23:07] joewheaton opened #186 "Make pull request for just QRAVE changes. Choose appropriate reviewer(s)"

[2021-07-30 23:31] joewheaton opened #187 "Register ltpbrDesign project type to XSD"
This is all related to https://github.com/Riverscapes/QRiS/issues/31. @MattReimer please work with @nick4rivers to get this in so we can start implementing #181

[2021-07-30 23:38] joewheaton commented on #35
Note, this was not done (just discussed), but now is superseded by QRiS. Design and Planning will be split into their own projects. See #182.

[2021-07-30 23:38] #35 closed

[2021-08-02 19:45] Cashe93 commented on #152
Hey all, here are the installation instructions for SLYR.

Downloading and installing the SLYR plugin for QGIS

Important: Before installing the licensed version of SLYR, you must first uninstall the community version (if installed) and restart QGIS

1. Download the installer from https://usuwatershed:JloiY%24%29o%7Bskp@north-road.com/qgis_plugins/2872eb8e-bc44-46ac-9f11-f124c0ce4915/slyr_install.

[2021-08-02 20:16] Tanmanfalcon commented on #169
@joewheaton There is no class for BPS. A hiccup I came across is if I put the RSContext.xml Business Logic file into the project folder to test that the Business Logic works, the tree in QGIS looks correct (like it does above in the previous picture I posted), but in ArcMap the project does not have any files within the folders, even though the tree looks correct. This only happens when I copy the

[2021-08-02 20:35] joewheaton commented on #169
Hmmm, I'm not sure, but I wonder if search order is slightly different in ArcRAVE. It sort of smells like some sort of collision of priorities. It is also possible you didn't "Refresh Project Hierarchy". You could also try the "Custom Project hierarchy", which lets you load one manually.
![image](https://user-images.githubusercontent.com/9723905/127920287-93f737f3-428e-4f57-8205-ba18681cc8f8.png)

[2021-08-02 21:10] lauren-herbine commented on #166
Moving some documentation over to this ticket from #151 .

**Project used:** [Channel Area for HUC 10190005](https://data.riverscapes.xyz/#/Anabranch/7e367e76-f8d7-439c-be33-d4a05ab941ae)

### QRave symbology and business logic
Here is a video showing the symbology and business logic- felt more efficient than 15+ screenshots:

[![Alt text](https://img.youtube.com/vi/WFfosaufVNA/0.jpg)](https://www

[2021-08-02 21:18] Cashe93 commented on #152
@Riverscapes/riverscape-project-curators, I've downloaded and installed the SLYR toolkit and everything seems to work great. The tool we will likely be utilizing the most is the LYR to QML tool which is very easy to use; just drag the desired LYR file as an input and the tool will output the corresponding QML (no exporting necessary). Since it's pretty straightforward, I don't think it's necessary

[2021-08-02 21:39] joewheaton opened #190 "Where is a good place for documentation (i.e. Git-hosted pages) that is for target audience of Analysts and Curators?"
What repo should we put documentation that is really targeted not a RAVE users, but at Project-Type curators (@Riverscapes/riverscape-project-curators) and Data or Project Curators? A few things triggered this:

1. @Cashe93 posted some [useful instructions on SLAYR in this issue](https://github.com/Riverscapes/RiverscapesXML/issues/152#issuecomment-891285761) that we'll want to reference, but it r

[2021-08-02 22:02] shelbysawyer commented on #167
@MattReimer @joewheaton I've got the layers organized they way I want them, but I've run into an issue with exposing them properly. For example, `Channel Area` is showing up under Inputs, but `DEM` and `DEM Hillshade` are not. This same issue is happening with Intermediates and Outputs. I _think_ it's a problem in the way that I've written the path in the BL, but I'm not sure how to confirm the pa

[2021-08-02 22:19] lauren-herbine commented on #134
updated polygon to reflect checkboxes in #133
Fixes #134

[2021-08-02 22:19] #134 closed

[2021-08-02 22:36] lauren-herbine commented on #135
It is now displayed as a 0-1, but I don't have the symbology down yet (it is not showing as a ramp, it is showing as discrete bins) #133

[2021-08-02 22:42] #137 closed

[2021-08-03 14:28] Cashe93 commented on #169
I am running into this issue as well. See here.
<div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/582537255?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="testing_ArcRAVE.wmv"></iframe></div><sc

[2021-08-03 15:07] Cashe93 commented on #158
@joewheaton, I've looked into this, and all of the RGB values are the same for both ArcRAVE and QRAVE symbology files. I can go in are darken the QRAVE symbology if needed.

[2021-08-03 15:34] Cashe93 opened #192 "Author `*.qml` for Inputs > Vegetation layers and test in QRAVE"
- [x] Author .qml layers for BRAT Vegetation input layers
-  EVT Class - completed in #191
- EVT Name - completed in #191
- Existing Riparian
- BPS Name - completed in #191
- Historic Riparian
- [x] Edit business logic
- remove Type node
- reorder the tree
- [x] Commit changes to the branched repository
- [x] Include screenshots of layers
- [ ] Include link to the warehouse project that was used t

[2021-08-03 15:36] Cashe93 commented on #192
Layers have been created, but it's difficult to test them in QRAVE since QGIS does not read raster attribute tables (at least not correctly). See issue #164

[2021-08-03 16:27] Cashe93 opened #194 "Update or Add Project Views to Reflect Changes (if necc.)"
Add project views for BRAT RAVE projects
- [x] Existing Capacity
- [x] Historic Capacity
- [ ] Brainstorm others

[2021-08-03 16:35] Cashe93 commented on #194
View of data tree
![image](https://user-images.githubusercontent.com/49880208/128052882-c8e5beb7-3d3c-4c1b-91db-a982a76178ab.png)

Existing Capacity
![image](https://user-images.githubusercontent.com/49880208/128052414-515a9b9e-13a9-42bf-aee0-6ae040b98fb8.png)

Historic Capacity
![image](https://user-images.githubusercontent.com/49880208/128052752-44e6052e-411d-4797-8e22-f348e970a94c.png)

[2021-08-03 17:27] MattReimer commented on #190
Hmmm. Yeah. We're definitely starting to get a bit sprawl-y with our docs. I think the TL;DR comes from the wisdom of ancients:

I think @joewheaton you're right that an information architect would probably take inventory of all our sites and then come up with a plan where everybody can get to everything they need with the smallest amount of typing and clicks.  This is why I don't want to get too

[2021-08-03 17:28] Cashe93 commented on #165
@MattReimer, I'm having a difficult time getting anything to show up in RAVE, and I'm not exactly sure where to begin. I've tried editing a handful of lines within the business logic and project xml but with no luck. Before I start messing with this too much I was hoping to get a bit more guidance on this task. [Here](https://usu.box.com/s/15xh9kjbt1acn4s3om1dkbma9v78lqdt) is a box link to a pyBRA

[2021-08-03 17:35] #190 closed

[2021-08-03 18:03] MattReimer commented on #165
Hey @Cashe93 we need to back up a bit:

* The reason RAVE isn't rendering anything is because it can't find any of the nodes in the `project.rs.xml` file
* This is primarily because the `project.rs.xml` file doesn't validate with the new XSD for pyBRAT we used for @tyler1218hatch's latest upload.

I'll give you the rough strokes to fix it and then get in touch if you get stuck:

### 1. Update the

[2021-08-03 18:08] #158 closed

[2021-08-03 18:27] MattReimer commented on #167
Hey @shelbysawyer let me take a crack at this.

What you have in your project XML is:

[code]

so in xpath-speak those **absolute** xpaths are:

[code]

Let me know if this part doesn't make sense. Xpaths can be a little tricky but if you get this the rest is easy.

Our business logic allows us to use _relative_ xpaths so we don't need to constantly put the full path everywhere

From your business

[2021-08-03 19:53] lauren-herbine opened #196 "One more run of a confinement project"
I am working on getting the confinement project (#133) dialed and have been using our one run from the [Lower Tongue](https://data.riverscapes.xyz/#/BLM/40fff861-ca0c-4f33-908d-26094c919a93) to test everything out in. This is 99% a laterally unconfined system (well, at least that's how it's currently being displayed..), so it is a little hard to really visualize how everything will work in a tight

[2021-08-03 20:07] Cashe93 commented on #192
Existing Riparian
![image](https://user-images.githubusercontent.com/49880208/128079058-6a13dbd9-167f-4491-8dc0-564316a2f1ea.png)

Historic Riparian
![image](https://user-images.githubusercontent.com/49880208/128079018-52c9f499-7af3-4326-92be-9b80763dd5a8.png)

[2021-08-03 20:07] lauren-herbine commented on #133
**Project used:** [Confinement for HUC 10090102](https://data.riverscapes.xyz/#/BLM/40fff861-ca0c-4f33-908d-26094c919a93)

### QRave symbology and business logic
Here is a video showing the symbology and business logic:

[![Alt text](https://img.youtube.com/vi/-/0.jpg)](https://www.youtube.com/watch?v=VID)

Here are the layers:
![image](https://user-images.githubusercontent.com/73319684/128078247-

[2021-08-03 20:12] Tanmanfalcon commented on #148
The QMLs for the Ecoregions have been completed. They look exactly as they do in Arcmap (see pictures below). I could not make a legend that contained all of the symbols, so youll just have to trust me that they are all exactly as they are in Arcmap. The vegetation qml's have also been created. Since Q is unable to read Raster Attribute Tables, all we can really do is create the symbology qml's an

[2021-08-03 20:15] #192 closed

[2021-08-03 20:28] Tanmanfalcon commented on #164
Update 8/3/21
I found a plugin called "RasterAttributeTable" in QGIS. It is able to read the Raster Attribute Table (RAT) for any raster, and (for the most part) looks similar to the RAT seen in Arcmap. However, the attribute table is not user friendly, and any changes made inside of the attribute table will not reflect in the symbology, so editing the RAT is kind of pointless. Also, if one were t

[2021-08-03 20:28] Cashe93 opened #197 "Symbology for xxxxx Layer in yyyy Project Type"
## WebRave Compliance - BRAT

*Project Type*: BRAT
*Layer(s)*: All inputs, outputs & intermediates
*Type(s)* - Raster & Vector

### Description

Get BRAT to be WebRAVE compliant by authoring .qml and updating business logic as needed.

-------
## To-Do

- [x] Start new branch with descriptive name for these changes (WebRAVE_BRAT_Curation)
- [x] Successfully author a vector layer for WebRAVE
- [ ]

[2021-08-03 20:34] Cashe93 commented on #197
@MattReimer could you point me in the direction of the WebRAVE symbology curation documentation?

[2021-08-03 20:39] philipbaileynar commented on #196
@KellyMWhitehead just made some major breakthroughs in VBET. We have a couple of additional tweaks to make this week before we have what we consider to be a much more reliable version of VBET.

Can this wait until next week @lauren-herbine? It feels premature to runconfinement until we have a reliable VBET on which to base the confinement run.

[2021-08-03 20:41] lauren-herbine commented on #196
@philipbaileynar That's awesome! This can certainly wait until next week (and I'll actually be out of the office next week, so if the week after is easier, that's cool too).

@KellyMWhitehead

[2021-08-03 20:50] Cashe93 commented on #165
@MattReimer thank you! I'll give this a go and let you know if I run into any other issues.

[2021-08-03 21:36] shelbysawyer commented on #167
Thank you @MattReimer! I'm going to give this a try!

[2021-08-03 22:06] wally-mac commented on #164
@Tanmanfalcon @Cashe93 So, I just want to  make sure I understand the situation correctly, the current version of QGIS does not read raster attribute tables and that you have tried the work around of using this plugin described above in your post however this does not provide a solution for Q to read attribute tables? As such because this is an issue with Q you have decided there's going to have t

[2021-08-03 22:18] Cashe93 commented on #164
@wally-mac that is mostly correct however, we have authored the symbology and are not just leaving the affected layers as default. The issue is that when we add the data to Q, these symbologies are applied incorrectly which appears to be a Q issue. In a nutshell, **all** of the symbology has been authored/created, but until Q is able to read RATs, they will keep getting applied incorrectly. We've

[2021-08-03 23:02] Cashe93 commented on #165
@MattReimer, this is proving to be well outside of my wheelhouse. Do you have time for a quick call tomorrow to answer questions? Alternatively, this task might be better suited for someone else.

[2021-08-04 01:17] MattReimer commented on #165
Hey @Cashe93, yeah I'm around tomorrow. Let's chat. Any time after about 11AM Mountain time is fine for me.

[2021-08-04 01:19] MattReimer commented on #197
Sure! We're still arguing where this documentation should live but

https://github.com/Riverscapes/RiverscapesXML/blob/master/docs/Symbology/webRAVERasters.md
https://github.com/Riverscapes/RiverscapesXML/blob/master/docs/Symbology/webRAVEVectors.md

The Vectors are probably going to be a bit of a learning curve if you haven't used Mapbox Studio before. Happy to chat about it if you get stuck.

[2021-08-04 17:30] joewheaton commented on #164
Thanks @Tanmanfalcon and @Cashe93 for these helpful updates. I just want to round back to @MattReimer comment about the sml sidecar files. If I understand what you're saying, the "RasterAttributeTable" pluggin could read the original attribute tables, but I think that @MattReimer has duplicated all that information into the xml. So @MattReimer, is there a way for the QML to display based on the xm

[2021-08-04 18:23] joewheaton opened #198 "2. Update VBET business logic for Output Polygons from six to four)"
See https://github.com/Riverscapes/riverscapes-tools/issues/362 for guidelines.

[2021-08-04 18:53] Cashe93 commented on #165
@MattReimer, will this format work for the list of projects?

![image](https://user-images.githubusercontent.com/49880208/128238525-89d37d9e-069e-442b-a4c9-c298070547b1.png)

[2021-08-04 19:38] MattReimer commented on #164
Not that I know of. The RAT plugin is interesting but we don't want to start depending on it for QRAVE so that's kind of out as an option.

I guess the question I have is that if we do the work to hardcode the RAT values into the qml symbology file and then deploy that we might be able to get around reading the sidecar file altogether. Those values are from a landfire lookup table that never chang

[2021-08-04 19:52] joewheaton commented on #165
@Cashe93, if you haven't already used it, [TablesGenerator](https://www.tablesgenerator.com/markdown_tables) is really convenient for producing the markdown for MD tables. You just copy and paste it in and then can shove in here.

[2021-08-04 20:18] MattReimer commented on #165
Hey @Cashe93 I got some of the XSD done and sent you an email with a meeting invite if you want to chat about it. Let me know if you want to jump in or if there's a better time.

[2021-08-04 20:24] MattReimer commented on #165
Also Re:

I think instead of a generic box link (which I can't access anyway since I don't have a USU box account) it might be more useful just to get the path to the actual folder.

[2021-08-04 20:26] MattReimer commented on #165
here are steps to get from old XML to new XML
https://github.com/Riverscapes/RiverscapesXML/pull/199

[2021-08-04 23:41] philipbaileynar opened #200 "Create new Warehouse Program for Bonneville Environmental Foundation"
We are about to produce 9 riverscapes models for the Bonneville Environmental Foundation. USU is going to review the outputs and potentially generate additional curated copies of the projects.

Where relevant you can use the abbreviation BEF, but I would prefer the program name to be spelled out in full.

Can you please create a new private program called "Bonneville Environmental Foundation". The

[2021-08-05 01:19] joewheaton commented on #196
@lauren-herbine please put a request issue in for re-running VBET and  [Lower Tounge Confinement](https://data.riverscapes.xyz/#/BLM/40fff861-ca0c-4f33-908d-26094c919a93) with new VBET. We'll wait to have @KellyMWhitehead run these until VBET gets dialed in.

[2021-08-05 01:27] joewheaton commented on #194
Some ideas for others as project views (you're done with 1 & 2):
![image](https://user-images.githubusercontent.com/9723905/128276671-75546d15-e59d-4c7f-af21-35aad1b27c2a.png)

[2021-08-05 01:40] joewheaton commented on #169
Hmm... Bring in the big dogs.... @MattReimer or @philipbaileynar any thoughts.

[2021-08-05 03:26] Cashe93 commented on #194
Thanks @joewheaton, I've added these to the project views. They should be included with #193

[2021-08-05 14:30] lauren-herbine opened #201 "Updated VBET and Confinement run for Lower Tongue"
Please re-run
- [ ] VBET and
- [ ] Confinement

for the [Lower Tongue](https://data.riverscapes.xyz/#/BLM/40fff861-ca0c-4f33-908d-26094c919a93) once new VBET is dialed in.

Thanks!

[2021-08-05 14:31] lauren-herbine commented on #196
Got it- can find in #201

[2021-08-05 14:48] MattReimer commented on #169
Right now ArcRave doesn't support business logic entirely. If you can get it working in QRave then when ArcRAVE catches up it should all be fine.

[2021-08-05 15:13] MattReimer commented on #200
Quick clarification.

Dou mean:

* RSContext
* ChannelArea
* TauDEM
* VBET
* BRAT

becayse VBET now depends on more than just RSContext

[2021-08-05 16:17] philipbaileynar commented on #200
That is correct. Thanks for the clarification.

[2021-08-05 17:38] lauren-herbine commented on #152
Hey @Cashe93 quick q- just to make sure, SLYR only works esri->Q, correct? So for efficiency's sake, it would make most sense to start all curation projects with Arc, and then use this tool to auto-create the corresponding .qml's?

[2021-08-05 17:50] Cashe93 commented on #152
@lauren-herbine, I believe that is correct. SLYR appears to have a handful of tools that converts LYR to Q compatible layers, but not vice versa. So yes, I would author symbology within Arc and then convert. I will send an email to the SLYR folks just to confirm this.

[2021-08-05 17:50] lauren-herbine commented on #152
@Cashe93 great, thanks for the confirmation!

[2021-08-05 20:44] shelbysawyer commented on #167
@MattReimer Oops, just realized I'm still working in the taudemBL branch for these last couple commits.. should I make a new branch and make these same changes again? Can I do another pull request under the same branch name? Sorry!

[2021-08-05 22:44] joewheaton commented on #167
@shelbysawyer here is the original paper (nothing inspiring for cartography): https://digitalcommons.usu.edu/cgi/viewcontent.cgi?article=3510&context=cee_facpub

You should just make up your own.

[2021-08-05 22:45] shelbysawyer commented on #167
@joewheaton That's what I ended up doing. Waiting to hear back about the branch situation I started (oops) and then you'll be able to see / respond to the symbology I chose for each.

[2021-08-05 22:46] #194 closed

[2021-08-05 22:52] Cashe93 opened #202 "RCA QRAVE Curation"
Get RCA to be QRAVE compliant by authoring .qml and updating business logic as needed.

-------
## To-Do

- [x] Start new branch with descriptive name for these changes (QRAVE_RCA_Curation)
- [ ] Produce screen shot of each qml layer to provide in commit or later pull request for reviewer (include legend). Also, provide warehouse link to riverscape project you did testing on (use same project(s) f

[2021-08-05 23:44] Cashe93 commented on #202
@joewheaton, does an RCA project.xml exist so that I can test out layers?

[2021-08-06 00:41] joewheaton commented on #202
Do you mean RCAT (which I see they were calling RCA)? I think we have two tasks here, but I'm going to ask @wally-mac and @philipbaileynar to clarify.
1. We need to ingest existing [RCAT](http://rcat.riverscapes.xyz) runs the lab has produced as pyRCAT runs and those will get a similar treatment to what you're doing with @MattReimer on pyBRAT. Hopefully not too different as RCAT was authored by Jo

[2021-08-06 15:29] wally-mac commented on #202
@Cashe93 I agree with Joe let's call this RCAT and include RVD, RVCT, and RCA and associated outputs. This is similar to how we handled BRAT, we didn't strip out individual components. sql and VBET will be a separate task to handle. I would prefer us focusing first on the most recent RCAT outputs such as upper Klamath. we'll discuss further a priority list.

[2021-08-06 18:20] joewheaton commented on #82
Beautiful, but now on account of https://github.com/Riverscapes/riverscapes-tools/issues/369 no longer necessary (sorry)

[2021-08-06 18:20] #82 closed

[2021-08-06 18:24] shelbysawyer commented on #94
Closing this as these will no longer be exposed

[2021-08-06 18:24] #94 closed

[2021-08-06 18:24] joewheaton commented on #94
These are what @KellyMWhitehead uses to make his reach breaks, but not that insightful....
![image](https://user-images.githubusercontent.com/9723905/128555370-14aeb9fe-294e-456f-bb5a-02aaa28fd7db.png)

So lets not expose them.

- [ ] Remove whole group from business logic.

[2021-08-06 18:27] joewheaton commented on #91
Channel goes away. Slope and HAND are good. Need new one for TWI.

[2021-08-06 18:29] joewheaton commented on #83
As with others, this is beautiful, but goes away.

[2021-08-06 18:29] #83 closed

[2021-08-06 18:34] joewheaton commented on #78
Try something like this @shelbysawyer
![image](https://user-images.githubusercontent.com/9723905/128556475-2080728b-8301-4d25-a965-5f82018b34ad.png)

[2021-08-06 18:35] joewheaton commented on #75
@Cashe93 has done this.

[2021-08-06 18:35] #75 closed

[2021-08-06 18:36] joewheaton commented on #66
This is superseded by #191

[2021-08-06 18:36] #66 closed

[2021-08-06 21:06] MattReimer commented on #200
This is done.

[2021-08-06 21:06] #200 closed

[2021-08-09 16:23] Cashe93 opened #206 "pyBRAT project curation."

[2021-08-11 00:33] MattReimer commented on #206
Hey @Cashe93 ,

I found a step that got omitted. You might want to add it to the instructions.
[code]

It's an easy change but I'm still sorry I forgot to include it with the original instructions

[2021-08-11 15:30] #79 closed

[2021-08-11 15:35] #119 closed

[2021-08-11 16:30] shelbysawyer commented on #198
@joewheaton I made the changes in the business logic to reflect having only the 4 categories, but I'm a little confused about which contours I'm meant to pull for each (I'm looking at the "Notes/Rationale" column..) or if that's another update I'll make later on?

| CategoryID | Likelihood | Label in Legend | Notes/Rationale | Old Threshold |
|---|---|---|---|---|
| 1 | >= 0.99 | Estimated Active

[2021-08-11 18:27] shelbysawyer commented on #198
Made a graphic for myself to visualize the new breaks, dropping it here in case it's useful to anyone else
![new_categories](https://user-images.githubusercontent.com/73311751/129083293-05f359a5-1a1a-45c2-83a8-b8a424e653fc.png)

[2021-08-11 20:45] Tanmanfalcon opened #208 "Author `*.qml` for QRAVE of layer(s) and test in QRAVE and commit"

[2021-08-11 21:02] #148 closed

[2021-08-11 21:19] joewheaton commented on #169
Lets leave this open until ArcRAVE gets updated (https://github.com/Riverscapes/RaveAddIn/issues/137)

[2021-08-11 22:41] joewheaton commented on #148
Thanks @Tanmanfalcon

[2021-08-11 23:14] joewheaton commented on #208
@Tanmanfalcon QRAVE can handle pulling data out of geopackages. At first I suspected this was a problem in how you were navigating the business logic in rows 58 & 59 to the `project.rs.xml`.  I can't tell exactly what the problem is from the screen shots, but thought perhaps having a closer look at the ones that are working successfully in sqlBRAT, for example

https://github.com/Riverscapes/River

[2021-08-11 23:19] wally-mac commented on #206
@Cashe93 I just wanted to make sure you are pulling the data from where the final data lives.  **IDAHO**:
![Idaho_PyBRAT](https://user-images.githubusercontent.com/21991506/129115224-5b7aac17-0aba-4fa4-a97c-90cc0705be8b.png)
**CALIFORNIA TNC**:
![California_PyBRAT](https://user-images.githubusercontent.com/21991506/129115309-41d260a5-1ab8-4a1c-8573-12d89fec943d.png)

[2021-08-11 23:22] joewheaton commented on #119
@shelbysawyer if you close something with unfinished tasks, explain why. If part of why is because it was superseded by a newer issue or commit, reference that in closing this. Thanks!

[2021-08-11 23:25] wally-mac commented on #206
@Cashe93 here are the locations on Box of additional legacy projects that have a project.xml associated with them that will want run.
**GYE:**
![GYE_PyBRAT](https://user-images.githubusercontent.com/21991506/129115416-6b245407-12a9-4099-8c32-a534c32b2eae.png)
**JOHN DAY:**
![John_Day_PyBRAT](https://user-images.githubusercontent.com/21991506/129115463-8df719ab-b624-41ae-a892-bd2be01f24c0.png)
**PO

[2021-08-11 23:28] wally-mac commented on #206
@Cashe93 as we talked about in our meeting today let's prioritize running PyBRAT for the **SPRAGUE:**
![Sprague_PyBRAT](https://user-images.githubusercontent.com/21991506/129116398-c81ae5a4-2000-4ac5-a501-446018b35250.png)

[2021-08-12 16:57] Cashe93 opened #209 "Author .qmls for pyBRAT Outputs as needed"
- [x] Author .qml layers for pyBRAT Outputs
-  Existing dam capacity
-  Existing dam size
- Historic dam capacity
- Historic dam size
- Unsuitable or limited opportunities
-  Risk of undesirable dams
- Restoration or conservation
- Validation???
- [x] Commit changes to the branched repository
- [x] Include screenshots of layers

[2021-08-12 18:48] Cashe93 opened #210 "Author .qmls for pyBRAT Intermediates as needed"
- [x] Author .qml layers that are needed for pyBRAT Intermediates
- [x] Commit changes to the branched repository
- [x] Include screenshots of layers

[2021-08-12 18:48] Cashe93 opened #211 "Author .qmls for pyBRAT Inputs as needed"
- [x] Author .qml layers that are needed for pyBRAT Inputs
-  Network
-  Existing Riparian > need to hardcode from the national dataset
- Historic Riparian > need to hardcode from the national dataset
- Land Use > need to hardcode from the national dataset
- Provisional points of diversion
- Land Ownership
- Valley bottom outline
- [x] Commit changes to the branched repository
- [x] Include screen

[2021-08-12 19:34] Tanmanfalcon opened #212 "Produce screen shot of each qml layer to provide in commit or later pull request for reviewer (include legend). Also, provide warehouse link to riverscape project you did testing on (use same project(s) for testing ArcRAVE and WebRAVE)"

[2021-08-12 19:43] Tanmanfalcon commented on #212
Segmented Flowlines
![qflowlines](https://user-images.githubusercontent.com/79670857/129258970-9deaa7ee-29bd-47e0-b417-6aa05d72c875.PNG)

NHD Flow Area
![qflowarea](https://user-images.githubusercontent.com/79670857/129258984-0c1cc2f1-f4fe-4957-9d23-7210a56da935.PNG)

NHD Waterbody
![qwaterbody](https://user-images.githubusercontent.com/79670857/129258987-d260e379-17de-47b9-adcc-a6447d35267a.PNG)

[2021-08-12 21:55] Cashe93 commented on #211
Screenshots for all pyBRAT inputs

![image](https://user-images.githubusercontent.com/49880208/129270857-e1ca3ec1-02d9-44cc-843d-17150050e027.png)
![image](https://user-images.githubusercontent.com/49880208/129271760-85889f7d-a2d3-4291-b351-858f44dc00fb.png)
![image](https://user-images.githubusercontent.com/49880208/129272157-4dc53b17-1a87-4875-aeec-438d2cb4c485.png)
![image](https://user-images.

[2021-08-12 22:58] Cashe93 commented on #210
All pyBRAT Intermediates

![image](https://user-images.githubusercontent.com/49880208/129277164-158988fc-c277-4715-a3cf-bc44865b52da.png)
![image](https://user-images.githubusercontent.com/49880208/129277274-81070f6a-c70a-4405-897e-4062e0128022.png)
![image](https://user-images.githubusercontent.com/49880208/129277405-f7747969-da0f-4707-b064-63ac12a1bb90.png)
![image](https://user-images.githubuse

[2021-08-12 22:58] #210 closed

[2021-08-12 23:21] Cashe93 commented on #209
All pyBRAT Outputs

![image](https://user-images.githubusercontent.com/49880208/129280821-9e00297d-449a-4e71-8d05-1f5265ed8b62.png)
![image](https://user-images.githubusercontent.com/49880208/129280913-2854fe11-8c09-4ded-83a8-a23fcb40fdc0.png)
![image](https://user-images.githubusercontent.com/49880208/129281026-f5cb700e-bbb1-4ae9-b359-1e14b9a33e23.png)
![image](https://user-images.githubuserconte

[2021-08-12 23:32] Cashe93 commented on #206
@joewheaton, the pyBRAT business logic has been updated and is functioning. Aside from a couple of problematic layers (almost exclusively being categorized rasters) things look good. You can view the RAVE layers in #209, #210 , #211.  All changes including changes to QMLs have been committed to #207.

[2021-08-13 16:05] shelbysawyer opened #214 "Make necessary edits to business logic and commit to new branch"

[2021-08-13 16:06] shelbysawyer commented on #214
Sorry, I clicked the wrong task to create an issue. Ignore please.

[2021-08-13 16:06] #214 closed

[2021-08-13 16:06] shelbysawyer opened #215 "Author `*.qml` for QRAVE of TauDEM layers"

[2021-08-13 16:12] shelbysawyer commented on #215
- [ ] rasterized_channel.qml (Rasterized Channel)
- [ ] pitfull.qml (Pitfill)
- [ ] dinfflowdir_ang.qml (D∞ Flow Directions)
- [ ] aredinf_sca.qml (D∞ Contributing Area)
- [ ] twi.qml (TWI)

[2021-08-13 16:13] shelbysawyer commented on #215
TWI:
<img width="1117" alt="Qtwi2" src="https://user-images.githubusercontent.com/73311751/129388547-6b6368db-08bd-4424-a099-8a171078af8c.PNG">
<img width="1119" alt="Qtwi" src="https://user-images.githubusercontent.com/73311751/129388556-90f42a2d-e688-4150-a78c-11c3d481e8eb.PNG">

Rasterized Channel:
<img width="1117" alt="Qrasterized_channel" src="https://user-images.githubusercontent.com/733117

[2021-08-13 20:20] Tanmanfalcon commented on #212
Existing Vegetation Conversion
![qexistvegconv](https://user-images.githubusercontent.com/79670857/129414345-eeed48b9-d298-40d4-8bc3-607bac3af127.PNG)

Existing Land Use Intensity
![qlanduse](https://user-images.githubusercontent.com/79670857/129414356-a2d3418b-ada7-4aaf-b511-43177985dd4d.PNG)

Historic Vegetation Conversion
![qhistoricvegconversion](https://user-images.githubusercontent.com/79670

[2021-08-13 20:44] Tanmanfalcon commented on #212
Not that these matter a ton, but they were quick.

Thiessen Polygon
![qthiessenpoly](https://user-images.githubusercontent.com/79670857/129416558-98b720d3-024d-42ce-b0a6-dbb68b553478.PNG)

Thiessen Points
![qthiessenpoint](https://user-images.githubusercontent.com/79670857/129416563-a5bf8970-5089-447d-b330-da7b38142c60.PNG)

Thiessen Dissolved
![qthiessendissolved](https://user-images.githubuserco

[2021-08-14 17:24] Cashe93 opened #217 "pyRCAT Curation"
## Specification
*Project Type*:  pyRCAT
*Layer(s)*: all
*Type(s)* - Raster and Vector

## Description and/or Explanation of Need
Update project XML and Business Logic to support legacy RCA runs
-------
## To-Do
- [x] Start new branch with descriptive name for these changes (e.g. curation_Veg_RCAT)
- [ ] Make necessary edits to business logic and commit to new branch
- [ ] Author `*.qml` for QRAVE

[2021-08-14 17:42] Cashe93 commented on #217
@philipbaileynar, I am attempting to update a project.xml for an old RCA run similar to what I was doing for pyBRAT in #199. However, I am having trouble getting rid of all of the problems within studio code. Do you see any glaring issues in the screenshot posted below? Are there any changes that need to be made to the RCA.xsd?

![image](https://user-images.githubusercontent.com/49880208/129455748

[2021-08-14 17:53] Cashe93 commented on #217
This is a repeat issue from #202

[2021-08-14 17:53] #217 closed

[2021-08-14 17:54] Cashe93 commented on #202
@philipbaileynar, I am attempting to update a project.xml for an old RCA run similar to what I was doing for pyBRAT in #199. However, I am having trouble getting rid of all of the problems within studio code. Do you see any glaring issues in the screenshot posted below? Are there any changes that need to be made to the RCA.xsd?

![image](https://user-images.githubusercontent.com/49880208/129455748

[2021-08-15 03:49] philipbaileynar commented on #202
What's the error message when you hover over the red squiggle? The messages are normally very intuitive.

[2021-08-15 04:07] Cashe93 commented on #202
It says it expects an 'Existing Vegetation' node, but when I create one, it just pushes the same error down a couple of lines expecting something like 'Historic Vegetation' node, and so on. I've created the lines it expects to see, but then I'll still have errors. Perhaps the project XML is just missing data that I need to add? I'll be in the field for a few days, but I'll dive back into this when

[2021-08-15 23:19] joewheaton commented on #215
These look great @shelbysawyer. This is done.

[2021-08-15 23:19] #215 closed

[2021-08-15 23:20] joewheaton commented on #210
Nice work @Cashe93. These look great.

[2021-08-15 23:22] joewheaton commented on #209
Colors look good, but symbology does seem rather thick on line types?

[2021-08-15 23:24] joewheaton commented on #206
This is really amazing @Cashe93 to have all these looking so good. Nice work! So, does this mean if you open up any of the pyBRAT projects they seem to be working other than a few layers? Or does it mean that you open up any of the pyBRAT projects with some manual edits to the `project.rs.xml` file and it works?

Either way, this is a big deal. Great Job.

[2021-08-16 23:09] joewheaton opened #218 "References as Node type?"
# The Request / Challenge
In many riverscape projects, it would be nice to provide references. Typical references to want to include:
- References as related reports to cite (e.g. background papers, reports, datasources etc.)
- The formal data citation (e.g. with DOI) for the paper, report, publication associated with the RS project
- How to cite *this* Riverscape Project (e.g. warehouse URL - htt

[2021-08-16 23:12] #219 closed

[2021-08-16 23:17] joewheaton commented on #218
I still want to do this @MattReimer and @philipbaileynar, but it seems like this is something to deal with in RivrscapesXML so I moved it from RAVE Addin

[2021-08-16 23:29] joewheaton commented on #164
@philipbaileynar should we move this over to QRAVE as a bug?

[2021-08-16 23:37] joewheaton opened #222 "Build new Photos Riverscape Projects and/or Allow Photo Project Nodes (or photo project)"
**Is your feature request related to a problem? Please describe.**
We want to be able to handle production of geotagged photos. We don't know whether to allow this as a ode in

**Describe the solution you'd like**
This was from: github.com/Riverscapes/RaveAddIn/issues/40

**Describe alternatives you've considered**
See: https://github.com/Riverscapes/RaveAddIn/issues/40#issuecomment-629661577

[2021-08-16 23:50] shelbysawyer commented on #91
Covered in #213

[2021-08-16 23:50] #91 closed

[2021-08-17 00:51] joewheaton commented on #141
This is sorted now by @shelbysawyer.

[2021-08-17 00:51] #141 closed

[2021-08-17 14:54] #198 closed

[2021-08-20 16:57] Cashe93 commented on #206
@joewheaton, the latter is correct. Unfortunately, most of the legacy pyBRAT project XMLs still need to be manually edited/validated before they will display properly in RAVE. This is something that I am currently working on and that Ally will be assisting me with once she gets oriented with the lab. But the functioning business logic will make this task a bit more straightforward.

[2021-08-20 18:04] joewheaton opened #225 "Fix and Add Additional TauDEM Views & Symbology"
## Problem
When testing the latest TauDEM on 1019005 from https://github.com/Riverscapes/RiverscapesData/issues/21#issuecomment-902828705, I noticed the default TauDEM View did not load or come in.

Right now this is all that shows up:
[code]
The reason nothing is coming in because of a case difference in the ID (here it is further up):
[code]

## Fixes to Symbology

- [x] Please add Hillshade to

[2021-08-20 20:23] #225 closed

[2021-08-20 21:40] joewheaton commented on #78
This is done.

[2021-08-20 21:40] #78 closed

[2021-08-20 22:50] shelbysawyer opened #229 "Author .qmls for 4 VBET Normalized Evidence Rasters"
- [x] norm_slope.qml
- [x] norm_hand.qml
- [x] norm_topo.qml
- [x] norm_twi.qml

Screenshots of each layer are provided in #230.

[2021-08-21 00:10] #229 closed

[2021-08-24 16:51] Cashe93 commented on #206
@wally-mac, just a heads up, the IDF&G and GYCC projects that are located within the NonProject > etal_public_html folder don't have the project XMLs associated with them. However, they do exist within the Project > USA > Idaho folder. These are the ones I've been validating/editing.

[2021-08-24 20:02] MattReimer opened #231 "Document GitHub actions"
The scripts that work on a git push do a lot of work and none of it is magical but all of it is important.

Write some docs to demystify what goes in and allow other people to fix it if it breaks

[2021-08-25 22:30] joewheaton opened #232 "QRAVE Symbology for GUT Layers"
We have a functioning version of GUT layers in ArcRAVE

We have 18 GUT projects in Asotin (e.g. https://data.riverscapes.xyz/#/AsotinIMW/596f464d-768e-4198-a79a-9f760cdd6807)
![image](https://user-images.githubusercontent.com/9723905/130872063-0d882c59-f77f-4e4a-9e54-2d00dc093af5.png)

## Specification
*Project Type*:  `e.g. GUT`
*Layer(s)*:
All GUT layers:
![image](https://user-images.githubuserc

[2021-08-25 22:46] joewheaton opened #233 "We need to convert all the GUT *.lyr files to *.qml files of the same name:"
-In GUT
- [x]  ev_Contours
- [x] ev_bfCh
- [x] ev_bfSlopeCat
- [x] ev_bsSDCat
- [x] ev_channelEdge
- [x] ev_contourNodes
- [x] ev_contourPolygons
- [x] ev_mBendIndex
- [ ] ev_normFill
- [x] ev_resDepth
- [ ] ev_resTopo
- [x] ev_tmp
- [ ] in_BankfullCenterline
- [x] in_BankfullExtent
- [x] in_Thalwegs_Channel
- [ ] in_Thalwegs_Type
- [x] in_WaterCenterlin
- [x] in_WaterExtent
- [x] out_Tier1_FlowUn

[2021-08-28 01:20] MattReimer commented on #221
https://github.com/Riverscapes/RiverscapesXML/blob/master/BaseMaps.xsd

This is done

[2021-08-28 01:20] #221 closed

[2021-08-28 22:10] Cashe93 commented on #206
@philipbaileynar or @MattReimer, Since @leallysmith can't yet view the pyBRAT projects in RAVE, I've been going in and making sure that the edits she makes to the project XMLs have been working. For the most part, everything is looking great, however, I've been running into a weird issue. See short video [here](https://vimeo.com/593902618).

[2021-08-28 23:10] Cashe93 commented on #206
@wally-mac the pyBRAT run for the Sprague is good to go. You can find it [here](https://usu.box.com/s/i0lyq1b5aeyp06hb4u46s1525rnm17ot) on box.

[2021-08-29 00:04] Cashe93 commented on #197
@MattReimer you were indeed correct. I got stuck fairly early on when trying to attempt Vectors. I got to step 4 of creating a JSON file. For somebody who hasn't used Mapbox before, I find the instructions to be quite vague. Is there a video tutorial or something else that we can reference?

![image](https://user-images.githubusercontent.com/49880208/131233941-724bd421-c757-4543-a02e-3656d548a3b1.

[2021-08-29 15:49] MattReimer commented on #197
Yeah, sorry. the docs aren't good because we don't want to have to re-document Mapbox

The docs for mapbox studio are pretty thorough:
https://docs.mapbox.com/studio-manual/guides/

but it's a pretty different process from QGIS and Arcmap. Have another go and if you get stuck on something I have some time this week and we can slog through it together if you'd like.

[2021-08-29 15:51] MattReimer commented on #218
Yup. Definitely an XML thing. We might be able to extend some well known reference XML format. We can definitely discuss this further.

[2021-08-29 16:04] MattReimer commented on #165
pyBRAT project curation is ongoing but that's a separate ticket. I'm closing this since the XML work is done for now

[2021-08-29 16:04] #165 closed

[2021-08-30 21:02] Cashe93 opened #234 "RCA XSD Fix"
@MattReimer could you fix this?

[code]

[2021-08-31 17:59] MattReimer commented on #235
Moving this to RiverscapesXML since that's where it's supposed to go.

[2021-08-31 18:07] MattReimer opened #236 "BACKUP "RS Developer PM""
### _NB: This is just backup markdown for the [developer project](https://github.com/orgs/Riverscapes/projects/10)_

**_Just ignore this ticket_!!!**

# Labels

[code]

# Reference cards

### Quick Links

* All Issues: [MR](?card_filter_query=assignee%3Amattreimer) | [KW](?card_filter_query=assignee%3AKellyMWhitehead) | [PB](?card_filter_query=assignee%3Aphilipbaileynar) | [?](?card_filter_query=n

[2021-08-31 18:07] #236 closed

[2021-08-31 23:28] philipbaileynar commented on #235
@MattReimer I keep forgetting why this is so hard? I know that the tool software is using the log file during execution and we don't want anything to jeopardize execution. But why can't the top level routine of each software simply instantiate the log singleton (that has already be configured with a file path during the main routine) and then write the log path to the project file. It doesn't need

[2021-08-31 23:54] MattReimer commented on #235
This isn't hard but it does involve kind of two phases. This ticket is talking about the XML and XSD schema changes needed to implement this. We'll need to:

1. Extend the `<Realization>` definition to [include a standardized log file node directly after the realization metadata](https://github.com/Riverscapes/RiverscapesXML/pull/237/files#diff-e197150061f790b1e33e7cd38f4c0dda04d51c15cd970685ffed4

[2021-09-01 16:15] joewheaton commented on #235
@MattReimer I like the suggested order of attack here. As to your question as where we want it in the business logic, my suggestion is that this comes immediately after wherever the report is. For example in HAND:
https://github.com/Riverscapes/RiverscapesXML/blob/e0b4805fd7f9d659b61dd110c3a60c10013f7529/RaveBusinessLogic/HAND.xml#L6-L13

The report is on L12, so maybe we add a L13:
`<Node xpathla

[2021-09-01 16:18] joewheaton commented on #235
@philipbaileynar of all our model types, which don't have log files? Is this only the Cybercastor models? I edited the list for business logic at start of ticket to reflect this.

[2021-09-01 16:22] MattReimer commented on #235
All tools "CAN" have log files but I don't think any of the legacy pyBRAT/RVD etc do. The CHaMP ones might but it's not consistent and certainly we don't want to go back and edit 1000+ legacy project XMLs just to add them.

All the `riverscapes-tools` tools standardize how log files are written so they are somewhat predictable. I'm kind of aiming this strategy at them and then others can choose to

[2021-09-01 16:23] philipbaileynar commented on #235
All the "new" tools that are intended for cybercaster and that you listed above have log files. Some are better than others. RSC and BRAT and extremely verbose.

Let's ignore log files for legacy projects (pyXXX and CHaMP) unless they already exist. We just need to ensure that whatever we implement in RAVE(s) works when a log file is absent.

[2021-09-01 16:25] MattReimer commented on #235
@philipbaileynar on the suggestion above the log file nodes need to be explicitly added to each project business logic so legacy projects won't even know about it

[2021-09-01 16:28] MattReimer commented on #235
Also @philipbaileynar for the record (and before I forget again) I finally remembered what  I said was hard about this stuff

There was some discussion about writing a summary of the log files to the report.

That is a bit ouroborian so if we go there we need to play some gymnastics

[2021-09-01 17:09] joewheaton commented on #235
Understood... Lets punt on that for now.

[2021-09-01 18:04] #234 closed

[2021-09-01 18:09] MattReimer commented on #234
@Cashe93 the change is in. Sorry for the delay. I got distracted by something yesterday.

You can use the project files as-is.... mostly. There are a few really minor changes though

1. Change the XSD path at the top of the file

[code]

2. `True` ==> `true`: Promoted attribute need a lowecase T

[code]

3. Change Metadata `HUCID` ==> `HUC`: We do this so it can upload and play nicely with the sea

[2021-09-01 20:47] CHafen commented on #233
Hey @Cashe93 I'm working on converting .lyr to .qml for GUT. I'm doing the .lyr file ev_bfSlopePer right now, which I believe is the Bankful Slope Percent (bfSlope_Percent). Anyway, when I bring in the layer file manually it is blue to red instead for green to red. So, and when I converted it, it comes in blue to red in qgis as well. See attached screen shot. Any idea why this is? Or is this lyr f

[2021-09-01 21:07] joewheaton opened #240 "Symbology for D∞ Slope Analysis (percent)Layer in TauDEM Project Type"
## Specification
*Project Type*:  `TauDEM`
*Layer(s)*:
D∞ Slope Analysis (percent)

*Type(s)* - Raster

## Description and/or Explanation of Need
Change color ramp to be consistent with other slopes (i.e. green low slope red high slope)

This came up during QC for: https://github.com/Riverscapes/RiverscapesData/issues/36
## Example(s) of Inspiration
Regular slope analysis

-------
## To-Do
- [x] S

[2021-09-02 15:14] shelbysawyer commented on #92
Addressed in changes we made to the business logic and the symbology in #230

[2021-09-02 15:14] #92 closed

[2021-09-02 17:46] MattReimer commented on #10
This is happening today. We're going to start using them immediately in the fall release of all `riverscapes-tools`

[2021-09-02 18:08] #10 closed

[2021-09-02 18:08] #235 closed

[2021-09-02 18:08] #231 closed

[2021-09-03 18:55] Cashe93 commented on #233
Hey @CHafen,

I apologize for the delayed response on this! It looks like the business logic is pulling the 'raster_slope' symbology and not the 'ev_bfSlopePer' symbology.
[code]

[2021-09-03 20:41] #72 closed

[2021-09-03 20:55] lauren-herbine opened #242 "ChannelArea BL and symbology Q"
Hi @MattReimer-
I am trying to do [QC on a new ChannelArea](https://github.com/Riverscapes/RiverscapesData/issues/38) project; when I open it in Q, however, it opens without any business logic or curation. I checked to make sure my BL was all good on github, and it looks like it is ([here](https://github.com/Riverscapes/RiverscapesXML/blob/master/RaveBusinessLogic/ChannelArea.xml)). I can't find s

[2021-09-03 20:56] Cashe93 commented on #197
@MattReimer, would you have time for a short meeting today about this? I've symbolized everything in Mapbox and exported the .json file, I'm just having trouble figuring out the next steps.

[2021-09-03 21:30] MattReimer commented on #197
@Cashe93 I don't have any headspace for WebRAVE today. Can we circle back to this after the long weekend? We can do it first thing on tuesday.

[2021-09-03 21:35] MattReimer commented on #242
Hmmm. Did these go away? I'll take a look

[2021-09-03 21:39] Cashe93 commented on #197
No worries, @MattReimer. Tuesday works great!

[2021-09-03 21:41] MattReimer commented on #242
Ok. first off I was able to get things working (I think. Correct me if I'm wrong)

<img width="889" alt="Screenshot 2021-09-03 143824" src="https://user-images.githubusercontent.com/1063391/132067704-6f8629a3-a216-4070-8e15-9e0b0a2aed50.png">

Doesn't mean you don't have a legitimate issue but it is somewhat reassuring.

Things to check

1. Make sure you haven't got an old business logic xml file

[2021-09-03 21:49] lauren-herbine commented on #242
Yes, that looks like it is supposed to! Especially if it opened with the one Project View ("Channel Area") as the default.

1. I am 99% sure I don't have an old bl xml file next to the project xml. This is a new project I just downloaded and unzipped from the warehouse:
![image](https://user-images.githubusercontent.com/73319684/132068177-72ed1934-5639-4909-aca6-37f2bd755a4a.png)

2. Ah, yes, I fo

[2021-09-03 22:30] MattReimer commented on #242
Hmmm. That's really weird. Can you verify the version number of qrave for me?

I might suggest that you try uninstalling and reinstalling.

Failing that let me know and we can try troubleshooting it together if you have a minute

[2021-09-03 22:41] lauren-herbine commented on #242
Woo! Ok, so I have 0.5.1 and I see that there is a new 0.6.0 release from a couple of hours ago. I did an update, an un-install and re-install, and re-loaded everything. I am not sure what in there made it work, but the project is now pulling the correct symbology and business logic!

[2021-09-03 22:41] lauren-herbine commented on #242
Thanks @MattReimer !

[2021-09-03 22:41] #242 closed

[2021-09-03 22:49] MattReimer commented on #242
Whoa. did you get 0.6.0?!? I show that it's not available yet. let me know if you did. I'm guessing you got 0.5.2

[2021-09-03 23:00] lauren-herbine commented on #242
No I did not! I can see that 0.6.0 is there, but I was only able to update to 0.5.2

[2021-09-03 23:10] MattReimer commented on #242
Well, anyway you're unblocked and 0.6.0 should be happening soon. I'll send out a wider message when it's available to everyone.

[2021-09-04 01:12] joewheaton commented on #233
I'm not sure which one to go with without a screen shot of both. I would prefer something like we use in GCD, which is probably that raster_slope

[2021-09-04 20:49] CHafen commented on #233
Hey @joewheaton here are the screen shots. The first one is using the symbology "raster_slope." This is the one that the Buisness Logic uses
![ev_bf_SlopePer_buisnesslogic](https://user-images.githubusercontent.com/39837888/132107671-021d8a36-483b-4476-94e1-128b75375a25.png)
The second one is the symbology  "ev_bfSLopePer"
![ev_bf_SlopePer_sympologymanual](https://user-images.githubusercontent.com

[2021-09-05 00:53] joewheaton opened #243 "Symbology for Hillshade Layer in ALL Project Type"
## Specification
*Project Type*:  All of our projects with BL that use hillshades
*Layer(s)*:
Hillsahde layers show up in all our tools

*Type(s)* - Raster

## Description and/or Explanation of Need
In https://github.com/Riverscapes/riverscapes-tools/issues/252 we identified that Hillshades are too dark sometimes.
We simply need to make a `hillshade.lyr` and `hillshade.qml` that force the stretchi

[2021-09-05 00:57] joewheaton commented on #243
@wally-mac please assign this to one of the curators as you see fit. This fixes the hillshade problems we had in Klamath. https://github.com/Riverscapes/riverscapes-tools/issues/252

[2021-09-05 01:02] joewheaton commented on #187
@MattReimer just following up and @nick4rivers and @CHafen will be interested in this.

[2021-09-05 01:03] joewheaton commented on #181
@nick4rivers please try to prioritize this next week. and delegate to @CHafen as you see fit. I changed milestone.

[2021-09-05 01:06] joewheaton commented on #90
This is done.

[2021-09-05 01:06] #90 closed

[2021-09-05 01:07] joewheaton commented on #168
@Tanmanfalcon how is this going? I moved due date to this next week. Let me know if that's a problem.

[2021-09-05 01:08] joewheaton commented on #171
@wally-mac and @Tanmanfalcon can you give an update on how this is going? We need to get this done for the Upper Klamath meeting idealy.

[2021-09-05 01:09] joewheaton commented on #167
@shelbysawyer this is looking great for QRAVE. We need to follow through and get this done for ArcRAVE and WebRAVE. I updated due date.

[2021-09-05 01:10] joewheaton commented on #145
@Cashe93 just checking in on how this is going.

[2021-09-05 18:02] Cashe93 commented on #145
@joewheaton, aside from the raster symbology, this is done. Just haven't marked it complete since we still need to figure out what to do with categorical rasters.

[2021-09-06 03:07] joewheaton commented on #244
This was addressed through #174 and https://github.com/Riverscapes/RiverscapesXML/issues?q=is%3Aissue+label%3Apkg%3AVBET+is%3Aclosed

[2021-09-06 03:07] #244 closed

[2021-09-07 21:15] CHafen opened #246 "ArcRave not bringing in Bankfull Island Symbology in GUT"
It looks like ArcRAVE isn't bringing in the bankfull Island symbology for this GUT project.
The one circled in red is what RAVE brought it in as and the one circled in yellow is when I put the bfIslands.lyr file in to check what the symbology should be. I'm not sure who to tag here @joewheaton @MattReimer
![bfIslands_symbology](https://user-images.githubusercontent.com/39837888/132411650-57df9241-

[2021-09-08 15:02] Cashe93 commented on #197
@MattReimer or @philipbaileynar  would you have time to do quick meeting about this today? I just want to make sure that the work I'm doing is on the right track. I will be available between 12:30 and 3 or anytime after 4. Thanks!

[2021-09-08 15:09] MattReimer commented on #197
Yeah no problem @Cashe93 I'll send you a meeting invite

[2021-09-08 16:55] Cashe93 commented on #197
Thanks, @MattReimer!

[2021-09-08 22:03] MattReimer commented on #87
I'm re-opening this since we still don't have a good categorical workflow.

[2021-09-09 17:43] Cashe93 commented on #234
@MattReimer, the current project xml that I'm working on does not have a 'promoted' attribute. Is this an issue?

[code]

[2021-09-09 17:51] MattReimer commented on #234
No. Promoted is a legacy concept. Of the xml validates without errors then you should be good

[2021-09-09 17:56] Cashe93 commented on #234
Awesome, thanks! And there are no other changes to the xml that need to be made, correct? I should be able to just add 'id' attributes and make sure they are referenced in the business logic?

[2021-09-09 18:08] Cashe93 commented on #234
@MattReimer, I know you are busy, but if you had time could we meet and walk through some of this? There are some slight differences between the RCA project xmls and the pyBRAT that I was editing. I can't seem to get anything to display in QRAVE and I feel like it spawns from my lack of understanding these differences.

[2021-09-09 19:35] Cashe93 commented on #234
Alright, one last question on this (hopefully). I can't seem to add data to the project xml. For instance, there is no entry for the NHD network. When I try to add one, I get this error message:

cvc-complex-type.2.4.d: Invalid content was found starting with element 'Vector'. No child element is expected at this point.

[2021-09-09 23:13] shelbysawyer commented on #167
@joewheaton @MattReimer Getting ArcRAVE going on this and realizing that the business logic is now broken for TauDEM in some places (for example, the hillshade is now not coming through because it has been moved from inputs to intermediates in the project xml). I'm wondering if I missed some changes? I'm wondering if, in the future, when changes are made to the project structure that are likely to

[2021-09-09 23:17] shelbysawyer opened #250 "Update TauDEM business logic to accommodate recent updates"

[2021-09-10 01:15] shelbysawyer commented on #240
Here is the updated D∞ Slope Analysis (percent) symbology:
<img width="799" alt="dinfflowdir_slp" src="https://user-images.githubusercontent.com/73311751/132782997-40b0f435-5371-4368-bd30-2e20538e128b.PNG">

[2021-09-10 03:42] philipbaileynar commented on #208
@Cashe93 I believe you and @MattReimer overcame this issue? If so, please close out this issue.

[2021-09-10 04:57] philipbaileynar commented on #164
This issue needs a telephone call to regroup. I will schedule something for next week.

[2021-09-10 15:19] MattReimer commented on #167
@shelbysawyer yes. We're so used to working in a vacuum that we forget there's downstream consequences. When the XML changes there should be some sort of heads-up for the businesslogic folks

@KellyMWhitehead, @philipbaileynar and myself should keep this in mind.

[2021-09-10 17:03] nick4rivers opened #256 "TauDEM symbology in ArcRAVE"
## The Problem
I am for some reason not getting much of the symbology for a TaDEM project (18030002) in ArcRAVE. i.e., raster layers are only showing grey scale symbology and the custom business logic is not showing.

**_NOTE_** - I run ArcMAP 10.7.1 on a parallels virtual machine on my mac - which could explain the problem.

Please see this issue in the RiverscapesDATA repo for a more complete de

[2021-09-10 19:39] shelbysawyer commented on #240
Fixed in #251

[2021-09-10 19:39] #240 closed

[2021-09-10 20:08] shelbysawyer commented on #256
@MattReimer yes-- "dem" is the intended symbology key for the pit-filled dem

@nick4rivers Let's leave this open for now and I'll get you an update on this in a few hours. I haven't worked on ArcRAVE for TauDEM for a while and need a little bit of time to dive back in and get things working again with the changes we've made over the past month. Does that work for you?

[2021-09-10 20:30] philipbaileynar opened #258 "New Program - Upper Klamath - USFWS"
Please create the following new warehouse program:

- Program Name: Upper Klamath - USFWS
- Type: Private
- Administrators:
    - Kelly
    - Philip
    - Joe
- Project Types
    - RSC
    - Channel Area
    - tauDEM
    - VBET
    - BRAT
    - RVD
    - Confinement

FYI @KellyMWhitehead

[2021-09-10 20:49] #258 closed

[2021-09-10 21:10] Cashe93 commented on #234
@MattReimer, am I able to add data to the project xml? And if so, how? When I try to add data, it gives me the error that it expects something else or nothing at all.

[2021-09-10 21:12] MattReimer commented on #234
@Cashe93 can you be more specific about "data" like actually paste what you're trying to insert.

Are we talkign about metadata? You should be able to add as much as you want without any trouble

[2021-09-10 21:34] Cashe93 commented on #234
I need to add a bunch of intermediate and output layers similar to this:
[code]

It only lets me add data into the first set of 'Inputs' (notice how I was able to add a DEM layer and Precipitation layer) but I can't get these layers to load on their own; it looks like they need to be referenced below the 'realizations' line but if I try to add anything below the realizations line, it gives me an e

[2021-09-10 21:44] nick4rivers commented on #256
@shelbysawyer - no hurry on my end. Just thought I'd bring it up and make people aware of this.

@joewheaton and @philipbaileynar - seems like maybe this QC effort is a bit premature given that we haven't finished sketching out the business logic and we don't really have a way to check on WebRAVE?

[2021-09-10 21:46] shelbysawyer commented on #256
Nic, the business logic is done and the curation for QRAVE TauDEM is running fine. ArcRAVE TauDEM will get some TLC from me today and likely also on Monday.

[2021-09-10 22:01] philipbaileynar commented on #256
Once the business logic is released, @nick4rivers remember to use the new shiny "[update resources](http://rave.riverscapes.xyz/Software_Help/arcrave_help.html#getting-the-latest-arcrave-resources)" feature to pull down the latest business logic.

[2021-09-10 22:35] MattReimer commented on #234
Ok, I see. The reason you can't add arbitrary layers is because the RCA schema doesn't expect them to be there. believe it or not this is a feature of the system and not a bug.

Some of the newer projects use more forgiving schemas but this one does not. I've made a couple of changes to the schema and it was a little tricky but I think this should unblock you.

1. You can now insert other dataset

[2021-09-10 22:41] Cashe93 commented on #234
Thank you! I will play around with this a bit more tomorrow. When adding dataset types into the realizations do I have to add a 'ref' node? Also, can I just put the intermediate datasets into the <Inputs> node so long as they are referenced correctly in the business logic?

[2021-09-10 22:46] MattReimer commented on #234
Nah. the `ref` node stuff was designed for projects with multiple realizations. We've really shied away from that so It's more complicated than you need to be. Just copy all the stuff from the `<Inputs>` above the realization and paste it in where I indicated above the `<ExistingVegetation>` tag.

Yes. I think this is fine. Just make sure to give those nodes good identifying features like `id="SOM

[2021-09-10 22:48] Cashe93 commented on #234
Perfect. Thanks for the help on this, @MattReimer!

[2021-09-11 01:31] wally-mac commented on #243
@Tanmanfalcon can you please take on this task? Thanks

[2021-09-11 01:33] wally-mac commented on #171
@Tanmanfalcon Can you please work on this next week?

[2021-09-11 16:57] Cashe93 commented on #197
@MattReimer, there is a layer that I'm trying to symbolize for BRAT that symbolizes null values. In Mapbox it won't let symbolize a 'no value' (makes me select 0). I looked at some stack exchange stuff for JSON and found that the best way to return a null is with '{ }'. Is the following line correct for symbolizing nulls? Or is there another way this can be done for webrave?
[code]

[2021-09-11 17:16] MattReimer commented on #197
Try `null`. It should be supported in the JSON. you might need to enter it manually though

[2021-09-11 18:05] Cashe93 commented on #197
Sounds good. I've changed it to the following.
[code]

[2021-09-14 03:00] joewheaton commented on #243
@philipbaileynar this is that hillshade one we were talking about.

[2021-09-16 21:43] shelbysawyer commented on #167
I'm struggling with translating the color ramps I made in QRAVE for TWI and D∞ Contributing Area into ramps that work the same way in ArcRAVE. In QRAVE, it allows you to stretch over a ramp but force color breaks at certain values. I can't figure out how to make this work in ArcRAVE. As a result, I ended up categorizing them and it honestly looks terrible. How have we dealt with this in the past?

[2021-09-16 21:46] philipbaileynar opened #263 "Updated VBET business Logic to reflect layer name changes"
We have changed the VBET layer names to make them less dependent on the threshold levels. Please update the VBET business logic. Note the linked ticket specifies the name and has an example project.

https://github.com/Riverscapes/riverscapes-tools/issues/427#event-5314753902

FYI @joewheaton and @KellyMWhitehead

[2021-09-17 15:26] Cashe93 commented on #167
Hey @shelbysawyer, unfortunately I haven't dealt with this specifically. My suggestion would be to classify the raster and bin it accordingly, but it looks like you've already tried that. Would you be able to share a screenshot of the classified settings and resulting symbology when you try this in ArcRAVE?

[2021-09-18 21:34] Cashe93 commented on #197
@MattReimer, it looks like the legend is working, but the symbology is not being applied to the network.

![image](https://user-images.githubusercontent.com/49880208/133909094-12d50495-f841-4f4b-90e7-5db6d5df53e4.png)

Here is what the JSON file looks like:

[code]

[2021-09-20 15:37] shelbysawyer commented on #167
@Cashe93 Yes-- working with it again now, but I might end up posting here. Part of the problem is that when I get the symbology to behave the way I want, the layer's "legend" looks terrible.

[2021-09-20 16:02] MattReimer commented on #197
I'm on the case. Leave it with me. I'll let you know if there's something that affects any further symbologies but it's probably a bug on my end

[2021-09-20 16:22] MattReimer commented on #186
@joewheaton this issue makes no sense to me. Can we close it?

[2021-09-20 16:25] MattReimer opened #265 "Symbology for Vegetation Layers in RSContext"
Note to self: The vegetation starts in the RSContext project and is shared by lots of derivatives. This is going to take a manual export from the **Raster Attribute Table (RAT)** in order to work.

@Cashe93 I'm aiming at the following assumptions for layer symbology. Can you correct me if any of them are wrong?

* EVT
    * ***Veg Type - EVT Class***: `Existing_Veg_EVT_Class`: Just keyed off the `

[2021-09-20 17:20] MattReimer commented on #87
Closing this in favour of #130

[2021-09-20 17:20] #87 closed

[2021-09-20 18:23] MattReimer commented on #69
This was covered in: https://github.com/Riverscapes/RiverscapesData/issues/82

[2021-09-20 18:23] #69 closed

[2021-09-20 20:07] joewheaton commented on #181
@MattReimer I think what happened was over here I was showing @nick4rivers how these templates worked and one of us just clicked on the create issues. I am closing each for now. @nick4rivers these tasks all need to get done still and we can just create them as sub-issues if necessary to add more detail.

[2021-09-20 20:07] joewheaton commented on #182
Leaving issue in parent #181.

[2021-09-20 20:07] #182 closed

[2021-09-20 20:07] joewheaton commented on #183
Leaving issue in parent #181.

[2021-09-20 20:07] #183 closed

[2021-09-20 20:08] joewheaton commented on #186
Leaving issue in parent #181.

[2021-09-20 20:08] joewheaton commented on #185
Leaving issue in parent #181.

[2021-09-20 20:08] #185 closed

[2021-09-20 20:08] joewheaton commented on #184
Leaving issue in parent #181.

[2021-09-20 20:08] #184 closed

[2021-09-20 20:11] MattReimer commented on #265
iPython python code just FYI:

https://github.com/Riverscapes/RiverscapesXML/blob/evtbps/python/jupyter/veg_rasters/evt_bps.ipynb

[2021-09-20 21:22] Cashe93 commented on #265
@MattReimer, I'm currently in the field but will have answers to these questions by this evening. Sorry for the delay!

[2021-09-20 22:05] MattReimer commented on #265
No worries and no rush. Whenever you have a minute.

[2021-09-21 03:30] Cashe93 commented on #265
@MattReimer, yes those are the layers. The answers to your questions are as follows:

1. The colors for the vegetation rasters should currently exist as LYR files within the esri shared folder. The .lyr names you are looking for are:

- Existing_Veg_EVT_Class
- Existing_Veg_EVT_Name
- Existing_Veg_Riparian
- Historic_Veg_BPS_Name
- Historic_Veg_Riparian

Is this what you meant by colors?

2. The R

[2021-09-21 16:17] MattReimer commented on #265
OK. thanks. that's what I need.

[2021-09-21 17:28] #211 closed

[2021-09-21 17:31] Cashe93 commented on #206
@MattReimer, as discussed before, thanks to the work of @leallysmith, the legacy project XMLs have been edited for the majority of these and should be good to go. Let me know when you can meet to discuss further steps.

[2021-09-22 00:29] joewheaton commented on #263
@philipbaileynar and I already fixed this in: https://github.com/Riverscapes/RiverscapesXML/pull/266

[2021-09-22 00:29] #263 closed

[2021-09-22 20:12] Cashe93 commented on #206
Here are public links to three representative pyBRAT projects.

- [BigSandy_14040104](https://usu.box.com/s/tth07ltb248zuxv1iqpbpfdqr9sz7eon)
- [BigChicoCreekSacramentoRiver_18020157](https://usu.box.com/s/a9fkgvw6zcw863t58bdjz5ej46u8iizn)
- [AmericanFalls_17040206](https://usu.box.com/s/15xh9kjbt1acn4s3om1dkbma9v78lqdt)

[2021-09-22 20:46] CHafen commented on #233
@joewheaton I'm getting really close with this. But I have run into a few issues. First, the symbology for Tier 3 In Channel Sub Geomorphic Units does not include a category of "Riffle." The areas don't have a color in the below image are categorized as "Riffle" in the attribute table, but "Riffle" does not have an assigned color.
![Tier3GU_image1](https://user-images.githubusercontent.com/3983788

[2021-09-22 22:46] joewheaton commented on #233
Hi @CHafen we do have riffle symbology for Tier 3 GU that is orange. It is in the https://github.com/Riverscapes/pyGUT/blob/master/GUTSymbology/LYR/out_Tier3_GU.lyr

They should be orange. Here they are working in ArcRAVE:
![image](https://user-images.githubusercontent.com/9723905/134431566-5ad058c6-4c45-4551-beb1-df33b1193499.png)

You are helpfully pointing out that the sub GUs look like garbage

[2021-09-22 22:58] joewheaton commented on #233
Lets change these slope to be consistent with what GCD does:
Degrees:
![image](https://user-images.githubusercontent.com/9723905/134432529-95b7f274-6322-4695-9d9f-b20295542b26.png)
Percent can use similar colors but maybe:
0 to 0.5%
0.5 to 1%
1% to 2%
2% to 5%
5% to 10%
10% to 15%
15% to 30%
30% to 50%

In other words, lets make them categorical. Thanks!

[2021-09-23 15:27] joewheaton opened #270 "Potential Bug in `BRAT.xml` Business logic or XSD error checking?"
**Describe the bug**
![image](https://user-images.githubusercontent.com/9723905/134536516-e5a608d3-008a-4e76-9e09-13220bc1eb7d.png)

Report does actually work and is showing up correctly in QRAVE though.
![image](https://user-images.githubusercontent.com/9723905/134536896-420ba10b-8407-49f5-a556-5976b2c25b79.png)

So, maybe this is just an XSD validation thing? I vaguely recall @MattReimer mention

[2021-09-23 15:36] joewheaton opened #271 "Decide what to do about exposing databases with BL"
I noticed this minor problem in #270 that is a legacy from when BRAT was truly just a sqlite DB and shapefiles. We have this line in our business logic which is causing RAVE to break, but is not displaying anything because the `xpath="SQLiteDB"` no longer exists in the project file.

https://github.com/Riverscapes/RiverscapesXML/blob/691108896b92158cea56ae9f67cfbdb3112f9922/RaveBusinessLogic/BRAT.

[2021-09-23 15:36] MattReimer commented on #270
hey @joewheaton. I'm not 100% sure but this is likely an old cached copy of the XSD that's causing problems

1. shut down VSCode completely
2. Go to your used folder (usually somethin like `c:\Users\MYNAME\`)
3. Look for a `.lemminx` folder. Inside that you should find a `cache` folder
4. Delete the `cache` folder completely.
5. Open up VSCode

[2021-09-23 15:40] philipbaileynar commented on #271
Definitely fix the empty reference to point to the brat.gpkg. I wouldn't elevate the other ones. They are on disk if people want them.

Views are easy peasy to create. And if the views has less than say 50 records then I say promote it to the report.

[2021-09-23 15:42] MattReimer commented on #271
@joewheaton this line is leftover like you said. It doesn't cause any harm at all and will be totally ignored when loading newer projects that don't have a sqlitedb. We left it in here as a transition while there were both types of projects in the system. It's kind of a neat but unintended feature of BL xmls that they can support a few similar versions of project xmls in a limited way.

the xml no

[2021-09-23 15:45] philipbaileynar commented on #271
As a DB nerd, I like quick access to the geopackage SQLite database in the software of my choosing (i.e. outside GIS) to run some queries. I say we keep the `SQLiteDB` node and point the path to the brat.gpkg file.

[2021-09-23 15:55] MattReimer commented on #271
I don't think this will work as intended @philipbaileynar since the default action on a lot of systems for a gpkg file will be to load QGIS. For this to work people would need to have sqlite DB software installed AND have gpkg keyed to that software as a default mime type. This is potentially confusing for anyone that isn't you or I and that's definitely not where we want the confusion to sit.

My

[2021-09-23 16:02] philipbaileynar commented on #271
OK, I don't feel strongly. Agreed. Remove node.

[2021-09-23 16:19] joewheaton commented on #271
So @MattReimer file associations are always a shit-show, but I have the most recent version of QGIS installed and a `*.gpkg` has no file association. Even the old exposure of this only worked based on the file association being there and for those with some SQLite viewer it worked. We have other things potentially exposed (e.g. PDFs and images) that only work according to the user's file associati

[2021-09-23 16:28] joewheaton commented on #270
Well voilà! As instructed goes away:
![image](https://user-images.githubusercontent.com/9723905/134545905-0c50fd37-20b0-4093-ad0e-9262d1d9ca39.png)

Thanks @MattReimer. I made https://github.com/Riverscapes/riverscapes-website/commit/818a9de777a7a680517887b3ed05a49bf2e5e88f to update documentation here: https://riverscapes.xyz/Tools/Technical_Reference/videos.html#xml-validation-in-visual-studio-c

[2021-09-23 16:28] #270 closed

[2021-09-23 16:40] joewheaton commented on #271
Excellent points @MattReimer. I am going to give this a try and see how we like or don't like it.

[2021-09-23 16:55] joewheaton commented on #271
BTW @MattReimer if we take your suggestion of

, which  I like, the syntax needs to be:
[code]
because the `Inputs\`, `Intermediates\` and `Outputs\` is already specified in the parent node xpaths on most these BLs.

[2021-09-23 16:56] joewheaton commented on #271
@philipbaileynar, lets see if this annoys us or we like it and if we like it I will have @Cashe93 or someone do it for all our Production grade tools.

[2021-09-23 16:56] #271 closed

[2021-09-23 17:00] philipbaileynar commented on #271
Talked to @MattReimer and he made me realize that referencing all our files multiple times creates a lot of noise and maintenance. It also bloats the business logic tree, which if we are not careful will end up resembling the folder/file path tree, which is exactly what we set out to avoid.

I now prefer not listing Geopackages. Down the road we can contemplate ways of doing right click on data la

[2021-09-23 17:49] joewheaton opened #273 "Symbology for Velocity Raster Layer in Hydro Project Type"
## Specification
*Project Type*:  `Hydro`
*Layer(s)*:
Velocity Magnitude
*Type(s)* - Raster

## Description and/or Explanation of Need
Get going in WebRave and QRAVE

## Example(s) of Inspiration
![image](https://user-images.githubusercontent.com/9723905/134558079-a06ba1e7-d6fc-4135-9700-1c2c13072b70.png)

-------
## To-Do
- [ ] Start new branch with descriptive name for these changes (e.g. curati

[2021-09-23 17:56] joewheaton opened #274 "Symbology for Breaklines Layer in Topo Project Type"
## Specification
*Project Type*:  `Topo`
*Layer(s)*:
Breaklines

*Type(s)* -  Vector

## Description and/or Explanation of Need
Lorem ipsum

## Example(s) of Inspiration
![image](https://user-images.githubusercontent.com/9723905/134559146-fd9166d3-d80c-4540-a2d0-89b05fb08bb3.png)

-------
## To-Do

- [ ] Start new branch with descriptive name for these changes (e.g. curation_Topo_Breaklines)
- [ ]

[2021-09-23 19:20] CHafen commented on #233
Thanks for the feedback @joewheaton. I will work on updating the Tier 3 sub GU symbology.
Do you want me to just change the bfSlope_Percent raster to categorical or should I change all 5 slope raster files in GUT ( In-Channel DEM Slope Raster, Bed Slope SD Raster, bfSlope_Percent, bfSlope_Percent_Smooth and Smoothed Bankfull Surface Slope Raster) to categorical ?

[2021-09-23 19:23] joewheaton commented on #233
@CHafen go ahead and change all 5 slope raster files please. That change will need to be for all 3 I'm afraid (i.e. QRAVE, ArcRAVE and WebRAVE). But lets keep chipping away. Thanks. @nick4rivers FYI...

[2021-09-23 19:27] CHafen commented on #233
Ok, sounds good @joewheaton I was having trouble with converting the symbology for those files anyway and I think it will convert to a qml better if it's categorical.

[2021-09-23 20:43] CHafen commented on #233
@joewheaton here is what I came up with for the new Tier3_SubGU symbology. Let me know what you think.
![Tier3GU_newsymbology1](https://user-images.githubusercontent.com/39837888/134580839-d8f7e244-f720-44ff-8cd4-fb72d8fcad09.png)

[2021-09-26 00:17] joewheaton opened #276 "Expose Channel Area and TauDEM Projects to have log files, reports and geopackages exposed"
When I did quick QC for https://github.com/Riverscapes/RiverscapesData/issues/89 I noticed some inconsistencies and lack of exposing our logs and reports. Copying what we just did for BRAT (#271) for geopackages too.

[2021-09-27 20:54] Cashe93 commented on #206
@joewheaton, could you advise me on which of [these](https://github.com/Riverscapes/RiverscapesXML/issues/206#:~:text=blah%3C/Meta%3E%0A%0A%20%20%3C/MetaData%3E%0A%20%20...-,Projects,Sprague,-To-Do) projects need their own program, and which ones can be placed into existing programs?

[2021-09-27 21:00] #145 closed

[2021-09-27 23:27] joewheaton commented on #206
Sure. These are all for pyBRAT projects that we'll upload I am assuming.

|Project | HUC 8 Project Count | Exists or Need New| Program Name (link if existing) | Program URL (link if existing) |
|-------|-------|-------|----------|---------|
| [Idaho BRAT](http://brat.riverscapes.xyz/Regions/USA/IDFG_Idaho/) | 84 | New  | Idaho Department of Fish & Game | IDFG |
| [TNC BRAT](http://brat.riverscapes

[2021-09-28 00:08] Cashe93 commented on #206
Awesome! Thanks, @joewheaton

[2021-09-28 21:37] joewheaton commented on #243
@Tanmanfalcon and @Cashe93 can you give an update on this one please? I thought this might be done?

[2021-09-28 21:57] Cashe93 commented on #243
Any updates on this @Tanmanfalcon? If it hasn't been completed, this shouldn't take too long.

[2021-09-28 23:15] Cashe93 commented on #243
@joewheaton, I've just made a pull request with these changes.

[2021-09-29 01:25] MattReimer commented on #243
I just merged that change.

[2021-09-29 01:25] #243 closed

[2021-09-30 19:57] lauren-herbine commented on #133
In order to properly symbolize "Constriction Proportion" in WebRave, I need a project that displays the full range of possible values. Right now, the only [three projects](https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch) we have for confinement have very very low constriction values across the entire HUC. This is related to [Issue 13](https://github.com/Riverscapes/Rivers

[2021-09-30 21:12] CHafen commented on #233
@joewheaton, I've been working on the categorical symbology for the slope rasters for GUT. Images below of what the bfSlope_Percent and In-Channel DEM Slope Raster look like with the new categorical symbology I've create.
The Bed Slope Standard Deviation Raster has a corresponding Shapefile that is categorical already (High, Moderate, Low). Do you still want this raster to be categorical too? If s

[2021-09-30 21:12] shelbysawyer opened #283 "WebRAVE VBET Curation"
[VBET Project to test
](https://northarrowresearchlabs.github.io/webrave-staging/#/Anabranch/73d8f3b4-88e0-49c2-b17b-eb0361699f04)

**Updated 10/25/2021**

- [x] Author symbology files for WebRAVE
- [x] Provide link in commit to webRAVE of project it can be tested on
- [x] Make pull request for just WebRAVE changes. Choose appropriate reviewer(s)
- [x] After pull request(s) merged, test in WebRAVE

[2021-09-30 22:35] joewheaton commented on #133
My understanding from @philipbaileynar is that @KellyMWhitehead has started running the 20 HUC 8s for the Mississippi. Those should be looking good. However, I can't remember if they are going to run confinement right now. They could.

There is also a new confinement based on new channel area and VBET in the [Klamath](https://gist.github.com/joewheaton/46c6dca19d1972127cf71df0042bdafa), which you

[2021-09-30 22:38] philipbaileynar commented on #133
No confinement is not finished.

[2021-10-01 19:36] shelbysawyer commented on #283
After merged, review layers:
- [ ] Likelihood of being Valley Bottom
- [ ] Estimated Active Channel
- [ ] Estimated Active Floodplain
- [ ] Estimated Inactive Floodplain
- [ ] Valley Bottom Extent (Hollow)
- [ ] Valley Bottom Extent (Filled)
- [ ] Slope
- [ ] HAND
- [ ] TWI
- [ ] Normalized Slope
- [ ] Normalized HAND
- [ ] Normalized TWI
- [ ] Normalized Topographic Evidence
- [ ] Catchment Wing

[2021-10-01 21:49] shelbysawyer opened #285 "DEM"

[2021-10-01 21:59] shelbysawyer commented on #283
@MattReimer I tested the layers after the merge in the VBET project linked above. Some layers are working (checked off on list) and some aren't (unchecked). For some reason, a lot of the rasters aren't working (coming in fine, but without color). I did the steps you listed [here](https://github.com/Riverscapes/RiverscapesXML/blob/master/docs/Symbology/webRAVERasters.md#palletted-unique-colors), wh

[2021-10-01 22:55] MattReimer commented on #283
@shelbysawyer webrave rasters are tricky because the tiles have to be rebuilt entirely every time you make a change to the symbology.

Luckily I've queued a rebuild earlier today so you should start seeing the updated rasters getting populated.

Next week I expect to have some of the more functional problems of webRave solved and then I'll be turning my attention to individual layers and things li

[2021-10-01 23:35] MattReimer commented on #283
FYI: Here's a taudem that seems to be symbolized correctly:
https://northarrowresearchlabs.github.io/webrave-staging/#/Anabranch/6146ca4d-5068-488c-b4ab-e6f7892ecbad

Here's a VBET

https://northarrowresearchlabs.github.io/webrave-staging/#/Anabranch/95a6498e-d9ff-4f59-a544-dd1b573a4576

I seem to have broken vectors in the process though.... DOH! Oh well. That's monday.

[2021-10-05 21:13] CHafen commented on #233
I'm having some issues with converting the raster stretched symbology. When I convert them to a .qml it always brings it in with different parameters than ArcMap making it so they don't look the same. See figure below. I'm not sure why the .qml seems to be changing the parameters or how to fix it.  I think the only exception to this is the DEM which comes in just fine, but the DEM symbology was al

[2021-10-13 16:17] philipbaileynar opened #287 "Re-order all active business logic with hillshade on bottom"
We always want the project hillshade as the bottom layer in the map for context, with other layers on top. However,  WebRAVE adds layers to the map in the same order that they appear in the business logic. Currently the "inputs" folder is above intermediates and outputs, which means the hillshade raster often appears on top of other rasters. We have [known this for some time](https://github.com/Ri

[2021-10-13 17:46] MattReimer opened #288 "HAND Raster symbology for WebRAVE does not match QGIS"
The color ramp does not match the current one for QRAVE.

https://github.com/Riverscapes/RiverscapesXML/blame/master/Symbology/web/Shared/hand.txt

[2021-10-13 17:50] #288 closed

[2021-10-13 19:38] #287 closed, assigned to MattReimer

[2021-10-14 04:17] MattReimer commented on #288
The fix for the DISCRETE rasters seems to have solved this.

Tiles are rebuilding now but here's an example of HAND that's already rebuilt
https://northarrowresearchlabs.github.io/webrave-staging/#/Anabranch/8f4e9bac-ea2b-4034-8deb-199384daf911

[2021-10-14 04:25] MattReimer commented on #276
This is merged so I'm closing it. I manually checked the ChannelArea and Taudem projects and they have these items.

[2021-10-14 04:25] #276 closed

[2021-10-14 04:26] MattReimer commented on #256
@nick4rivers we should be ready to close this issue. Can you just check quickly that it's working for you?

[2021-10-14 04:30] MattReimer commented on #197
We should be ready to finish this off. @Cashe93 it's in your court.

[2021-10-14 04:31] MattReimer commented on #130
We now have fixes for both the discrete and the exact raster types.

INTERPOLATION:EXACT is what we need to use for categorical rasters and you can see this in play here:

https://github.com/Riverscapes/RiverscapesXML/blob/master/Symbology/web/Shared/Existing_Veg_EVT_Riparian.txt

[2021-10-14 04:33] MattReimer commented on #13
We should be able to accomplish this now with our Meta types fix.

- #42
- #10

[2021-10-14 04:33] #13 closed

[2021-10-14 04:43] MattReimer commented on #164
@Tanmanfalcon  This should be resolved now that we have

- #265

Give it a try and let me know. I'm assigning this back to you.

[2021-10-14 04:47] MattReimer commented on #169
ArcRave is updated. @Tanmanfalcon we should be unblocked here to resume this.

[2021-10-14 18:26] Cashe93 opened #292 "Potential Bug in"
**Missing data in pyBRAT Montana run**

I first noticed this while trying to edit the project.xml for the Montana pyBRAT run. I was accessing the folder from [here](https://usu.box.com/s/208xadbwc5k7jwbmkjbnxa8vn0lgk6m2) on Box and I recently tried downloading the folder from [here](https://data.riverscapes.xyz/#/BLM) on the warehouse, but with the same result. The folders are there, but the actua

[2021-10-15 20:36] lauren-herbine opened #293 "Potential Bug in Channel Area WebRAVE"
**Describe the bug**
WebRave is not opening Channel Area projects centered on the HUC. They are often mostly in view, but off in a corner somewhere. Additionally, there is a "tile timeout" that I am encountering in [10190002](https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/317bd443-38e6-47f7-9a3e-beef69b0c2f6). See video:
[![Alt-text](https://img.youtube.com/vi/XNAqlgDmO-

[2021-10-15 21:43] MattReimer commented on #293
Great issue, let me address this a point at a time:

1. The "timeout" issues are a problem tiling the rasters on the server. Nothing you need to worry about and nothing you can do about it. About 3% of the tiles are timing out. I can't solve these right now so maybe choose another project.
2. The map centering issue is a real thing and It's definitely something I need to fix. It's actually related

[2021-10-15 21:43] #293 closed, assigned to MattReimer

[2021-10-16 03:49] joewheaton commented on #285
@shelbysawyer, I suspect this is now fixed with all the latest changes @MattReimer has made to WebRAVE. [Here's one](https://northarrowresearchlabs.github.io/webrave-staging/#/Anabranch/e9e4e957-ba92-47cb-b190-12cf4521f0e5) I was just poking around in:
![image](https://user-images.githubusercontent.com/9723905/137572702-d3450f21-4021-47d0-b591-81d2bb621d5c.png)

[2021-10-16 03:56] shelbysawyer commented on #285
@joewheaton You're right-- I have a video I need to post, and this issue is addressed in it. Please leave this open for now and I'll close with the video when I upload.

[2021-10-16 04:06] joewheaton commented on #288
Looks good to me now! Spot checks:
HAND in a [VBET](https://northarrowresearchlabs.github.io/webrave-staging/#/Anabranch/a221138b-668b-4d65-b15d-f4bf1679374b)
![image](https://user-images.githubusercontent.com/9723905/137573196-317f39f4-9ced-4b2f-8550-3fa314ad3d55.png)

HAND in a [TauDEM](https://northarrowresearchlabs.github.io/webrave-staging/#/Anabranch/ac92e105-8d66-43fe-bc7e-2b3b24537f12)
![i

[2021-10-16 19:02] joewheaton commented on #292
That's a good question... I was not involved, but it sounds like an incomplete upload. Ask @wally-mac if there is anywhere else to look.

[2021-10-16 19:28] MattReimer commented on #197
Hey @Cashe93.

### Couple of preliminary things:

1. **Links please**: Please always drop a link for the address of what you're seeing so I don't have to go hunt it down. Also when you do screenshots can you not crop them so much. Sometimes the context of what's around them is kind of important for debugging. Better to include the whole window and then mark it up with text/arrows or pointers to wh

[2021-10-18 15:54] lauren-herbine opened #295 "Potential Bug in Confinement Confining Polygon display"
**Symbology between projects isn't consistent, nor does it seem to follow the BL/symbology**
The [confining poly](https://github.com/Riverscapes/RiverscapesXML/blob/master/Symbology/web/Confinement/confining_poly.json) for confinement is displaying differently (either correct color but opaque, or incorrect color with correct transparency) in different projects.

[![Alt-text](https://img.youtube.co

[2021-10-18 16:15] MattReimer commented on #295
Ok. Yeah. It's a bug. Transparency from the Businesslogic isn't coming through.

I think the wrong color thing is a fluke. Try hard reloading the page and see if it persists. I show the right color on my end.

[2021-10-18 18:33] Cashe93 commented on #197
Thanks! Also,  I've looked into these issues a bit more and it appears that the projects themselves have erroneous outputs. For each of the three BRAT Projects that can be found on the staging server [here](https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch), the attributes for all outputs and a handful of intermediates are 'null'. [See this brief video](https://vimeo.com/63

[2021-10-19 16:29] philipbaileynar opened #297 "Implement Definition Queries Business Logic"
There's lots of interest in being able to filter out vector features in some of our feature classes in RAVE. See discussion #154 for how I have proposed doing this using definition queries. There are two unknowns before we can move forward:

1. How do definition queries differ between ArcGIS and QGIS and also ShapeFile v GeoPackage?
2. What are the implications for WebRAVE (can tippecanoe take an

[2021-10-19 18:45] joewheaton commented on #297
The issue as to whether or not we can deal with this in WebRAVE is a separate issue... and yes @MattReimer could be tricky.

[2021-10-19 20:19] shelbysawyer opened #298 "HAND class for values >250 m not being represented"
referring to
#283

I'm pretty sure this is fixed thanks to this fix:
- https://github.com/Riverscapes/rs-web-monorepo/issues/151

But I'll need to rebuild the raster tiles and see if that's true

[2021-10-19 20:38] joewheaton opened #299 "Potential Bug in VBET for ArcRAVE"
**Describe the bug**
I have not looked at VBET for a long time in ArcRAVE. It is not  working correctly for symbology.  I suspect @shelbysawyer we either never got back around to this (now is the time) or we broke it in other updates that @MattReimer or I made to BL. Either way, can you please fix it to be consistent with QRAVE?

**Updated 10/31/2021 by @shelbysawyer:**
Outputs
- [x] Valley Bottom

[2021-10-19 23:07] MattReimer commented on #197
aaaaaaaand fail again. Kelly hooked me up with some untested fixes though so third time's the charm. Kicking it off again...

[2021-10-20 16:32] #298 closed, assigned to MattReimer

[2021-10-20 16:32] shelbysawyer commented on #283
@lauren-herbine Nope, just having it in Shared will do the trick :) Thanks!

[2021-10-20 17:24] Cashe93 opened #300 "Test sqlBRAT in WebRAVE"
**BRAT in WebRAVE**
*Project Type*: BRAT
*Layer(s)*: All (Vectors and Raster)
*Project Tested*: https://northarrowresearchlabs.github.io/webrave-staging/#/Anabranch/f20d6d07-6d2c-4188-bbf4-5d4405ddad4b

1. Compile a list of layers that need edited symbologies
- [x] Risk (complete)
- [x] Zero or Null DA (complete)
- [ ]  Flow Direction
- [x] River Polygons (complete)

2. Compile a list of potential

[2021-10-20 18:27] joewheaton commented on #169
@Tanmanfalcon and @wally-mac please provide update on this.

[2021-10-20 19:27] Cashe93 commented on #300
**Existing Dam Capacity**

![image](https://user-images.githubusercontent.com/49880208/138156999-73a3fb11-8bec-4c10-bc3c-5b9bff36398d.png)

**Existing Dam Size**

![image](https://user-images.githubusercontent.com/49880208/138157197-bbf488bd-ee60-4bfb-ac65-e67382bb06d5.png)

**Historic Dam Capacity**

![image](https://user-images.githubusercontent.com/49880208/138157525-cb5e8770-feb1-4b53-9649-6b3

[2021-10-20 21:03] wally-mac commented on #171
@Cashe93 can you please provide an update on this based on the discussion you had recently with Matt? It sounded like there were some hurdles that needed to be overcome.

Thanks!

[2021-10-20 21:15] wally-mac commented on #292
@Cashe93 can you please reach out to Claudine to get these data? Claudine.Tobalske@mso.umt.edu

[2021-10-20 21:25] MattReimer commented on #298
And finally. Just for completeness I'll mention that the tile rebuild is done.

the following raster symbologies are affected so you might notice some changes with them too:
`detrendDEM,fair_market,hand,dinfflowdir_slp`

[2021-10-20 22:41] Cashe93 commented on #300
**Perennial**

![image](https://user-images.githubusercontent.com/49880208/138160901-8d612a59-3209-4496-806d-1e3cd620ebb8.png)

**Zero or Null DA**

This symbology needed to be updated. Fixed on 10/20/21 and will be part of the next pull request.

**Slope**

![image](https://user-images.githubusercontent.com/49880208/138166904-c752951d-379b-433d-8854-6723eb887b59.png)

**Drainage Area**

![image](

[2021-10-21 01:15] joewheaton commented on #300
@Cashe93 this is really great with the screen shots. Can you for other ones include the link to project you are testing on: https://northarrowresearchlabs.github.io/webrave-staging/#/Anabranch/f20d6d07-6d2c-4188-bbf4-5d4405ddad4b

I found inconsistent display of many of these layers in that project at coarser zoom levels. For example, capacity does not show up at all from zoom extents (9) down to

[2021-10-21 01:23] joewheaton commented on #292
@philipbaileynar said we've got this now?

[2021-10-21 01:42] philipbaileynar commented on #292
I am unaware of any progress on this. I was referring to map tiles for pybrat layers not in web projection

[2021-10-21 01:45] Cashe93 commented on #292
@joewheaton and @philipbaileynar, I've requested the downloadable projects from Claudine and am waiting to hear back.

[2021-10-21 17:46] Tanmanfalcon commented on #164
@MattReimer @joewheaton the vegetation rasters look great, exactly how they should in Q and Arc. Thanks for coming up with that fix.

[2021-10-21 17:59] joewheaton commented on #164
I don't know what amazing magic that @MattReimer pulled, but I echo the thanks! I've just noticed they look great in RS Context and BRAT in webRAVE!

[2021-10-21 19:45] Cashe93 opened #306 "Distance to ... Intermediates not displaying"

[2021-10-21 19:46] Cashe93 opened #307 "Distance to ... Intermediates not displaying"
**The following layers are not displaying in WebRAVE but do display in both QRAVE and ArcRAVE**

- Distance to nearest infrastructure
- Distance to Railroad
- Distance to Railroad in Valley Bottom
- Distance to Road
- Distance to Road Crossing
- Distance to Road in Valley Bottom
- Distance to Points of Diversion
- Distance to Canals/Ditches

I've looked at xpaths as well as symbology references an

[2021-10-21 21:07] MattReimer commented on #307
Found the problem. The first parameter of value "0" is implicit so

[code]

should actually be

          "line-color": [
              "step",
              ["get", "iPC_RailVB"],
              "hsl(8, 100%, 50%)",
              30,
              "hsl(8, 100%, 50%)",
              30.00001,
              "hsl(36, 100%, 50%)",
              100,
              "hsl(36, 100%, 50%)",
              10

[2021-10-21 21:12] MattReimer commented on #300
@Cashe93 don't change the zoom values in the "select data" tab.  What you want to do is "Style across zoom ranges"
<img width="939" alt="Screen Shot 2021-10-21 at 2 10 16 PM" src="https://user-images.githubusercontent.com/1063391/138357315-fb507d94-3c4b-401b-8f35-b564a00d4e29.png">

That will let you have different styles on different ranges.

[2021-10-21 21:44] Cashe93 commented on #300
@MattReimer, poor choice of words on my end. I haven't been manually changing the zoom values, I've just been leaving defaults which as far as I can tell are the lowest Min and the highest Max. But, even when you style across zoom range and set the Min to 0, it still doesn't move below 11.

[2021-10-22 00:00] joewheaton commented on #168
And what, dare I ask, exactly of the above had to be done for the LANDFIRE stuff originally?

[2021-10-25 21:30] shelbysawyer opened #314 "Updates to VBET Business Logic & WebRAVE/QRAVE Symbology"
Right now, `Rasterized Channel Area` is not being exposed in VBET projects because the id/source changed (from `rasterized_channel` to `CHANNEL_AREA_RASTER`) and the VBET business logic was not updated to reflect this.

So, I need to:
- [x] Update BL to the correct id
- [x] Update BL to un-collapse Evidence Rasters
- [x] Update the name of the qml file
- [x] Create txt file, add to Shared web fold

[2021-10-25 23:58] joewheaton commented on #283
Thanks @shelbysawyer. Answers below

Yes, please fix. It is hard to see with out that darker outline.

I can live with these differences for now. Someday maybe we will figure out how to get them close, but lets move on ;).

Great job.

[2021-10-26 22:25] philipbaileynar opened #317 "New Warehouse Program"
New warehouse program required for some cyber castor runs:

- Program Name: Bear River Resilience Bond
- Machine Code: BEAR
- Project Types at HUC8 level:
    - RSC
    - Channel Area
    - tauDEM
    - VBET
    - BRAT
- Owners:
    - Joe
    - Philip

[2021-10-27 17:24] #317 closed, assigned to MattReimer

[2021-10-27 21:16] #307 closed, assigned to Cashe93

[2021-10-27 21:17] leallysmith opened #319 "WebRAVE w/ RSContext PRISM data symbology"
Following screenshots are from RSContext for 17060304
[https://northarrowresearchlabs.github.io/riverscapes-staging//#/BRAT_CRB/9330f8f2-6139-47fb-a0dc-d185476b030c](url)

All PRISM data for project have the same color ramp but the value breaks are assigned differently for each PRISM data in WebRAVE

minimum temperature note value breaks in legend
![image](https://user-images.githubusercontent.com

[2021-10-27 22:24] Cashe93 opened #322 "WebRAVE - Triangle or Arrow SVG as part of Flow Direction Symbology"
**Description**

The Flow Direction network symbology requires arrows, indicating the direction of flow. I have not been able to find a way to do this in MapBox

Here is an example of what we are going for from ArcRAVE

![image](https://user-images.githubusercontent.com/49880208/139155978-15a61148-9229-463d-b9c5-e4a1bee89cb8.png)

[2021-10-27 22:41] Cashe93 opened #323 "Test sqlBRAT in QRAVE"
**BRAT in QRAVE**
*Project Type*: BRAT
*Layer(s)*: All (Vectors and Raster)
*Project Tested*: https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/b85ee4f3-5d90-42f0-a3c0-56deb79fdd85

[2021-10-28 00:13] #323 closed, assigned to nobody

[2021-10-28 00:36] Cashe93 opened #324 "Test sqlBRAT in ArcRAVE"
**BRAT in ArcRAVE**
*Project Type*: BRAT
*Layer(s)*: All (Vectors and Raster)
*Project Tested*: https://northarrowresearchlabs.github.io/webrave-staging/#/Anabranch/ecd62e99-c4e8-4b09-b788-383951ab7ef6

[2021-10-28 00:37] #300 closed, assigned to Cashe93

[2021-10-28 18:20] leallysmith opened #327 "Testing RSContext in WebRAVE"
RSContext in QRAVE
Project Type: RSContext
Layer(s): All (Vectors and Raster)
project: 05140201 [https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/21d84bcb-f433-492f-a039-ecbf355268e4](url)

HUC ID: 05140201

# Issues

**Fixed 10/28/21**
~~**Perennial Drainage Layer**
3 symbologies in Q but only 1 in Web~~
![image](https://user-images.githubusercontent.com/89225401/13931431

[2021-10-28 18:48] #314 closed, assigned to shelbysawyer

[2021-10-28 20:32] Cashe93 opened #328 "Symbology for HUC Boundaries"
*Project Type*:  Riverscapes Context
*Layer(s)*: HUC Boundaries
*Type(s)* -Vector

## Description
I'm attempting to symbolize HUC boundaries for RS_Context to be similar to something like the QRAVE symbology

![image](https://user-images.githubusercontent.com/49880208/139326554-386c4eed-0379-4d5b-a84a-646816798682.png)

## Issue
I'm running into two (potential) issues.

1. In Mapbox, when you add

[2021-10-28 22:47] leallysmith opened #330 "Testing RSContext in QRAVE"
RSContext in QRAVE
Project Type: RSContext
Layer(s): All (Vectors and Raster)
Project Tested: https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/9ed46e80-1b73-4051-ae04-f8082fc9d871

HUC ID: 10130203

[2021-10-28 23:05] Cashe93 opened #331 "Not Sure How To Symbolize Segmented Hydrography Layers"
@joewheaton, I'm working on RS_Context symbology and noticed that there is no symbology for the following layers, and I'm not sure how you want them symbolized. What attributes to use? Value cutoffs? Etc. Any guidance would be greatly appreciated.

- **NHD Flowlines Segmented 300m**
- **NHD Flowlines intersected with road, rail, and ownership, segmented to 300m**

Here is the project I'm currently

[2021-10-29 03:30] #328 closed, assigned to MattReimer, joewheaton

[2021-10-29 18:11] MattReimer commented on #322
Punting this to 0.3 and re-assigning @Cashe93. I think the UTF8 workaround is our best bet here. No rush on this though

[2021-10-29 18:42] Tanmanfalcon opened #335 "Testing RSContext in ArcRAVE"
**RSContext in ArcRAVE**
*Project Type*: RSContext
*Layer(s)*: All (Vectors and Raster)
*Project Tested*: https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/9ed46e80-1b73-4051-ae04-f8082fc9d871

HUC ID: 10130203

[2021-10-29 18:44] Cashe93 commented on #209
@wally-mac and @joewheaton, perhaps you guys could fill me in on what these validation layers are supposed to be portraying?

- Risk Validation Flooding
- Risk Validation TreeCutting
- Data Capture Validation

These are the three that would need to be included, but it would be helpful to know what they are depicting, and more specifically which attribute field is unique and should be symbolized fo

[2021-10-29 18:59] Cashe93 commented on #209
Also, in order to add the Flooding and TreeCut risk validations, we would have to go back and add them to every legacy project since they weren't included in the original. However, Data Capture Validation should already be included in the project XMLs.

[2021-10-29 19:00] Tanmanfalcon commented on #335
# Transportation

**Roads**

**Rails**

# Hydrology

**Perennial Drainage Network**

**Intermittent Drainage Network**

**Ephemeral Drainage Network**

**Network - Upstream Drainage Network**

**Full NHD HR+ Drainage Network**

**Drainage Wings**

**River Polygons (NHD Area)**

**Lakes, Ponds, Reservoirs and Water Bodies**

**Canals and Ditches**

**Pipes and Ditches**

# Estimated Bankfull

**Est

[2021-10-29 19:02] MattReimer commented on #319
@Cashe93 this one is a pretty easy fix I think

Take a look a this:
https://github.com/Riverscapes/RiverscapesXML/blob/master/Symbology/web/RSContext/temperature.txt#L2

If you change `INTERPOLATION:INTERPOLATED` to `INTERPOLATION:EXACT` then it will use the ramp values literally and not rescale them to the extents of the raster data.

This fix applies everywhere too in cases where the absolute va

[2021-10-29 19:32] Cashe93 commented on #319
Awesome @MattReimer! I've just submitted a pull request with these changes. #337

[2021-10-29 19:43] Tanmanfalcon commented on #335
Everything displays with proper symbology.

[2021-10-29 19:46] #319 closed

[2021-10-29 19:50] CHafen commented on #324
@Cashe93 The Unsuitable or Limited Opportunities layer is not displaying "Potential Reservoir or Landuse Change"
It looks like this is because in the attribute table it the attribute for this is "Potential Reservoir or Landuse" (doesn't have "change"). So that symbology will need to be updated.

[2021-10-29 19:56] MattReimer commented on #319
This fix is in. I'm rebuilding the tiles for these layers now. @Cashe93 check back in an hour, refresh your browser and let me know if it looks ok

[2021-10-29 20:10] lauren-herbine opened #338 "Author symbology files for WebRAVE and provide link in commit to webRAVE of project it can be tested on"
- [x] "[Channel Area (hollow)](https://github.com/Riverscapes/RiverscapesXML/blob/master/Symbology/web/Shared/ChannelArea_hollow.json)" "ChannelArea_hollow"

  [shared](https://github.com/Riverscapes/RiverscapesXML/tree/master/Symbology/web/Shared)

- [x] "[Channel Area (filled)](https://github.com/Riverscapes/RiverscapesXML/blob/master/Symbology/web/Shared/ChannelArea.json)" "ChannelArea"

  [sha

[2021-10-29 20:11] Cashe93 commented on #319
Im out for the day,  but @Tanmanfalcon might be able to give it a look. If not, Ill try to get to it this evening.

[2021-10-29 20:54] wally-mac commented on #209
@Cashe93 great questions.  First off the Flooding and TreeCut risk validations was something we did only in the Idaho run of BRAT because IDF&G provided field based beaver conflict complaints (which included beaver caused flooding and tree cutting).  So, we will not have to reproduce this for other BRAT runs.

Secondly, for the data capture validation [here is a link ](https://usu.box.com/s/ysuuwg

[2021-10-29 21:59] Cashe93 commented on #209
Thanks,  @wally-mac!

[2021-10-31 19:53] shelbysawyer commented on #283
After one final look-through today, I'm closing this issue. No major issues remain. Minor issues (ex. tone of color for some fills) will be addressed later.

[2021-10-31 19:53] #283 closed

[2021-11-01 00:18] shelbysawyer commented on #299
Hey @CHafen, @Cashe93, @Tanmanfalcon or any other ArcMap aficionados.. I'm having an issue with getting some of the symbology that I have in QRAVE to behave the same way in ArcRAVE, summarized in this video:

[![Video Link](http://img.youtube.com/vi/6_jgGTjeQU4/0.jpg)](http://www.youtube.com/watch?v=6_jgGTjeQU4"")

Any help is greatly appreciated!

[2021-11-01 00:27] shelbysawyer commented on #299
Hey @MattReimer and/or @philipbaileynar I'm still seeing a drawing issue in VBET with RAVE 3.1 for the Catchment Wing Stream Order layer in [this](https://data.riverscapes.xyz/#/BLM/871f96ef-ec4f-4eaf-91bb-7f702e0cca36) project, shown in the video below:

[![Video Link](http://img.youtube.com/vi/xBeH9SmrJ3E/0.jpg)](http://www.youtube.com/watch?v=xBeH9SmrJ3E"")

[2021-11-01 00:59] MattReimer commented on #299
hmm. I'm going to defer to @philipbaileynar or others on this one. I'm not really an Arc user so I don't know what the best conventions or fixes are for this stuff

[2021-11-01 15:25] shelbysawyer opened #344 "TauDEM: Channel Line Input - Still Needed?"
I was making some updates to ArcRAVE TauDEM symbology and noticed that there is an input (Channel Line Input) [in the XML](https://github.com/Riverscapes/RiverscapesXML/blob/3348e39a184c45baa12af0af552ae1feae614915/RaveBusinessLogic/TauDEM.xml#L45) that doesn't show up in the project. I'm wondering if we need this and I should symbolize it or if I can remove it?

[2021-11-01 15:32] shelbysawyer commented on #250
Closing this. Updates were made in #343 with the exception of the issue raised in #344 which I am fine with tracking as a single/minor issue.

[2021-11-01 15:32] #250 closed

[2021-11-01 16:18] #256 closed

[2021-11-01 16:20] Cashe93 commented on #324
Nice find, @CHafen! I'll look into this.

[2021-11-01 16:45] Tanmanfalcon commented on #330
### Screenshots
**Roads**
![image](https://user-images.githubusercontent.com/89225401/139341232-a4ea5f55-a887-46da-b8b5-2a261db9f760.png)

**Rail**
![image](https://user-images.githubusercontent.com/89225401/139341434-f62937ce-f6a9-4131-b0b4-6e4ba94ffce4.png)

**Estimated Bankfull Width**
![image](https://user-images.githubusercontent.com/89225401/139343055-8eb17c2f-2f6e-4c2f-b644-310a09cf831e.png

[2021-11-01 16:51] Cashe93 commented on #322
@MattReimer, would I use a decimal or a hexadecimal reference? Also, where would I enter the reference?

[2021-11-01 17:06] Tanmanfalcon commented on #327
# Screenshots
all taken at zoom: 8.6 except larger HUC areas and Ecoregions
zoomed in shots at zoom 10.6

##Transportation

**Roads**
![image](https://user-images.githubusercontent.com/89225401/139304684-455dc58e-2a0f-4023-b843-42c71d997cbe.png)
![image](https://user-images.githubusercontent.com/89225401/139310605-60c094aa-8611-4885-afa3-e510fb6b9d1d.png)

**Rail**
![image](https://user-images.git

[2021-11-01 17:08] Cashe93 commented on #327
@MattReimer, here is a short video pointing out a small but weird issue I've been having with RS Context projects in WebRAVE. When I open up a project the default project view doesn't display properly, but when I add the layers individually they work. The weird thing is that I can't recreate the issue unless I restart my entire system.

https://youtu.be/ozWtbwSvVNo

[2021-11-01 17:17] Tanmanfalcon commented on #327
@Cashe93, @MattReimer
Here are some screenshots of what he is describing since I haven't opened WebRAVE on my personal laptop yet.

This is what it looks like when I first opened it
<img width="609" alt="Capture5" src="https://user-images.githubusercontent.com/79670857/139712515-9f671cee-a4d7-45a3-862a-055b26055ec6.PNG">

After I delete everything in the view panel, I re-added the same layers and

[2021-11-01 17:43] Tanmanfalcon commented on #327
# Screenshots with resolved Issues
**RSContext in WebRAVE**
*Project Type*: RSContext
*Layer(s)*: All (Vectors and Raster)
*Project Tested*: https://northarrowresearchlabs.github.io/riverscapes-staging//#/Anabranch/9ed46e80-1b73-4051-ae04-f8082fc9d871

HUC ID: 10130203

# Transportation

**Roads**

**Rails**

# Hydrology

**Perennial Drainage Network**

**Intermittent Drainage Network**

**Ephemer

[2021-11-01 17:47] MattReimer commented on #327
I've dropped this into its own issue:

- https://github.com/Riverscapes/rs-web-monorepo/issues/173

[2021-11-01 17:56] MattReimer commented on #322
You can actually just copy and paste the character directly from the UTF-8 website. No need for codes.
https://www.w3schools.com/charsets/ref_utf_geometric.asp

Like so:
<img width="1272" alt="Screen Shot 2021-11-01 at 10 53 23 AM" src="https://user-images.githubusercontent.com/1063391/139717441-a14a0938-d9e2-4385-b329-e8961c972a7e.png">

You can style the colors by copying and pasting the color c

[2021-11-01 18:32] Tanmanfalcon commented on #327
After reviewing WebRAVE and comparing with ArcRAVE (#335) and QRAVE (#330), here are a list of problems that I have found

-Precipitation map is different from Arc, probably since the color ramp is not copying over correctly

-The Fair Market Value layer will not load, but instead is stuck on "Building..."
![image](https://user-images.githubusercontent.com/79670857/139722514-d012a608-f3f5-4105-9be